@{
    ViewBag.Title = "TRMS - Manage Groups";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

@model ViewModels.Group

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Roaster Management</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="mdi mdi-format-rotate-90"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.manage") </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-4">


                            @using (Html.BeginForm("AddGroup", "RosterManagement", FormMethod.Post, new { id = "employee-form" }))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.managerid")</label>
                                        <select id="line-managers" class="form-control" name="line_manager">
                                            <option value="-1">none</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row m-t-10 m-b-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.searchemp")</label>
                                        <select id="group-employees" name="group_employees" class="form-control" multiple>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <hr />

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.searchshift")</label>
                                        <select id="group-shifts" name="group_shifts" class="form-control" multiple>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                              

                                <h4 class="text-danger m-t-10  m-b-10">&nbsp;&nbsp;&nbsp;@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.or")</h4>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.followgencal")</label>
                                        <input type="checkbox" class="checkbox" name="follows_general_calendar" value="true" checked="checked" />
                                    </div>
                                </div>

                                <hr />

                                <div class="row m-t-10">
                                    <div class="col-12 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" value="Add Group" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.add")</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    <hr>
                    <h2>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.currentlist")</h2>
                    <div class="row">
                        <div class="col-12">
                            <table id="groups_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.id")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.managercode")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.managername")</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportgrid")</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->
<!-- [START]: Dialog -->

<div style="display:none">
    <div id='group-edit-form' class='jqUI-modal' title='Edit Group'>

        <p class='validationTips'>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.allformfields")</p>
        <form id='shift_edit_modal'>

            <fieldset>

                <div class='row'>
                    <div class='col-12'>
                        <label class='control-label'>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.managerid")</label><br />
                        <select id='modal-line-manager' name='line_manager' class="form-control" style="width: 100%;">
                            <option value='-1'>none</option>
                        </select>
                    </div>
                </div>

                <div class='row m-t-10'>
                    <div class='col-12'>
                        <label class='control-label'>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.searchemp")</label><br />
                        <select id='modal-group-employees' name='group_employees' class="form-control" style="width: 100%;" multiple>
                            <option value=''></option>
                        </select>
                    </div>
                </div>
                <div class='row m-t-10'>
                    <div class='col-12'>
                        <label class='control-label'>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.searchshift")</label><br />
                        <select id='modal-group-shifts' name='group_shifts' class="form-control" style="width: 100%;" multiple>
                            <option value=''></option>
                        </select>
                    </div>
                </div>

                <div class="row m-t-10">
                    <div class="col-12">
                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("group.followgencal")</label>
                        <input type="checkbox" class="checkbox" name="follows_general_calendar" id='modal-group-follows-gc' value="true" checked="checked" />
                    </div>
                </div>

                <input type='submit' tabindex='-1' style='position:absolute; top:-1000px'>
            </fieldset>
        </form>
    </div>
</div>

<!-- [END]: Dialog -->

@section JS {

    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>

    <script type="text/javascript" src="@Href("~/Scripts/groupCRUD.js")"></script>

    <script>

        function initializeChosenSelects() {

            function initializeSelect(identifier, url) {
                $(identifier).ajaxChosen({
                    dataType: 'json',
                    type: 'POST',
                    url: url
                }, {
                    loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
                });
            }

            initializeSelect('#line-managers', '@Url.Action("lineManagersDataHandler", "RosterManagement", null, Request.Url.Scheme)');
            initializeSelect('#group-employees', '@Url.Action("employeesDataHandler", "RosterManagement", null, Request.Url.Scheme)');
            initializeSelect('#group-shifts', '@Url.Action("shiftsDataHandler", "RosterManagement", null, Request.Url.Scheme)');

            // modal
            initializeSelect('#modal-line-manager', '@Url.Action("lineManagersDataHandler", "RosterManagement", null, Request.Url.Scheme)');
            initializeSelect('#modal-group-employees', '@Url.Action("employeesDataHandler", "RosterManagement", null, Request.Url.Scheme)');
            initializeSelect('#modal-group-shifts', '@Url.Action("shiftsDataHandler", "RosterManagement", null, Request.Url.Scheme)');



        }

        function initializeDataTable() {

            var url = '@Url.Action("groupEditDeleteDataHandler", "RosterManagement", null, Request.Url.Scheme)';

            var columns = [

                   { "data": "id" },
                   { "data": "line_manager_code" },
                   { "data": "line_manager_name" },
                   { "data": "action" }

            ];

            initServerSideTable('#groups_table', url, columns, 50);


        }

        $(document).ready(function () {
            var empCode2= @Html.Raw(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId);

            $.ajax({
                url: '/HR/HR/VerfiyDataHandler',
                type: "POST",
                data: { empId: empCode2 },
                dataType: "json",

                success: function (data) {
                    if (data.HRExportGridData == false) {
                        $("#btnExport").hide();
                    }
                   
                   
                 
                },
                error: function () {
                    alert("error");
                }
            });
            $("#btnExport").click(function (e) {
                setupTableExportButton('#groups_table', 'ManageGroups');

                e.preventDefault();
            });
            /*
            $('#btnExport').button();
            $("#btnExport").click(function (e) {
                $('#groups_table').tableExport({ type: 'excel', escape: 'false' });
                e.preventDefault();
            });
            */





            initializeChosenSelects();

            initializeDataTable();




            deleteGroup = initDeleteGroupModal('@Url.Action("groupDelete", "RosterManagement", null, Request.Url.Scheme)');


            editGroup = initEditGroupModal('@Url.Action("editGroup", "RosterManagement", null, Request.Url.Scheme)');

        });



    </script>


}
