@{
    ViewBag.Title = "TRMS - Payroll Setting";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

<style>
    .head-style {
        font-size: 18px;
        font-weight: bold;
        background-color: #eee;
        border-radius: 5px;
        border: solid;
        border-width: 1px;
        border-color: #000;
        padding: 5px;
        line-height: 20px;
    }

    .c-sin {
        border-right: 2px solid #f7eeaa;
    }
</style>
@model ViewModels.CreatePayrollSetting

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Welcome <span class="text-danger">'HR'</span>! [Login ID: <span class="text-warning" title="@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId)">@User.Identity.Name</span> & Name: <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span>]</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Payroll</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right">
                                <i class="mdi mdi-desktop-classic"></i> HR - Update Payroll of Employee Code: <span class="text-danger">@{ @ViewBag.strEmployeeCode }</span> for Month: <span class="text-danger">@ViewBag.strMonthYear</span>
                            </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>



                    <div class="row">
                        <div class="col-3 text-success">
                            <label class="control-label"><b><u>Session Start Date:</u></b> @Model.strSessionStartDate</label>
                        </div>
                        <div class="col-3 text-success">
                            <label class="control-label"><b><u>Session End Date:</u></b> @Model.strSessionEndDate</label>
                        </div>
                        <div class="col-2 text-danger">
                            <label class="control-label"><b><u>Sick:</u></b> <span title="Availed">@Model.AvailedSickLeaves</span> / <span title="Total">@Model.AvailableSickLeaves</span> / <span title="Last Month">@Model.LastMonthSickLeaves</span></label>
                        </div>
                        <div class="col-2 text-danger">
                            <label class="control-label"><b><u>Casual:</u></b> <span title="Availed">@Model.AvailedCasualLeaves</span> / <span title="Total">@Model.AvailableCasualLeaves</span> / <span title="Last Month">@Model.LastMonthCasualLeaves</span></label>
                        </div>
                        <div class="col-2 text-danger">
                            <label class="control-label"><b><u>Annual:</u></b> <span title="Availed">@Model.AvailedAnnualLeaves</span> / <span title="Total">@Model.AvailableAnnualLeaves</span> / <span title="Last Month">@Model.LastMonthAnnualLeaves</span></label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="button" id="FormShow" class="btn btn-primary waves-effect waves-light">Set / Update Payroll</button>
                    </div>
                    <p></p>

                    <div class="row">

                        <div class="text-center col-12">
                            <span style="display: inline-block;">
                                <span class="text-purple h3 span_message">@Model.strMessage</span>
                                <span class="text-purple h3 span_message">@ViewBag.strUpateMessage</span>
                                <span class="text-purple" style="display: @{ if (Model.strMessage.Length > 0) { <text> inline-block</text> } else {<text> none</text>} };">(do you want to add Payroll for this Month? <input id="is_new_payroll" name="is_new_payroll" type="checkbox" style="display: @{ if (Model.strMessage.Length > 0) { <text> inline-block</text> } else {<text> none</text>} };" value="0" />)</span>
                            </span>
                        </div>
                    </div>

                  

                    <div class="row" id="Hide_Show">
                        <div class="col-md-12">
                            <div class="card-box">
                                @using (Html.BeginForm("PayrollSetting", "PayrollsManagement", FormMethod.Post, new { id = "wizard-payroll-validation-form", enctype = "multipart/form-data" }))
                                {
                                
                                    <div>
                                        <h3>Emp. Info & Basic Pay</h3>
                                        <section>
                                            <div class="row">
                                                <div class="col-6">
                                                    <input id="id" name="id" type="hidden" value="@Model.payroll_info.Id" />
                                                    <input id="employee_id" name="employee_id" type="hidden" value="@Model.payroll_info.EmployeeId" />
                                                    <input id="employee_code" name="employee_code" type="hidden" value="@Model.payroll_info.EmployeeCode" />
                                                    <input id="is_first_month" name="is_first_month" type="hidden" value="@Model.payroll_info.IsFirstMonthText" />
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Employee Code:</label>
                                                            <label>
                                                                @{
                                    if (ViewBag.strEmployeeCode != null)
                                    {
                                        @ViewBag.strEmployeeCode
                                    }
                                    else
                                    {
                                        <text>N/A</text>
                                    }
                                                                }
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Employee Name:</label>
                                                            <label>
                                                                @{
                                    if (ViewBag.strEmployeeName != null)
                                    {
                                        @ViewBag.strEmployeeName
                                    }
                                    else
                                    {
                                        <text>N/A</text>
                                    }
                                                                }

                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Gross Salary: <span class="text-danger">Rs.@Model.payroll_info.GrossSalary</span></label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Total Deductions: <span class="text-danger">Rs.@Model.payroll_info.TotalDeduction</span></label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Salary Month Year</label>
                                                            <input id="salary_month_year" name="salary_month_year" type="text" readonly class="form-control datepicker" autocomplete="off" value="@if (Model.strMessage.Length > 0) { @Request.QueryString["salary_month"].ToString() } else { @Model.payroll_info.SalaryMonthYear.ToString("dd-MM-yyyy") }" required />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">CNIC Number</label>
                                                            <input id="cnic" name="cnic" type="text" class="form-control" style="background-color: #eee;" placeholder="xxxxx-yyyyyyy-z" value="@Model.payroll_info.CNIC" required />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">NTN Number</label>
                                                            <input id="ntn_number" name="ntn_number" type="text" class="form-control" style="background-color: #eee;" placeholder="xxxxx-z" value="@Model.payroll_info.NTNNumber" required />

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">EOBI Number</label>
                                                            <input id="eobi_number" name="eobi_number" type="text" class="form-control" style="background-color: #eee;" placeholder="xxx-yyy-zzz" value="@Model.payroll_info.EOBINumber" required />
                                                        </div>
                                                    </div>

                                                   
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">SESSI NUmber</label>
                                                            <input id="sessi_number" name="sessi_number" type="text" class="form-control" style="background-color: #eee;" placeholder="xxx-yyy-zzz" value="@Model.payroll_info.SESSINumber" required />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Basic Pay (Rs.)</label>
                                                            <input id="basic_pay" name="basic_pay" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.BasicPay" required />

                                                        </div>
                                                    </div>

                                                    <div class="row ">
                                                        <div class="col-12">
                                                            <label class="control-label">Increment (Rs.)</label>
                                                            <input id="increment" name="increment" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.Increment" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Transport (Rs.)</label>
                                                            <input id="transport" name="transport" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.Transport" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Mobile (Rs.)</label>
                                                            <input id="mobile" name="mobile" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.Mobile" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                        <h3>Allowances</h3>
                                        <section>
                                            <div class="row">
                                                <div class="col-6">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Medical (Rs.)</label>
                                                            <input id="medical" name="medical" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.Medical" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Cash Allowance (Rs.)</label>
                                                            <input id="cash_allowance" name="cash_allowance" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.CashAllowance" />
                                                        </div>

                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Commission (Rs.)</label>
                                                            <input id="commission" name="commission" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.Commission" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label" title="Last Month">Overtime (in hours) (0.25/0.5/7)</label>
                                                            <input id="overtime_in_hours" name="overtime_in_hours" style="border: 1px solid #cfcfcf;" type="text" class="form-control" value="@Model.payroll_info.OvertimeInHours" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label" title="Last Month">Overtime Amount (Rs.) <span class="text-danger">(Auto Calc)</span></label>
                                                            <input id="overtime_amount" name="overtime_amount" style="border: 1px solid #cfcfcf;" type="text" class="form-control" style="background-color: #eee;" value="@Model.payroll_info.OvertimeAmount" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label" style="margin-top:-5px">Food (Rs.)</label>
                                                            <input id="food" name="food" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.Food" />
                                                        </div>
                                                    </div>
                                                    <h1 style=" margin-bottom: 57px;"></h1>

                                                </div>

                                                <div class="col-6">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Night (Rs.)</label>
                                                            <input id="night" name="night" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.Night" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Rent (Rs.)</label>
                                                            <input id="rent" name="rent" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.Rent" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Group Allowance (Rs.)</label>
                                                            <input id="group_allowance" name="group_allowance" style="border: 1px solid #cfcfcf;" type="text" class="form-control" value="@Model.payroll_info.GroupAllowance" />
                                                        </div>
                                                    </div>

                                                    <div class="row ">
                                                        <div class="col-12">
                                                            <label class="control-label">Yearly Bonus (Rs.)</label>
                                                            <input id="annual_bonus" name="annual_bonus" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.AnnualBonus" />
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-12">
                                                            <label class="control-label" title="Yearly">Leaves Count (Yearly)</label>
                                                            <select id="leaves_count" name="leaves_count" class="form-control">
                                                                @for (int i = 0; i < 20; i++)
                                                                {
                                                                    <option value="@i" @{ if (Model.payroll_info.LeavesCount == i) { <text> selected</text> } }>@i</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-12">
                                                            <label class="control-label" title="Yearly">Leaves Encash (Rs.) <span class="text-danger">(Auto Calc)</span></label>
                                                            <input id="leaves_encash" name="leaves_encash" style="border: 1px solid #cfcfcf;" type="text" class="form-control" style="background-color: #eee;" value="@Model.payroll_info.LeavesEncash" />
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </section>

                                        <h3>Deductions</h3>
                                        <section>
                                            <div class="row">
                                                <div class="col-6">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Income Tax (Rs.)</label>
                                                            <input id="income_tax" name="income_tax" style="border: 1px solid #cfcfcf;" type="text" class="form-control" value="@Model.payroll_info.IncomeTax" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Fine/Extra Amount (Rs.)</label>
                                                            <input id="fine_extra_amount" style="border: 1px solid #cfcfcf;" name="fine_extra_amount" type="text" class="form-control" value="@Model.payroll_info.FineExtraAmount" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Mobile Deduction (Rs.)</label>
                                                            <input id="mobile_deduction" name="mobile_deduction" type="text" style="border: 1px solid #cfcfcf;" class="form-control" value="@Model.payroll_info.MobileDeduction" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label" title="Last Month">Absents Count</label>
                                                            <select id="absents_count" name="absents_count" class="form-control">

                                                                @for (int i = 0; i < 20; i++)
                                                                {
                                                                    <option value="@i" @{ if (Model.payroll_info.AbsentsCount == i) { <text> selected</text> } }>@i</option>
                                                                }

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label" title="Last Month">Absents Amount(Rs.) <span class="text-danger">(Auto Calc)</span></label>
                                                            <input id="absents_amount" name="absents_amount" style="border: 1px solid #cfcfcf;" type="text" class="form-control" style="background-color: #eee;" value="@Model.payroll_info.AbsentsAmount" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Loan Installment (Rs.) <span class="text-danger">(Auto Calc)</span></label>
                                                            <input id="loan_installment" name="loan_installment" type="text" style="border: 1px solid #cfcfcf; background-color: #eee;" class="form-control" value="@Model.payroll_info.LoanInstallment" />   
                                                        </div>
                                                    </div>

                                                    <h1 style=" margin-bottom 57px;"></h1>

                                                </div>

                                                <div class="col-6">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <label class="control-label">EOBI Emp. and Co. Contr. (Rs.)</label>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <input id="eobi_employee" name="eobi_employee" style="border: 1px solid #cfcfcf;" type="text" class="form-control" value="@Model.payroll_info.EOBIEmployee" />
                                                                </div>
                                                                <div class="col-6">
                                                                    <input id="eobi_employer" name="eobi_employer" style="border: 1px solid #cfcfcf;" type="text" class="form-control" style="display: inline-block;" value="@Model.payroll_info.EOBIEmployer" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <label class="control-label">SESSI Emp. and Co. Contr. (Rs.)</label>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <input id="sessi_employee" style="border: 1px solid #cfcfcf;" name="sessi_employee" type="text" class="form-control" value="@Model.payroll_info.SESSIEmployee" />
                                                                </div>
                                                                <div class="col-6">
                                                                    <input id="sessi_employer" style="border: 1px solid #cfcfcf;" name="sessi_employer" type="text" class="form-control" style="display: inline-block;" value="@Model.payroll_info.SESSIEmployer" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Other Deduction (Rs.)</label>
                                                            <input id="other_deduction" name="other_deduction" style="border: 1px solid #cfcfcf;" type="text" class="form-control" value="@Model.payroll_info.OtherDeduction" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Payment Date</label>
                                                            <input id="payment_date" name="payment_date" style="border: 1px solid #cfcfcf;" type="text" class="form-control datepicker" autocomplete="off" value='@(Model.payroll_info.PaymentDateTime != null ? @Model.payroll_info.PaymentDateTime.ToString("dd-MM-yyyy") : "")' required />  
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Create - Date Time</label><br />
                                                            @Model.payroll_info.CreateDateTimeText   
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Last Update - Date Time</label><br />
                                                            @Model.payroll_info.UpdateDateTimeText   
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </section>

                                        <h3>Transfer & Status</h3>
                                        <section>
                                            <div class="row">
                                                <div class="col-6">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Payment Mode</label>
                                                            <select id="payment_mode_id" name="payment_mode_id" class="form-control" required>
                                                                @{
                                    if (Model.payment_mode_info != null)
                                    {
                                        foreach (ViewModels.PaymentModeInfo item in Model.payment_mode_info)
                                        {
                                                        <option value="@item.Id" @{ if (item.Id == ViewBag.SelectedPaymentModeId) { <text> selected</text> } }>@item.PaymentModeText</option>
                                        }
                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Bank Name</label>
                                                            <select id="bank_name_id" name="bank_name_id" class="form-control">
                                                                @{
                                    if (Model.bank_name_info != null)
                                    {
                                        foreach (ViewModels.BankNameInfo item in Model.bank_name_info)
                                        {
                                                        <option value="@item.Id" @{ if (item.Id == ViewBag.SelectedBankNameId) { <text> selected</text> } }>@item.BankNameText</option>
                                        }
                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Bank Account Title</label>
                                                            <input id="bank_account_title" style="background-color: #eee;" name="bank_account_title" type="text" class="form-control" value="@Model.payroll_info.BankAccTitle" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Bank Account Number</label>
                                                            <input id="bank_account_number" style="background-color: #eee;" name="bank_account_number" type="text" class="form-control" value="@Model.payroll_info.BankAccNo" />    
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-6">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Ack Status By Employee</label>
                                                            <select id="ack_status_id" name="ack_status_id" class="form-control" required>
                                                                @{
                                    if (Model.payment_status_info != null)
                                    {
                                        foreach (ViewModels.PaymentStatusInfo item in Model.payment_status_info)
                                        {
                                                        <option value="@item.Id" @{ if (item.Id == ViewBag.SelectedAckStatusId) { <text> selected</text> } }>@item.PaymentStatusText</option>
                                        }
                                    }
                                                                }
                                                            </select>  
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Paid Status By HR</label>
                                                            <select id="pay_status_id" name="pay_status_id" class="form-control" required>
                                                                @{
                                    if (Model.payment_status_info != null)
                                    {
                                        foreach (ViewModels.PaymentStatusInfo item in Model.payment_status_info)
                                        {
                                                        <option value="@item.Id" @{ if (item.Id == ViewBag.SelectedPayStatusId) { <text> selected</text> } }>@item.PaymentStatusText</option>
                                        }
                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">Upload Attachment (optional)</label>
                                                            <input type="file" style="background-color: #eee;" id="attachment_file_path" name="attachment_file_path" accept=".jpg" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label class="control-label">HR & User Comments</label>
                                                            <textarea id="user_hr_comments" name="user_hr_comments" rows="3" class="form-control">
                                                                @{ if (Model.payroll_info.UserHRComments == null || Model.payroll_info.UserHRComments == "")
                                                                 {
                                                                    <text> [H:@DateTime.Now.ToString("yyyy-MM-dd")]</text>
                                                                 }
                                                                 else
                                                                 {
                                                                     string strComments = Model.payroll_info.UserHRComments.ToString();// + "\n[U:" + DateTime.Now.ToString("yyyy-MM-dd").ToString() + "]";
                                                                    <text>@strComments</text>
                                                                     //(Model.payroll_info.UserHRComments + "\n[E:" + DateTime.Now.ToString("yyyy-MM-dd") + "]").ToString();
                                                                 }
                                                                }
                                                            </textarea>   
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                  

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">

                        <h3>List of Previous Payrolls of <span class="text-danger">Employee Code: @{ @ViewBag.strEmployeeCode }</span></h3>

                        <div class="row m-t-30">
                            <div class="col-12">
                                <table id="payroll_setting_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Salary Month Year</th>
                                            <th>Employee Code</th>
                                            <th>Full Name</th>
                                            <th>Gross Salary</th>
                                            <th>Deduction</th>
                                            <th>Net Salary</th>
                                            <th>CNIC #</th>
                                            <th>Basic Pay (Rs.)</th>
                                            <th>Action</th>
                                            <th>Increment (Rs.)</th>
                                            <th>Transport (Rs.)</th>
                                            <th>Mobile (Rs.)</th>
                                            <th>Medical (Rs.)</th>
                                            <th>Cash Allowance (Rs.)</th>
                                            <th>Commission (Rs.)</th>
                                            <th>Overtime (in hours)</th>
                                            <th>Overtime Amount (Rs.)</th>
                                            <th>Food (Rs.)</th>
                                            <th>Night (Rs.)</th>
                                            <th>Rent (Rs.)</th>
                                            <th>Group Allowance (Rs.)</th>
                                            <th>Yearly Bonus (Rs.)</th>
                                            <th>Leaves Count (yearly remaining)</th>
                                            <th>Leaves Encash (yearly remaining) (Rs.)</th>
                                            <th>Income Tax (Rs.)</th>
                                            <th>Fine/Extra Amount (Rs.)</th>
                                            <th>Mobile Deduction (Rs.)</th>
                                            <th>Absents Count (Last Month)</th>
                                            <th>Absents Amount (Last Month) (Rs.)</th>
                                            <th>EOBI Employee (Rs.)</th>
                                            <th>EOBI Employer (Rs.)</th>
                                            <th>SESSI Employee (Rs.)</th>
                                            <th>SESSI Employer (Rs.)</th>
                                            <th>Loan Installment (Rs.)</th>
                                            <th>Other Deduction (Rs.)</th>
                                            <th>Payment Mode</th>
                                            <th>Bank Name</th>
                                            <th>Bank Account Title</th>
                                            <th>Bank Account Number</th>
                                            <th>NTN #</th>
                                            <th>EOBI #</th>
                                            <th>SESSI #</th>
                                            <th>Ack Status</th>
                                            <th>Pay Status</th>
                                            <th>Comments</th>
                                            <th>Attachment Path</th>
                                            <th>Is First Month?</th>
                                            <th>Payment Date</th>
                                            <th>Create Date</th>
                                            <th>Update Date</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row m-t-10">
                            <div class="col-12">
                                <button type="submit" id="btnExport" onclick="CheckData();" class="btn btn-primary waves-effect waves-light">Export Grid Data</button>
                                <span id="demo" class="text-danger"></span>
                                <p id="export_wait2" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End content -->
    <!-- Custom Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="mySmallModalLabel">Message Alert</h4>
                </div>
                <div class="modal-body">
                    <span id="alert_message"></span>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="MidTermModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MidTermModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="CenterModalLabel">Payroll Attachment</h4>
                </div>
                <div class="modal-body text-center">
                    <img id="image_source" src="~/Images/no-image.png" width="300" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="leave_applicaiton_dialog"></div>
    @section JS {

        @*<script src="@Url.Content("/Scripts/payrollsCRUD.js")" type="text/javascript"></script>*@
    <script src="~/pages/jquery.wizard-Payroll.js"></script>
        <script type="text/javascript">
            function HideBarr() {
                HideMessage();
            }

            function CheckData() {
                var ss = $("#payroll_setting_table tr").children("td:first").text();
                if (ss == "No data available in table" || ss == "" || ss == " ") {
                    $('#export_wait2').show();
                    document.getElementById("demo").innerHTML = "No Data Found.";
                    HideBarExcle2();
                }
                else {
                    setupTableExportButton('#payroll_setting_table', 'PayrollSetting');
                    $('#export_wait2').show();
                    HideBarExcle2();
                }
            }


            function redirectToPage() {
                window.location = '/HR/PayrollsManagement/PayrollSetting';
            }

            function HideSpanMessage() {
                setTimeout(function () { $('.span_message').hide(); }, 5000);
            }

            function HideMessage() { setTimeout(function () { $('#export_wait').hide(); document.getElementById("btn-excel-download").disabled = false; }, 5000); }

            function HideBarExcle2() { setTimeout(function () { $('#export_wait2').hide(); document.getElementById("demo").innerHTML = ""; }, 1500); }

            function searchReport() {
                // get the entered string
                var toSearch = $('payroll_setting_table_filter input').val();

                $('#payroll_setting_table').DataTable().search(toSearch);
                $('#payroll_setting_table').DataTable().draw();
            }

            popup = function viewImage(image_name) {
                $('#image_source').attr("src", "/Content/PayrollSet/" + image_name);
                $('#MidTermModal').modal('show');
            }

            function clearr() {
                $('input[type="search"]').focus();
                $('input[type="search"]').val("");
                $('#payroll_setting_table').DataTable().search("");
                $('#payroll_setting_table').DataTable().draw();
                $('input[type="search"]').blur();

                document.getElementById("btn-excel-download").disabled = false;
                $('#export_wait').hide();
                $('#export_wait2').hide();
                document.getElementById("demo").innerHTML = "";

                validateForm();
            }

            function initReportDataTable(identifier, url, columns) {
                var oTable = $(identifier).DataTable({
                    "searchDelay": 2000,
                    "scrollY": "300px",
                    "serverSide": true,
                    "ajax": {
                        "type": "POST",
                        "url": url,
                        "contentType": 'application/json; charset=utf-8',
                        'data': function (data) {

                            //data.employee_id = $('#consolidated-employees').val();
                            data.from_date = $('#from_date').val();
                            data.to_date = $('#to_date').val();

                            return data = JSON.stringify(data);
                        }
                    },
                    "scrollX": true,
                    "scrollCollapse": true,
                    "processing": true,
                    "paging": true,
                    "deferRender": true,
                    "columns": columns,
                    "bSort": false, //disable all sorting columns
                    //"order": [0, "desc"],
                    "iDisplayLength": 20,
                    "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                    "responsive": true
                });

                oTable.on("draw", function () {
                    var keyword = $(identifier + '_filter > label:eq(0) > input').val();
                    $(identifier).unmark();
                    $(identifier).mark(keyword, {});

                    $(identifier + ' tbody tr').click(function (e) {
                        $('tr.row_selected').removeClass('row_selected');
                        $(this).addClass('row_selected');
                    });
                });

                // set the z-index of the 'processing...' overlay
                // to a great number, so that it may always display
                // on top of the table. Also set the text color
                // to black as it is white by default.
                $(identifier + '_processing').css({
                    "z-index": "1000",
                    "color": "rgb(0, 0, 0)"
                });

                // initiate search one second after the user
                // stops typing.
                function setSearchDelayOnDataTable(idSelector) {
                    // remove all events from the search box
                    $(idSelector + '_filter input').off();

                    function customDataTableSearch() {

                        // get the entered string
                        var toSearch = $(idSelector + '_filter input').val();

                        // do nothing if the string is null.
                        // I've not tested this, it is just
                        // in case.
                        if (toSearch == null) {
                            return;
                        }

                        // initiate search programatically.
                        $(idSelector).DataTable().search(toSearch).draw();
                    }

                    // this variable holds the timer
                    var timeout;

                    // register a keypress on the search box
                    $(idSelector + '_filter input').keypress(function () {
                        if (timeout != null) {
                            clearTimeout(timeout);
                            timeout = null;
                        }

                        // timeout set to 1 second.
                        timeout = setTimeout(customDataTableSearch, 1000);
                    });

                }

                setSearchDelayOnDataTable(identifier);
            }
            $("#FormShow").click(function () {
                $("#Hide_Show").toggle("slow");
            });
            $(document).ready(function () {
                $("#Hide_Show").hide();
                var dateToday = new Date();
                $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' }); //minDate: dateToday, beforeShowDay: $.datepicker.noWeekends

                HideSpanMessage();
                //validateForm();

                $('#is_new_payroll').change(function () {
                    if ($(this).is(':checked')) {
                        $('#is_new_payroll').val("1");
                        console.log("1");
                    }
                    else {
                        $('#is_new_payroll').val("0");
                        console.log("0");
                    }
                });

                $('.hasDatepicker').keydown(function (e) {
                    var unicode = e.keyCode ? e.keyCode : e.charCode;
                    if (unicode != 13 && unicode != 8 && unicode != 9) { e.preventDefault(); }
                });

                $('.hasDatepicker').keydown(function (e) {
                    var unicode = e.keyCode ? e.keyCode : e.charCode;
                    if (unicode == 8) { e.preventDefault(); e.stopPropagation(); }
                });

                $("#btnExport").click(function (e) {
                    $('#payroll_setting_table').tableExport({ type: 'excel', escape: 'false' });
                    e.preventDefault();
                });

                /*
                $("#payroll_setting").click(function (e) {

                    if ($('#from_date').val() == "") {

                        $('#alert_message').text("Please select 'From Date'");
                        $('.bs-example-modal-lg').modal('show');

                        //alert("Please select 'From Date'");
                        $('#from_date').focus();
                        return false;
                    }

                    if ($('#to_date').val() == "") {

                        $('#alert_message').text("Please select 'To Date'");
                        $('.bs-example-modal-lg').modal('show');

                        //alert("Please select 'To Date'");
                        $('#to_date').focus();
                        return false;
                    }

                    e.preventDefault();

                    if (validateForm()) {
                        searchReport();
                    }

                });
                */

                var url = '@Url.Action("PayrollSettingDataHandler", "PayrollsManagement", null, Request.Url.Scheme)';
                var columns = [
                      { "data": "Id" },
                       { "data": "SalaryMonthYearText" },
                       { "data": "EmployeeCode" },
                       { "data": "EmployeeName" },
                       { "data": "GrossSalary" },
                       { "data": "TotalDeduction" },
                       { "data": "NetSalary" },
                       { "data": "CNIC" },
                       { "data": "BasicPay" },
                       { "data": "actions" },
                       { "data": "Increment" },
                       { "data": "Transport" },
                       { "data": "Mobile" },
                       { "data": "Medical" },
                       { "data": "CashAllowance" },
                       { "data": "Commission" },
                       { "data": "OvertimeInHours" },
                       { "data": "OvertimeAmount" },
                       { "data": "Food" },
                       { "data": "Night" },
                       { "data": "Rent" },
                       { "data": "GroupAllowance" },
                       { "data": "AnnualBonus" },
                       { "data": "LeavesCount" },
                       { "data": "LeavesEncash" },
                       { "data": "IncomeTax" },
                       { "data": "FineExtraAmount" },
                       { "data": "MobileDeduction" },
                       { "data": "AbsentsCount" },
                       { "data": "AbsentsAmount" },
                       { "data": "EOBIEmployee" },
                       { "data": "EOBIEmployer" },
                       { "data": "SESSIEmployee" },
                       { "data": "SESSIEmployer" },
                       { "data": "LoanInstallment" },
                       { "data": "OtherDeduction" },
                       { "data": "PaymentModeText" },
                       { "data": "BankNameText" },
                       { "data": "BankAccTitle" },
                       { "data": "BankAccNo" },
                       { "data": "NTNNumber" },
                       { "data": "EOBINumber" },
                       { "data": "SESSINumber" },
                       { "data": "AckStatusText" },
                       { "data": "PayStatusText" },
                       { "data": "UserHRComments" },
                       { "data": "AttachmentFilePath" },
                       { "data": "IsFirstMonthText" },
                       { "data": "PaymentDateTimeText" },
                       { "data": "CreateDateTimeText" },
                       { "data": "UpdateDateTimeText" }
                ];

                @*
                   I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@
                //IR Commented
                initReportDataTable('#payroll_setting_table', url, columns);
                editLeaveApplication = initEditModal("#leave_applicaiton_dialog", '@Url.Action("UpdateLeaveApplication", "LeavesManagement", null, Request.Url.Scheme)', "payroll_setting");
                deleteLeaveApplication = initDeleteModal("#leave_applicaiton_dialog", '@Url.Action("RemoveLeaveApplication", "LeavesManagement", null, Request.Url.Scheme)', "payroll_setting");

                // ---------------------------- IR ----------------------------

                //download excel
                $("#btn-excel-download").click(function (e) {

                    if ($('#from_date').val() == "") {
                        $('#alert_message').text("Please select 'From Date'");
                        $('.bs-example-modal-lg').modal('show');

                        //alert("Please select 'From Date'");
                        $('#from_date').focus();
                        return false;
                    }

                    if ($('#to_date').val() == "") {

                        $('#alert_message').text("Please select 'To Date'");
                        $('.bs-example-modal-lg').modal('show');

                        //alert("Please select 'To Date'");
                        $('#to_date').focus();
                        return false;
                    }

                    //alert($('#export_wait').html());

                    if ($('#export_wait').html() == "No Data Found.") {
                        $('#export_wait').html("<img src='/images/loader.gif' style='width: 110px; margin-left:34%;' alt='processing'>");
                    }

                    $('#export_wait').show();

                    var post_data = {
                        //"employee_id": "TYPE_EMP", //$('#employee_id').val(),
                        "from_date": $('#from_date').val(),
                        "to_date": $('#to_date').val()
                    };

                    $("#btn-excel-download").attr("disabled", "disabled");

                    $.ajax({
                        cache: false,
                        type: 'post',
                        url: '/HR/Report/ConsolidatedReportExcelDownload',
                        data: post_data,
                        //contentType: 'application/json;charset=utf-8',
                        dataType: 'json',
                        success: function (data) {

                            if (data.FileGuid != "" & data.FileName != "") {

                                $('#export_wait').hide();
                                $("#btn-excel-download").removeAttr("disabled");

                                //console.log('export done successfully InShaAllah!!!');
                                //var response = JSON.stringify(data);
                                //alert(data.FileGuid + ' >> ' + data.FileName);

                                window.location = '/HR/Report/Download?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
                            }
                            else {
                                $('#export_wait').html("No Data Found.");
                            }
                        },
                        error: function (jq) {
                            console.log('Error: ' + jq.responseText);
                        }

                    });
                    //  serializeAndSend();
                    e.preventDefault();
                });

                // ------------------------------------------------------------
            });

            function validateForm() {
                var fDate = $('#payroll-setting-form').find('[name*="from_date"]').val().split("-").reverse();
                var tDate = $('#payroll-setting-form').find('[name*="to_date"]').val().split("-").reverse();

                var vfDate = new Date(fDate[0], (fDate[1] - 1), fDate[2]);
                var vtDate = new Date(tDate[0], (tDate[1] - 1), tDate[2]);

                //console.log('3>> ' + vfDate + ' - ' + vtDate);

                fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
                tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

                console.log('fDate = ' + fDate);
                console.log('tDate = ' + tDate);

                if (vtDate < vfDate) {

                    $('#alert_message').text("'To Date' should be greater than 'From Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("To Date should be greater than From Date.");
                    return false;
                }

                /*var r = confirm("Are you sure you want to Reprocess?");
                if (r == false) {
                    return false;
                }*/

                return true;
            }
        </script>
    }
