@{
    ViewBag.Title = "ChangeEmployeePassword";
}

<div class="row">
    <div class="col-md-3">

        <h5 style="font-weight: bold;">Change Employee Password</h5>
        <div class="form-group">




            @using (Html.BeginForm("ChangeEmployeePassword", "EmployeeManagement", FormMethod.Post, new { id = "change-password-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="row">



                    <label class="control-label">Employee Number</label>

                    <select id="employees" class="form-control" name="change_password_employee" required></select>


                    <label class="control-label">New Password</label>
                    <input id="emp_psswd" type="password" class="form-control" name="employee_password" />

                    <input style="margin-top:5px" type="submit" value="Change Password" />

                </div>




            }
        </div>

    </div>
    <div class="col-md-9">

        @using (Html.BeginForm("UploadPasswordFile", "EmployeeManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="row">
                <div class="col-md-4">
                    <label class="btn btn-primary" for="my-file-selector" style="margin-left: 15px">
                        <input id="my-file-selector" onchange="alertFilename()" type="file" name="file" value="alert" accept=".csv" style="display:none; ">
                        Click to select file
                    </label>
                    <h3 class="label" style="font-size:medium; color:black" id="file-name"></h3>
                </div>

                <div class="col-md-4" style="margin-top:5px">
                    <button id="btnUpload" type="submit" value="Submit">Upload File</button>
                    <label class="label" style="font-size:medium; color:black"> @ViewBag.Message</label>
                </div>
            </div>
        }
        <br><br><br><br><br>

    </div>
</div>


@section JS {

    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>

    <script>

        function alertFilename() {
            var thefile = document.getElementById('my-file-selector');
            document.getElementById('file-name').innerHTML = thefile.value;
        };

        $(document).ready(function () {
            $('#accordion').accordion("option", "active", 1);

            setActiveLink('Change Employee Password');

            $("input[type=submit], button").button();



            $('#employees').ajaxChosen({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("ChangeEmployeePasswordDataHandler", "EmployeeManagement", null, Request.Url.Scheme)'
            }, {
                loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
            });



            $('#change-password-form').on("submit", function () {
                var password = $("#emp_psswd").val();

                if (!followsPasswordPolicy(password)) {
                    alert("The password must be at least 6 characters long and must contain at least, 1 small letter, 1 capital letter, 1 number, and 1 of the following special characters. ! @@ # $ % ^ & * ( ) _ -");
                    return false;
                }
                return true;

            });


        });



    </script>


}


