@{
    ViewBag.Title = "TRMS - Organization";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";

    var isDataFound = false;
}

@model TimeTune.Dashboard.ReturnData
<!-- Start content -->
@{
    //Present - Leave - Absent
    string pr_chart_color_a = "#66bb6a ", pr_chart_color_b = "#7266ba", pr_chart_color_c = "#ee6e73";
    //Ontime - Late - Earlyout
    string pn_chart_color_d = "#29b6f6", pn_chart_color_e = "#ffc107", pn_chart_color_f = "#f76397";
}


<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="panel-body">
        <div class="clearfix">
            <div class="pull-left">
                <h3 class="text-right"><i class="mdi mdi-account-box"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.tagv")</h3>
            </div>
            <div class="pull-right small text-muted">
                @DateTime.Now.ToString("f")
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-3 col-md-3">
                <div class="widget-simple text-center card-box">
                    <h3 class="text-danger counter font-bold mt-0">@Model.totalRegistered</h3>
                    <p class="text-muted mb-0">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.regusers")</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-3">
                <div class="widget-simple text-center card-box">
                    <h3 class="text-success counter font-bold mt-0">@Model.totalActive</h3>
                    <p class="text-muted mb-0">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.tactiveusers")</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="widget-simple text-center card-box">
                    <h3 class="text-primary counter font-bold mt-0">@Model.totalRegCards</h3><!--today_OnlineDevices-->
                    <p class="text-muted mb-0">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.tcardsreg")</p><!--Total Online Devices-->
                </div>
            </div>





            <div class="col-lg-3 col-md-3">
                <div class="widget-pink text-center card-box">
                    <h3 class="text-pink counter font-bold mt-0">@Model.totalRegFingers</h3><!--today_OnlineDevices-->
                    <p class="text-muted mb-0">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.tfingersreg")</p><!--Total Online Devices-->
                </div>
            </div>




        </div>


        <div class="row">

            <div class="col-lg-3 col-md-3">
                &nbsp;
            </div>


            <div class="col-lg-3 col-md-3">
                <div class="widget-simple text-center card-box">
                    <h3 class="text-purple counter font-bold mt-0">@Model.totalPresent</h3>
                    <p class="text-muted mb-0">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.todaypresent")</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="widget-simple text-center card-box">
                    <h3 class="text-danger counter font-bold mt-0">@Model.today_Absents</h3><!--today_OnlineDevices-->
                    <p class="text-muted mb-0">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.todayabsent")</p><!--Total Online Devices-->
                </div>
            </div>


            <div class="col-lg-3 col-md-3">
                &nbsp;
            </div>


        </div>

        <div class="row">
            <div class="col-6">
                <!-- Donut Chart - 1 -->
                <div id="chartPresence" class="card-box">
                    <h4 class="m-t-0 header-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.presence")</h4>
                    <svg id="svgChartPresence" style="height:350px;width:100%"></svg>
                    @* @if (Model.totalPresent != 0)
                        {
                            <svg id="svgChartPresence" style="height:350px;width:100%"></svg>
                        }
                        else
                        {
                            <p class="text-danger mb-0" style="height:350px;width:100%">N/A</p>
                        }*@
                </div>
            </div>

            <div class="col-6">
                <!-- Donut Chart - 2 -->
                <div id="chartPunctuality" class="card-box">
                    <h4 class="m-t-0 header-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.punctuality")</h4>
                    @if (Model.today_OnTime != 0)
                    {
                        <svg id="svgChartPunctuality" style="height:350px;width:100%"></svg>
                    }
                    else
                    {
                        <p class="text-danger mb-0" style="height:350px;width:100%">N/A</p>
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="card-box d-none">

        <div class="row">
            <div class="col-12">
                <h3>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.activeemp")</h3>

                <hr />

                <table id="emp_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.fname")</th>
                            <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.lname")</th>
                            <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.empcode")</th>
                            <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.func")</th>
                            <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dep")</th>
                            <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.loc")</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="row m-t-10">
            <div class="col-12">
                <button type="submit" id="btnExport" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportgrid")</button>
            </div>
        </div>
    </div>

</div>
<!-- End content -->
@section JS {

    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
    <script>
        $(document).ready(function () {
            //$('#accordion').accordion("option", "active", 0);
            //setActiveLink("My Team");
            //            $(".chzn-select").chosen();
            $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
            //$("input[type=submit], button").button();

            $("#btnExport").click(function (e) {
                setupTableExportButton('#emp_table', 'Tagged_Employee');
                e.preventDefault();
            });

            var url = '@Url.Action("DataHandler", "HR", null, Request.Url.Scheme)';

            var columns = [
                           { "data": "first_name" },
                           { "data": "last_name" },
                           { "data": "employee_code" },
                           { "data": "function_name" },
                           { "data": "department_name" },
                           { "data": "location_name" }
            ];

            @*
               I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@

            // initServerSideTable('#emp_table', url, columns, 10);
        });
    </script>
    <!-- Counter Up  -->
    <script src="/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Sparkline -->
    <script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!-- Circliful -->
    <script src="/plugins/jquery-circliful/js/jquery.circliful.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var empCode2= @Html.Raw(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId);

            $.ajax({
                url: '/HR/HR/VerfiyDataHandler',
                type: "POST",
                data: { empId: empCode2 },
                dataType: "json",

                success: function (data) {
                    if (data.HRExportGridData == false) {
                        $("#btnExport").hide();
                    }



                },
                error: function () {
                    alert("error");
                }
            });
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
            $('.circliful-chart').circliful();
        });





        function loadChart(a, b, c, d, e, f) {

            (function ($) {
                'use strict';

                //Donut chart2
                nv.addGraph(function () {
                    var chart = nv.models.pieChart()
                        .x(function (d) { return d.label })
                        .y(function (d) { return d.value })
                        .showLabels(true)     //Display pie labels
                        .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                        .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                        .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                        .donutRatio(0.35)     //Configure how big you want the donut hole size to be.

                    ;

                    d3.select("#chartPunctuality svg")
                        .datum(PunctualityChartData())
                        .transition().duration(350)
                        .call(chart);

                    return chart;
                });
                //Donut chart3
                nv.addGraph(function () {
                    var chart = nv.models.pieChart()
                        .x(function (d) { return d.label })
                        .y(function (d) { return d.value })
                        .showLabels(true)     //Display pie labels
                        .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                        .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                        .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                        .donutRatio(0.35)     //Configure how big you want the donut hole size to be.

                    ;

                    d3.select("#chartPresence svg")
                        .datum(PresenceChartData())
                        .transition().duration(350)
                        .call(chart);

                    return chart;
                });

                //Pie chart data
                function PunctualityChartData() {
                    return [
                        {
                            "label": "@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.ontime")",
                            "value": d,
                            "color": "@pn_chart_color_d" //"#29b6f6"
                        },
                        {
                            "label": "@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.late")",
                            "value": e,
                            'color': "@pn_chart_color_e" //'#ffc107'
                        },
                        @*,{
                            "label": "Early Out",
                            "value": f,
                            'color': "@pn_chart_color_f" //'#f76397'
                        }*@
                    ];
                }

                function PresenceChartData() {
                    return [
                       {
                           "label": "@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.present")",
                           "value": a,
                           "color": "@pr_chart_color_a" //"#66bb6a"
                       },
                        {
                            "label": "@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.leave")",
                            "value": b,
                            'color': "@pr_chart_color_b" //'#7266ba'
                        },
                        {
                            "label": "@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.absent")",
                            "value": c,
                            'color': "@pr_chart_color_c" //'#ee6e73'
                        }
                    ];
                }
            })(jQuery);
        }

        $(document).ready(function () {

            var present =  @Html.Raw(Json.Encode(Model.totalPresent));
            var leave = @Html.Raw(Json.Encode(Model.today_Leaves));
            var absent =@Html.Raw(Json.Encode(Model.today_Absents));
            var ontime = @Html.Raw(Json.Encode(Model.today_OnTime));
            var late = @Html.Raw(Json.Encode(Model.today_Late));
            var early = @Html.Raw(Json.Encode(Model.today_EarlyOut));
            console.log("2: " + present + " : " + leave + " : " + absent + " : " + ontime + " : " + late + " : " + early);


            //loadChart(20, 30, 50, 10, 90, 0);

            loadChart(present, leave, absent, ontime, late, early);


            @*$.post("/HR/HR/DashboardPALChartDataMyTeam", //Present Absent Chart
                 function (data) {

                     console.log(data);

                     if (data.length > 0) {
                         var strMain = data.split(',');

                         var strInner0 = strMain[0].split('=');
                         var strInner1 = strMain[1].split('=');
                         var strInner2 = strMain[2].split('=');
                         var strInner3 = strMain[3].split('=');
                         var strInner4 = strMain[4].split('=');
                         var strInner5 = strMain[5].split('=');

                         //var present = strInner0[1];
                         //var leave = strInner1[1];
                         //var absent = strInner2[1];
                         //var ontime = strInner3[1];
                         //var late = strInner4[1];
                         //var early = strInner5[1];

                         //loadChart(20, 30, 50, 10, 90, 0);
                         loadChart(present, leave, absent, ontime, late, early);
                     }
                 });*@

        });


    </script>

}