@{
    ViewBag.Title = "TRMS - Organization Courses Management";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

@model ViewModels.OrganizationProgramCourseView

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Welcome <span class="text-danger">'HR'</span>! [Login ID: <span class="text-warning" title="@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId)">@User.Identity.Name</span> & Name: <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span>]</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Student Portal</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="mdi mdi-file-document"></i> Courses Management </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    @using (Html.BeginForm("ManageOrganizationCourse", "OrganizationsManagement", FormMethod.Post, new { id = "organization-course-form" }))
                    {
                        <div class="row">

                            <div class="col-4">


                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">Program<span class="text-danger font-14">&nbsp;*</span></label>
                                        <select id="program_id" name="program_id" class="form-control">
                                            @if (Model.list_program != null)
                                            {
                                                foreach (ViewModels.OrganizationProgramView item in Model.list_program)
                                                {
                                                    <option value="@item.Id">@item.ProgramCode</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">Course Code<span class="text-danger font-14">&nbsp;*</span></label>
                                        <input id="course_code" name="course_code" type="text" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">Course Title<span class="text-danger font-14">&nbsp;*</span></label>
                                        <input id="course_title" name="course_title" type="text" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>


                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">Credit Hours <span class="text-danger font-14">*</span></label>
                                        <select id="credit_hours" name="credit_hours" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3" selected>3</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-4">

                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">Is Active Course? <span class="text-danger font-14">*</span></label>
                                        <select id="is_active_course" name="is_active_course" class="form-control">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">Default Program Type <span class="text-danger font-14">*</span></label>
                                        <select id="default_program_type_id" name="default_program_type_id" class="form-control">
                                            @if (Model.list_default_type != null)
                                            {
                                                foreach (ViewModels.OrganizationProgramTypeView item in Model.list_default_type)
                                                {
                                                    <option value="@item.Id">@item.ProgramTypeName</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">Default Program Type Number <span class="text-danger font-14">*</span></label>
                                        <select id="default_program_type_number" name="default_program_type_number" class="form-control">
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                            <option value="6">06</option>
                                            <option value="7">07</option>
                                            <option value="8">08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>






                            </div>

                            <div class="col-4">




                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">Passing Marks</label>
                                        <input id="passing_marks" name="passing_marks" type="number" autocomplete="off" value="33" class="form-control" />
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">Total Marks</label>
                                        <input id="total_marks" name="total_marks" type="number" autocomplete="off" value="100" class="form-control" />
                                    </div>
                                </div>




                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">Book Name</label>
                                        <input id="book_name" name="book_name" type="text" class="form-control" autocomplete="off" />
                                    </div>
                                </div>


                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">Book Author</label>
                                        <input id="book_author" name="book_author" type="text" class="form-control" autocomplete="off" />
                                    </div>
                                </div>

                            </div>



                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label><span class="text-danger font-14">&nbsp;*</span> <span class="small">indicates required fields</span></label>
                            </div>
                        </div>

                        <div class="row m-t-10">
                            <div class="col-12 text-danger span_message">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                @ViewBag.Message
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" id="organization_course" class="btn btn-primary waves-effect waves-light m-t-10">Submit</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light m-t-10" onclick="redirectToPage();">Reset</button>
                                @*<button type="submit" id="btn-excel-download" onclick="HideBarr();" class="btn btn-primary waves-effect waves-light m-t-10">Download Excel</button>
                                    <span id="export_wait" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></span>*@
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="panel-body">

                    <h3>List of Program Courses </h3>

                    <div class="row m-t-30">
                        <div class="col-12">
                            <table id="organization_course_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Program</th>
                                        <th>Course Code</th>
                                        <th>Course Title</th>
                                        <th>Type</th>
                                        <th>Type Number</th>
                                        <th>Action</th>
                                        <th>Credit Hours</th>
                                        <th>Passing Marks</th>
                                        <th>Total Marks</th>
                                        <th>Book Name</th>
                                        <th>Book Author</th>
                                        <th>Is Active?</th>
                                        <th>Create Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" onclick="CheckData();" class="btn btn-primary waves-effect waves-light">Export Grid Data</button>
                            <span id="demo" class="text-danger"></span>
                            <p id="export_wait2" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="panel-body">

                    <div class="row m-t-10">
                        <div class="col-12">
                            <h3>Upload Courses using 'CSV File'</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <a href="~/Uploads/SampleCourses.csv">Download Sample Courses File</a>
                        </div>

                        <div class="col-6">
                            &nbsp;
                        </div>

                        <div class="col-3 text-right d-none">
                            @using (Html.BeginForm("DownloadCoursesCSVFile", "OrganizationsManagement", FormMethod.Post, new { id = "download-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()

                                <button id="btnDownload" type="submit" value="Submit" class="btn btn-sm btn-default waves-effect waves-light">Download existing courses (CSV)</button>

                            }
                        </div>

                    </div>

                    @using (Html.BeginForm("UploadCoursesCSVFile", "OrganizationsManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div class="row">
                            <div class="col-6">
                                <label class="btn btn-primary" for="my-file-selector">
                                    <input id="my-file-selector" onchange="alertFilename()" type="file" name="file" value="alert" accept=".csv" style="display:none; ">
                                    Click to select file
                                </label>
                                <h3 class="label" id="file-name"></h3>
                            </div>

                            <div class="col-6">
                                <button id="btnUpload" type="submit" value="Submit" class="btn btn-danger waves-effect waves-light">Upload File</button>
                                @if (ViewBag.UpMessage != null && ViewBag.UpMessage.ToString().Contains("Success"))
                                {
                                    <label class="label msg" style="font-size:medium;  color:green;">@ViewBag.UpMessage</label>
                                }
                                else
                                {
                                    <label class="label msg" style="font-size:medium;  color:red;">@ViewBag.UpMessage</label>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                Critical Required Fields:
                                <ul>
                                    <li>Program Code</li>
                                    <li>Unique Course Code</li>
                                    <li>Type Name and Number</li>
                                    <li>Credit Hours</li>
                                    <li>Set 0 for Empty fields</li>
                                </ul>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->
<!-- Custom Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Message Alert</h4>
            </div>
            <div class="modal-body">
                <span id="alert_message"></span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="MidTermModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MidTermModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="CenterModalLabel">Leave Application</h4>
            </div>
            <div class="modal-body text-center">
                <img id="image_source" src="~/Images/no-image.png" width="300" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="organization_course_dialog"></div>
@section JS {

    <script type="text/javascript" src="@Href(" ~/Scripts/orgCourseCRUD.js")"></script>

    <script type="text/javascript">
        function HideBarr() {
            HideMessage();
        }

        function CheckData() {
            var ss = $("#organization_course_table tr").children("td:first").text();
            if (ss == "No data available in table" || ss == "" || ss == " ") {
                $('#export_wait2').show();
                document.getElementById("demo").innerHTML = "No Data Found.";
                HideBarExcle2();
            }
            else {
                setupTableExportButton('#organization_course_table', 'ManageOrganizationCourse');
                $('#export_wait2').show();
                HideBarExcle2();
            }
        }


        function redirectToPage() {
            window.location = '/HR/OrganizationsManagement/ManageOrganizationCourse';
        }

        function alertFilename() {
            var thefile = document.getElementById('my-file-selector');
            document.getElementById('file-name').innerHTML = thefile.value;
        }


        function HideSpanMessage() {
            setTimeout(function () { $('.span_message').hide(); }, 5000);
        }

        function HideMessage() { setTimeout(function () { $('#export_wait').hide(); document.getElementById("btn-excel-download").disabled = false; }, 5000); }

        function HideBarExcle2() { setTimeout(function () { $('#export_wait2').hide(); document.getElementById("demo").innerHTML = ""; }, 1500); }

        function searchReport() {
            // get the entered string
            var toSearch = $('organization_course_table_filter input').val();

            $('#organization_course_table').DataTable().search(toSearch);
            $('#organization_course_table').DataTable().draw();
        }

        popup = function viewImage(image_name) {
            $('#image_source').attr("src", "/Content/Logos/" + image_name);
            $('#MidTermModal').modal('show');
        }

        function clearr() {
            $('input[type="search"]').focus();
            $('input[type="search"]').val("");
            $('#organization_course_table').DataTable().search("");
            $('#organization_course_table').DataTable().draw();
            $('input[type="search"]').blur();

            document.getElementById("btn-excel-download").disabled = false;
            $('#export_wait').hide();
            $('#export_wait2').hide();
            document.getElementById("demo").innerHTML = "";

            validateForm();
        }

        function initReportDataTable(identifier, url, columns) {
            var oTable = $(identifier).DataTable({
                "searchDelay": 2000,
                "scrollY": "300px",
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": url,
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {

                        //data.employee_id = $('#consolidated-employees').val();
                        data.from_date = $('#from_date').val();
                        data.to_date = $('#to_date').val();

                        return data = JSON.stringify(data);
                    }
                },
                "scrollX": true,
                "scrollCollapse": true,
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": columns,
                "order": [0, "desc"],
                "iDisplayLength": 50,
                "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                "responsive": true
            });

            oTable.on("draw", function () {
                var keyword = $(identifier + '_filter > label:eq(0) > input').val();
                $(identifier).unmark();
                $(identifier).mark(keyword, {});

                $(identifier + ' tbody tr').click(function (e) {
                    $('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                });
            });

            // set the z-index of the 'processing...' overlay
            // to a great number, so that it may always display
            // on top of the table. Also set the text color
            // to black as it is white by default.
            $(identifier + '_processing').css({
                "z-index": "1000",
                "color": "rgb(0, 0, 0)"
            });

            // initiate search one second after the user
            // stops typing.
            function setSearchDelayOnDataTable(idSelector) {
                // remove all events from the search box
                $(idSelector + '_filter input').off();

                function customDataTableSearch() {

                    // get the entered string
                    var toSearch = $(idSelector + '_filter input').val();

                    // do nothing if the string is null.
                    // I've not tested this, it is just
                    // in case.
                    if (toSearch == null) {
                        return;
                    }

                    // initiate search programatically.
                    $(idSelector).DataTable().search(toSearch).draw();
                }

                // this variable holds the timer
                var timeout;

                // register a keypress on the search box
                $(idSelector + '_filter input').keypress(function () {
                    if (timeout != null) {
                        clearTimeout(timeout);
                        timeout = null;
                    }

                    // timeout set to 1 second.
                    timeout = setTimeout(customDataTableSearch, 1000);
                });

            }

            setSearchDelayOnDataTable(identifier);
        }

        $(document).ready(function () {

            var dateToday = new Date();
            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' }); //minDate: dateToday, beforeShowDay: $.datepicker.noWeekends

            HideSpanMessage();
            //validateForm();

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode != 13 && unicode != 8 && unicode != 9) { e.preventDefault(); }
            });

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode == 8) { e.preventDefault(); e.stopPropagation(); }
            });

            $("#btnExport").click(function (e) {
                $('#organization_course_table').tableExport({ type: 'excel', escape: 'false' });
                e.preventDefault();
            });

            /*
            $("#organization_course").click(function (e) {

                if ($('#from_date').val() == "") {

                    $('#alert_message').text("Please select 'From Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("Please select 'From Date'");
                    $('#from_date').focus();
                    return false;
                }

                if ($('#to_date').val() == "") {

                    $('#alert_message').text("Please select 'To Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("Please select 'To Date'");
                    $('#to_date').focus();
                    return false;
                }

                e.preventDefault();

                if (validateForm()) {
                    searchReport();
                }

            });
            */

            var url = '@Url.Action("OrganizationCourseDataHandler", "OrganizationsManagement", null, Request.Url.Scheme)';
            var columns = [
                  { "data": "Id" },
                   { "data": "ProgramTitle" },
                   { "data": "CourseCode" },
                   { "data": "CourseTitle" },
                   { "data": "DefaultTypeName" },
                   { "data": "DefaultProgramTypeNumber" },
                   { "data": "actions" },
                   { "data": "CreditHours" },
                   { "data": "PassingMarks" },
                   { "data": "TotalMarks" },
                   { "data": "BookName" },
                   { "data": "BookAuthor" },
                   { "data": "IsActiveCourseName" },
                   { "data": "CreateDateCrsText" }
            ];

            @*

                   I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@

            initReportDataTable('#organization_course_table', url, columns);
            editOrganizationCourse = initEditModal("#organization_course_dialog", '@Url.Action("UpdateOrganizationCourse", "OrganizationsManagement", null, Request.Url.Scheme)', "Organization_Course", '@Model.str_program', '@Model.str_default_type');
            deleteOrganizationCourse = initDeleteModal("#organization_course_dialog", '@Url.Action("RemoveOrganizationCourse", "OrganizationsManagement", null, Request.Url.Scheme)', "Organization_Course");

            // ---------------------------- IR ----------------------------

            //download excel
            $("#btn-excel-download").click(function (e) {

                if ($('#from_date').val() == "") {
                    $('#alert_message').text("Please select 'From Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("Please select 'From Date'");
                    $('#from_date').focus();
                    return false;
                }

                if ($('#to_date').val() == "") {

                    $('#alert_message').text("Please select 'To Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("Please select 'To Date'");
                    $('#to_date').focus();
                    return false;
                }

                //alert($('#export_wait').html());

                if ($('#export_wait').html() == "No Data Found.") {
                    $('#export_wait').html("<img src='/images/loader.gif' style='width: 110px; margin-left:34%;' alt='processing'>");
                }

                $('#export_wait').show();

                var post_data = {
                    //"employee_id": "TYPE_EMP", //$('#employee_id').val(),
                    "from_date": $('#from_date').val(),
                    "to_date": $('#to_date').val()
                };

                $("#btn-excel-download").attr("disabled", "disabled");

                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/HR/Report/ConsolidatedReportExcelDownload',
                    data: post_data,
                    //contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (data) {

                        if (data.FileGuid != "" & data.FileName != "") {

                            $('#export_wait').hide();
                            $("#btn-excel-download").removeAttr("disabled");

                            //console.log('export done successfully InShaAllah!!!');
                            //var response = JSON.stringify(data);
                            //alert(data.FileGuid + ' >> ' + data.FileName);

                            window.location = '/HR/Report/Download?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
                        }
                        else {
                            $('#export_wait').html("No Data Found.");
                        }
                    },
                    error: function (jq) {
                        console.log('Error: ' + jq.responseText);
                    }

                });
                //  serializeAndSend();
                e.preventDefault();
            });

            // ------------------------------------------------------------
        });

        function validateForm() {
            var fDate = $('#organization-course-form').find('[name*="from_date"]').val().split("-").reverse();
            var tDate = $('#organization-course-form').find('[name*="to_date"]').val().split("-").reverse();

            fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
            tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

            console.log('fDate = ' + fDate);
            console.log('tDate = ' + tDate);

            if (fDate > tDate) {

                $('#alert_message').text("'To Date' should be greater than 'From Date'");
                $('.bs-example-modal-lg').modal('show');

                //alert("To Date should be greater than From Date.");
                return false;
            }

            /*var r = confirm("Are you sure you want to Reprocess?");
            if (r == false) {
                return false;
            }*/

            return true;
        }
    </script>


}
