@{
    ViewBag.Title = "TRMS - Organization Campus Management";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

@model ViewModels.OrganizationCampusView

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Organization</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="mdi mdi-file-document"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.instmanagement") </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    @using (Html.BeginForm("ManageOrganizationCampus", "OrganizationsManagement", FormMethod.Post, new { id = "organization-campus-form" }))
                    {
                        <div class="row">

                            <div class="col-4">

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.organization")</label>
                                        <select id="organization_id" name="organization_id" class="form-control">
                                            @if (Model.list_organization != null)
                                            {
                                                foreach (ViewModels.OrganizationView item in Model.list_organization)
                                                {
                                                    <option value="@item.Id">@item.OrganizationTitle</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>


                                <div class="row m-t-20">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.insttype")</label>
                                        <select id="campus_type_id" name="campus_type_id" class="form-control" required>
                                            @if (Model.list_campus_type != null)
                                            {
                                                foreach (ViewModels.OrganizationCampusTypeView item in Model.list_campus_type)
                                                {
                                                    <option value="@item.Id">@item.CampusTypeName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>


                                <div class="row m-t-20">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.instcode")<span class="text-danger font-14">&nbsp;* @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.unique20")</span></label>
                                        <input id="campus_code" name="campus_code" type="text" class="form-control" maxlength="20" autocomplete="off" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.title")<span class="text-danger font-14">&nbsp;*</span></label>
                                        <input id="campus_title" name="campus_title" type="text" class="form-control" autocomplete="off" required />
                                    </div>
                                </div>



                            </div>



                            <div class="col-4">


                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.email")<span class="text-danger font-14">&nbsp;*</span></label>
                                        <input id="email_address" name="email_address" type="email" autocomplete="off" class="form-control" />
                                    </div>
                                </div>


                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.ph1")<span class="text-danger font-14">&nbsp;*</span></label>
                                        <input id="phone_01" name="phone_01" type="text" autocomplete="off" class="form-control" />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.ph2")</label>
                                        <input id="phone_02" name="phone_02" type="text" autocomplete="off" class="form-control" />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.fax")</label>
                                        <input id="fax_number" name="fax_number" type="text" autocomplete="off" class="form-control" />
                                    </div>
                                </div>


                            </div>


                            <div class="col-4">


                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.address")</label>
                                        <input id="address" name="address" type="text" autocomplete="off" class="form-control" />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.city")</label>
                                        <select id="city_id" name="city_id" class="form-control" autocomplete="off">
                                            @if (Model.list_location != null)
                                            {
                                                foreach (ViewModels.LocationView item in Model.list_location)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row m-t-20">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.state")</label>
                                        <select id="state_province_id" name="state_province_id" class="form-control" autocomplete="off">
                                            @if (Model.list_state_province != null)
                                            {
                                                foreach (ViewModels.StateProvinceView item in Model.list_state_province)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row m-t-20">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.zip")</label>
                                        <input id="zip_code" name="zip_code" type="text" class="form-control" autocomplete="off" />
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label><span class="text-danger font-14">&nbsp;*</span> <span class="small">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.reqfields")</span></label>
                            </div>
                        </div>

                        <div class="row m-t-10">
                            <div class="col-12 text-danger span_message">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                @ViewBag.Message
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" id="organization_campus" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.submit")</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light m-t-10" onclick="redirectToPage();">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.reset")</button>
                                @*<button type="submit" id="btn-excel-download" onclick="HideBarr();" class="btn btn-primary waves-effect waves-light m-t-10">Download Excel</button>
                                    <span id="export_wait" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></span>*@
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="panel-body">

                    <h3>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.listofinst")</h3>

                    <div class="row m-t-30">
                        <div class="col-12">
                            <table id="organization_campus_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 150%;">
                                <thead>
                                    <tr>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.id")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.type")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.code")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.title")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.email")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.action")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.address")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.city")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.state")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.zip")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.ph1")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.ph2")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.fax")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.createdate")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" onclick="CheckData();" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportgrid")</button>
                            <span id="demo" class="text-danger"></span>
                            <p id="export_wait2" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->
<!-- Custom Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.msgalert")</h4>
            </div>
            <div class="modal-body">
                <span id="alert_message"></span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="MidTermModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MidTermModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="CenterModalLabel">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("org.leaveapplication")</h4>
            </div>
            <div class="modal-body text-center">
                <img id="image_source" src="~/Images/no-image.png" width="300" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.close")</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="organization_campus_dialog"></div>
@section JS {

    <script type="text/javascript" src="@Href("~/Scripts/orgCampusCRUD.js")"></script>

    <script type="text/javascript">
        function HideBarr() {
            HideMessage();
        }

        function CheckData() {
            var ss = $("#organization_campus_table tr").children("td:first").text();
            if (ss == "No data available in table" || ss == "" || ss == " ") {
                $('#export_wait2').show();
                document.getElementById("demo").innerHTML = "No Data Found.";
                HideBarExcle2();
            }
            else {
                setupTableExportButton('#organization_campus_table', 'ManageOrganizationCampus');
                $('#export_wait2').show();
                HideBarExcle2();
            }
        }


        function redirectToPage() {
            window.location = '/HR/OrganizationsManagement/ManageOrganizationCampus';
        }

        function HideSpanMessage() {
            setTimeout(function () { $('.span_message').hide(); }, 5000);
        }

        function HideMessage() { setTimeout(function () { $('#export_wait').hide(); document.getElementById("btn-excel-download").disabled = false; }, 5000); }

        function HideBarExcle2() { setTimeout(function () { $('#export_wait2').hide(); document.getElementById("demo").innerHTML = ""; }, 1500); }

        function searchReport() {
            // get the entered string
            var toSearch = $('organization_campus_table_filter input').val();

            $('#organization_campus_table').DataTable().search(toSearch);
            $('#organization_campus_table').DataTable().draw();
        }

        popup = function viewImage(image_name) {
            $('#image_source').attr("src", "/Content/Logos/" + image_name);
            $('#MidTermModal').modal('show');
        }

        function clearr() {
            $('input[type="search"]').focus();
            $('input[type="search"]').val("");
            $('#organization_campus_table').DataTable().search("");
            $('#organization_campus_table').DataTable().draw();
            $('input[type="search"]').blur();

            document.getElementById("btn-excel-download").disabled = false;
            $('#export_wait').hide();
            $('#export_wait2').hide();
            document.getElementById("demo").innerHTML = "";

            validateForm();
        }

        function initReportDataTable(identifier, url, columns) {
            var oTable = $(identifier).DataTable({
                "searchDelay": 2000,
                "scrollY": "300px",
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": url,
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {

                        //data.employee_id = $('#consolidated-employees').val();
                        data.from_date = $('#from_date').val();
                        data.to_date = $('#to_date').val();

                        return data = JSON.stringify(data);
                    }
                },
                "scrollX": true,
                "scrollCollapse": true,
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": columns,
                "order": [0, "desc"],
                "iDisplayLength": 50,
                "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                "responsive": true
            });

            oTable.on("draw", function () {
                var keyword = $(identifier + '_filter > label:eq(0) > input').val();
                $(identifier).unmark();
                $(identifier).mark(keyword, {});

                $(identifier + ' tbody tr').click(function (e) {
                    $('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                });
            });

            // set the z-index of the 'processing...' overlay
            // to a great number, so that it may always display
            // on top of the table. Also set the text color
            // to black as it is white by default.
            $(identifier + '_processing').css({
                "z-index": "1000",
                "color": "rgb(0, 0, 0)"
            });

            // initiate search one second after the user
            // stops typing.
            function setSearchDelayOnDataTable(idSelector) {
                // remove all events from the search box
                $(idSelector + '_filter input').off();

                function customDataTableSearch() {

                    // get the entered string
                    var toSearch = $(idSelector + '_filter input').val();

                    // do nothing if the string is null.
                    // I've not tested this, it is just
                    // in case.
                    if (toSearch == null) {
                        return;
                    }

                    // initiate search programatically.
                    $(idSelector).DataTable().search(toSearch).draw();
                }

                // this variable holds the timer
                var timeout;

                // register a keypress on the search box
                $(idSelector + '_filter input').keypress(function () {
                    if (timeout != null) {
                        clearTimeout(timeout);
                        timeout = null;
                    }

                    // timeout set to 1 second.
                    timeout = setTimeout(customDataTableSearch, 1000);
                });

            }

            setSearchDelayOnDataTable(identifier);
        }

        $(document).ready(function () {

            var dateToday = new Date();
            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' }); //minDate: dateToday, beforeShowDay: $.datepicker.noWeekends

            HideSpanMessage();
            //validateForm();

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode != 13 && unicode != 8 && unicode != 9) { e.preventDefault(); }
            });

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode == 8) { e.preventDefault(); e.stopPropagation(); }
            });

            $("#btnExport").click(function (e) {
                $('#organization_campus_table').tableExport({ type: 'excel', escape: 'false' });
                e.preventDefault();
            });

            /*
            $("#organization_campus").click(function (e) {

                if ($('#from_date').val() == "") {

                    $('#alert_message').text("Please select 'From Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("Please select 'From Date'");
                    $('#from_date').focus();
                    return false;
                }

                if ($('#to_date').val() == "") {

                    $('#alert_message').text("Please select 'To Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("Please select 'To Date'");
                    $('#to_date').focus();
                    return false;
                }

                e.preventDefault();

                if (validateForm()) {
                    searchReport();
                }

            });
            */

            var url = '@Url.Action("OrganizationCampusDataHandler", "OrganizationsManagement", null, Request.Url.Scheme)';
            var columns = [
                  { "data": "Id" },
                   { "data": "CampusTypeName" },
                   { "data": "CampusCode" },
                   { "data": "CampusTitle" },
                   { "data": "EmailAddress" },
                   { "data": "actions" },
                   { "data": "Address" },
                   { "data": "CityName" },
                   { "data": "StateProvinceName" },
                   { "data": "ZipCode" },
                   { "data": "Phone01" },
                   { "data": "Phone02" },
                   { "data": "FaxNumber" },
                   { "data": "CreateDateCmpText" }
            ];

            @*
                   I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@

            initReportDataTable('#organization_campus_table', url, columns);
            editOrganizationCampus = initEditModal("#organization_campus_dialog", '@Url.Action("UpdateOrganizationCampus", "OrganizationsManagement", null, Request.Url.Scheme)', "Organization_Campus", "@Model.str_campus_type");
            deleteOrganizationCampus = initDeleteModal("#organization_campus_dialog", '@Url.Action("RemoveOrganizationCampus", "OrganizationsManagement", null, Request.Url.Scheme)', "Organization_Campus");

            // ---------------------------- IR ----------------------------

            //download excel
            $("#btn-excel-download").click(function (e) {

                if ($('#from_date').val() == "") {
                    $('#alert_message').text("Please select 'From Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("Please select 'From Date'");
                    $('#from_date').focus();
                    return false;
                }

                if ($('#to_date').val() == "") {

                    $('#alert_message').text("Please select 'To Date'");
                    $('.bs-example-modal-lg').modal('show');

                    //alert("Please select 'To Date'");
                    $('#to_date').focus();
                    return false;
                }

                //alert($('#export_wait').html());

                if ($('#export_wait').html() == "No Data Found.") {
                    $('#export_wait').html("<img src='/images/loader.gif' style='width: 110px; margin-left:34%;' alt='processing'>");
                }

                $('#export_wait').show();

                var post_data = {
                    //"employee_id": "TYPE_EMP", //$('#employee_id').val(),
                    "from_date": $('#from_date').val(),
                    "to_date": $('#to_date').val()
                };

                $("#btn-excel-download").attr("disabled", "disabled");

                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/HR/Report/ConsolidatedReportExcelDownload',
                    data: post_data,
                    //contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (data) {

                        if (data.FileGuid != "" & data.FileName != "") {

                            $('#export_wait').hide();
                            $("#btn-excel-download").removeAttr("disabled");

                            //console.log('export done successfully InShaAllah!!!');
                            //var response = JSON.stringify(data);
                            //alert(data.FileGuid + ' >> ' + data.FileName);

                            window.location = '/HR/Report/Download?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
                        }
                        else {
                            $('#export_wait').html("No Data Found.");
                        }
                    },
                    error: function (jq) {
                        console.log('Error: ' + jq.responseText);
                    }

                });
                //  serializeAndSend();
                e.preventDefault();
            });

            // ------------------------------------------------------------
        });

        function validateForm() {
            var fDate = $('#organization-campus-form').find('[name*="from_date"]').val().split("-").reverse();
            var tDate = $('#organization-campus-form').find('[name*="to_date"]').val().split("-").reverse();

            fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
            tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

            console.log('fDate = ' + fDate);
            console.log('tDate = ' + tDate);

            if (fDate > tDate) {

                $('#alert_message').text("'To Date' should be greater than 'From Date'");
                $('.bs-example-modal-lg').modal('show');

                //alert("To Date should be greater than From Date.");
                return false;
            }

            /*var r = confirm("Are you sure you want to Reprocess?");
            if (r == false) {
                return false;
            }*/

            return true;
        }
    </script>


}
