<!DOCTYPE html>
<html lang="us">

<head>
    <meta charset="utf-8">
    <title>BAMS</title>


    <!-- Section CSS -->

    <link href="@Href("~/Content/ui-darkness/jquery-ui-1.9.2.custom.css")" rel="stylesheet"> <!-- JQuery UI theme -->
    <link href="@Href("~/Content/bootstrap.min.css")" rel="stylesheet">  <!-- Bootstrap -->
    <link href="@Href("~/Content/bootstrap-year-calendar.min.css")" rel="stylesheet"> <!-- bootstrap for calendar -->
    <link href="@Href("~/Content/datatables.min.css")" rel="stylesheet" /> <!-- CSS for DataTables -->
    <link href="@Href("~/Content/timepicki.css")" rel="stylesheet" /> <!-- CSS for TimePicker -->
    <link href="@Href("~/Content/chosen.css")" rel="stylesheet" /> <!-- CSS for Chosen -->
    <link href="@Href("~/Content/Site.css")" rel="stylesheet"> <!-- custom Stylesheet -->

</head>

<body>

    @{
        var userRole = (User.IsInRole(BLL.TimeTuneRoles.ROLE_HR)) ? "HR: " + User.Identity.Name :
            (User.IsInRole(BLL.TimeTuneRoles.ROLE_EMP)) ? "EMPLOYEE: " + User.Identity.Name :
            (User.IsInRole(BLL.TimeTuneRoles.ROLE_LM)) ? "LINE MANAGER: " + User.Identity.Name : "unauthorized";
    }




    <nav id="header" class="navbar navbar-inverse" style="border-radius: 0px">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div>
                    <!--<a id="brand-name" class="navbar-brand" href="/HR">BAMS</a>-->


                    <div class="row header">
                        <a href="#" class="logo-hbl left">
                            <img src="@Href("~/images/bams-logo-hbl.png")" alt="HBL" width="250" />
                        </a>
                        <div style="text-align:center;float:left">
                            <h1 class="logo-heading" style="color:white;margin-left:77%">BAMS</h1>
                        </div>


                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown pull-right">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    @userRole
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>
                                    <li class="divider"></li>
                                    <li>
                                        @if (Request.IsAuthenticated)
                                        {
                                            <text>
                                                @*Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!*@
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                                }
                                            </text>
                                        }
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>





            </div>

        </div>

    </nav>

    <div id="wrap">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-2" style="padding-left:0px">
                    <div id="accordion">
                        <h3>User-HR @User.Identity.Name</h3>
                        <div>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("Dashboard", "Dashboard", "HR")</li>
                                <!--    <li>@Html.ActionLink("Configuration Manager", "ConfigurationManager", "HR")</li> -->
                                <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>
                            </ul>
                        </div>
                        <h3>Employee Management</h3>
                        <div>
                            <ul class="sub-menu">

                                <li>@Html.ActionLink("Function", "Function", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Region", "Region", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Department", "Department", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Location", "Location", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Type of Employment", "TypeOfEmployment", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Manage Designations", "Designation", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Manage Grades", "Grade", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Manage Employees", "ManageEmployee", "EmployeeManagement")</li>
                                <!--     <li>@Html.ActionLink("Employee Hierarchy", "EmployeeHierarchy", "EmployeeManagement")</li>
                                         <li>@Html.ActionLink("Hierarchy Transfer", "HierarchyTransfer", "EmployeeManagement")</li>
                                         <li>@Html.ActionLink("Manual Uploads", "ManualUploads", "EmployeeManagement")</li>  -->
                                <li>@Html.ActionLink("Change Employee Password", "ChangeEmployeePassword", "EmployeeManagement")</li>
                            </ul>
                        </div>

                        <h3>Shift Management</h3>
                        <div>
                            <ul class="sub-menu">
                                <!--   <li>@Html.ActionLink("Add Group", "AddGroup", "ShiftManagement")</li>
                                       <li>@Html.ActionLink("Authorize Shift", "ShiftAuthorization", "ShiftManagement")</li> -->
                                <li>@Html.ActionLink("Manage Shift", "ManageShift", "ShiftManagement")</li>
                                <li>@Html.ActionLink("Calendar", "Calendar", "ShiftManagement")</li>
                            </ul>
                        </div>
                        <h3>Roster Management</h3>
                        <div>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("Manage Groups", "ManageGroup", "RosterManagement")</li>
                                <li>@Html.ActionLink("Manage Super Line Managers", "Manage", "SuperLineManagers")</li>

                                <li>@Html.ActionLink("Get/Set Line Managers", "Manage", "UploadDownloadLineManagers")</li>
                                <li>@Html.ActionLink("Get/Set Super Line Managers", "Manage", "UploadDownloadSuperLineManagers")</li>

                                <!--    <li>@Html.ActionLink("Manage Roster", "ManageRoster", "RosterManagement")</li>
                                        <li>@Html.ActionLink("Employee WO Shift", "EmployeeWOShift", "RosterManagement")</li>
                                        <li>@Html.ActionLink("View Self Roster", "ViewSelfRoster", "RosterManagement")</li> -->
                            </ul>
                        </div>
                        <h3>Attendance Management</h3>
                        <div>
                            <ul class="sub-menu">
                                <!--     <li>@Html.ActionLink("Upload Raw Attendance", "UploadRawAttendance", "AttendanceManagement")</li> -->
                                <!--   <li>@Html.ActionLink("View Raw Attendance", "ViewRawAttendance", "AttendanceManagement")</li>-->
                                <li>@Html.ActionLink("Past Attendance", "ManualAttendance", "AttendanceManagement")</li>
                                <li>@Html.ActionLink("Future Attendance", "FutureManualAttendance", "AttendanceManagement")</li>
                               
                                <li>@Html.ActionLink("Today's Attendance", "ViewAttendance", "AttendanceManagement")</li>
                                <li>@Html.ActionLink("Reprocess Attendance", "MarkAttendance", "Admin")</li>
                                <!--  <li>@Html.ActionLink("Change Session Time Out", "ChangeSessionTimeOut", "Admin")</li>-->
                            </ul>
                        </div>
                        <h3>Reports</h3>
                        <div>
                            <ul class="sub-menu">
                                <!--     <li>@Html.ActionLink("View Attendance Report", "ConsolidateAttendance", "Reports")</li> -->
                                <li>@Html.ActionLink("Monthly Time Sheet", "GenerateReport", "Reports")</li>
                                <li>@Html.ActionLink("Attendance Summary", "AttendanceSummary", "Reports")</li>
                                <li>@Html.ActionLink("View Consolidated Report", "ConsolidateAttendance", "Reports")</li>
                                <li>@Html.ActionLink("View Present and Absent Report", "PaReport", "Reports")</li>
                                <li>@Html.ActionLink("View Department Wise Report", "DepartmentReport", "Reports")</li>
                            </ul>
                        </div>
                        <h3>Training Manuals</h3>
                        <div>
                            <ul class="sub-menu">
                                <li><a href="@Href("~/Content/TrainingManuals/EndUserGuide.pdf")">End User Guide</a></li>
                                <li><a href="@Href("~/Content/TrainingManuals/LineManager.pdf")">LM End User Guide</a></li>
                                
                            </ul>
                        </div>
                        <a onclick="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                    </div>
                </div>
                <div class="col-md-10">


                    @RenderBody()


                </div>
            </div>

        </div>
    </div>
    <!--FOOTER-->


    <footer class="footer" style="background-color:#c2c2c2"><span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; color: #FFFFFF">Copyright &copy; @DateTime.Now.Year HBL</span></footer>


    <div style="display:none;height:0px;width:0px;">

        <form id="csvDownloadForm" method="POST" action="/CSV/getFile" enctype="multipart/form-data">
            <input id="csvDownloadData" type="hidden" name="base64stream" value="" />
            <input id="csvDownloadName" type="hidden" name="fileName" value="" />
        </form>

    </div>




    @{// SECTION for Javascript
    // Keeping JS as the end of the page decreases apparent load time.
    }
    <script src="@Url.Content("/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script> <!-- Jquery -->



    <script src="@Url.Content("/Scripts/bootstrap-year-calendar.min.js")" type="text/javascript"></script> <!-- Jquery for bootstrap calendar -->

    <script src="@Url.Content("/Scripts/bootstrap.min.js")" type="text/javascript"></script> <!-- Bootstrap JavaScript-->
    <script src="@Url.Content("/Scripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script> <!-- Jquery UI Theme -->
    <script src="@Url.Content("/Scripts/datatables.min.js")" type="text/javascript"></script> <!-- DataTables JS -->
    <script src="@Url.Content("/Scripts/mark.min.js")" type="text/javascript"></script> <!-- JS for marking text -->
    <script src="@Url.Content("/Scripts/modal.js")" type="text/javascript"></script> <!-- JS for modal making -->
    <script src="@Url.Content("/Scripts/timepicki.js")" type="text/javascript"></script> <!-- TimePicker JavaScript -->
    <script src="@Url.Content("/Scripts/chosen.jquery.js")" type="text/javascript"></script> <!-- Chosen JavaScript -->
    <script type="text/javascript" src="@Url.Content("/Scripts/tableexport.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.base64.js")"></script>
    <script src="@Url.Content("/Scripts/custom.js")" type="text/javascript"></script> <!-- custom JavaScript -->
    @RenderSection("JS", required: false)


    <div id="modals">

    </div>

    <div id="toast" class="toast-message" style='display:none'>Message!</div>
</body>

</html>