@{
    ViewBag.Title = "TRMS - Attendance Summary";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Welcome <span class="text-danger">'HR'</span>! [Login ID: <span class="text-warning" title="@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId)">@User.Identity.Name</span> & Name: <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span>]</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Reports</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="mdi mdi-chart-bar"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("Menu.emp.attendance.summary") </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("AttendanceSummaryDataHandler", "Reports", FormMethod.Post, new { id = "report-form" }))
                            {
                                <div class="row">
                                    <div class="col-4">
                                        <label id="date_from" class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("emp.datef") <span class="text-danger font-14">*</span></label>
                                        <input type="text" class="form-control datepicker" name="from_date" autocomplete="off" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-4">
                                        <label id="date_to" class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("emp.datet") <span class="text-danger font-14">*</span></label>
                                        <input type="text" class="form-control datepicker" name="to_date" autocomplete="off" required />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" value="Submit" onclick="clearr();" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.search")</button>
                                        <button type="button" class="btn btn-primary waves-effect waves-light m-t-10" onclick="redirectToPage();">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.reset")</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="panel-body">
                   
                    <div class="row">
                        <div class="col-12">
                            <table id="report_table" class="display cell-border"@*class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small"*@ style="width: 120%;">
                                <thead>
                                    <tr>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.empcode")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.fname")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.lname")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dep") </th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.des")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.institute")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.present")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.leave")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.absent")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.ontime")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.late")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.earlyout")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" onclick="ExortExcleBar();" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportgrid")</button>
                            @*<button type="submit" id="btn-excel-download" form="consolidate-form" onclick="ExcleHide();" class="btn btn-primary waves-effect waves-light">Download Excel</button>
                            <span id="export_wait" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></span>
                            <span id="demo" class="text-danger"></span>*@
                            <p id="export_wait2" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->




@section JS {
    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
    <script type="text/javascript">
        function redirectToPage() {
            window.location.reload();
        }
        function ExcleHide() {
            HideMessage();
        }
        function HideMessage() { setTimeout(function () { $('#export_wait').hide(); document.getElementById("btn-excel-download").disabled = false; }, 5000); }
        $(document).ready(function () {
            var empCode= @Html.Raw(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId);

            $.ajax({
                url: '/HR/HR/VerfiyDataHandler',
                type: "POST",
                data: { empId: empCode },
                dataType: "json",

                success: function (data) {

                    if (data.HRExportGridData == false) {
                        $("#btnExport").hide();
                    }

                },
                error: function () {
                    alert("error");
                }
            });


            //$('#accordion').accordion("option", "active", 5);
            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
            //setActiveLink("Attendance Summary");
          




          

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode != 13 && unicode != 8 && unicode != 9) {



                    e.preventDefault();
                }
            });

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode == 8) { e.preventDefault(); e.stopPropagation(); }
            });
            //$("input[type=submit], button").button();
        });

        function checkSubmit(id) {

            fDate = $(id).find('[name*="from_date"]').val().split("-").reverse();
            tDate = $(id).find('[name*="to_date"]').val().split("-").reverse();


            fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
            tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

            if (tDate < fDate) {
                alert("To date should be greater than from date.");
                return false;
            }

            return true;
        }


        function ExortExcleBar() {
            $('#export_wait2').show();
            document.getElementById("btnExport").disabled = true;
            HideBarExcle();
            var ss = $("tr").children("td:first").text();
            if (ss != "No data available in table" || ss == " " || ss == "") { DownloadExcleCsv(); }
            else { document.getElementById("demo").innerHTML = "No Data Found."; }
        }

        function DownloadExcleCsv() { setupTableExportButton('#report_table', 'AttendanceSummary'); }

        function HideBarExcle() { setTimeout(function () { $('#export_wait2').hide(); document.getElementById("btnExport").disabled = false; document.getElementById("demo").innerHTML = ""; }, 1500); }

        function clearr() {
            $('input[type="search"]').focus();
            $('input[type="search"]').val("");
            $('#attendance_table').DataTable().search("");
            $('#attendance_table').DataTable().draw();
            $('input[type="search"]').blur();
            document.getElementById("btn-excel-download").disabled = false;
        }


        function initReportDataTable(identifier, url, columns) {
            var oTable = $(identifier).DataTable({
                "searchDelay": 2000,
                "scrollY": "300px",
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": url,
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {

                        data.from_date = $('#report-form').find('[name*="from_date"]').val();;
                        data.to_date = $('#report-form').find('[name*="to_date"]').val();
                        return data = JSON.stringify(data);
                    }
                },
                "scrollX": true,
                "scrollCollapse": true,
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": columns,
                "order": [0, "asc"],
                "iDisplayLength": 5000,
                "aLengthMenu": [[10, 25, 50, 100, 500, 1000, 5000, 9999], [10, 25, 50, 100, 500, 1000, 5000, 9999]]

            });

            oTable.on("draw", function () {
                var keyword = $(identifier + '_filter > label:eq(0) > input').val();
                $(identifier).unmark();
                $(identifier).mark(keyword, {});



                $(identifier + ' tbody tr').click(function (e) {
                    $('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                });
            });


            // set the z-index of the 'processing...' overlay
            // to a great number, so that it may always display
            // on top of the table. Also set the text color
            // to black as it is white by default.
            $(identifier + '_processing').css({
                "z-index": "1000",
                "color": "rgb(0, 0, 0)"
            });


            // initiate search one second after the user
            // stops typing.
            function setSearchDelayOnDataTable(idSelector) {
                // remove all events from the search box
                $(idSelector + '_filter input').off();


                function customDataTableSearch() {

                    // get the entered string
                    var toSearch = $(idSelector + '_filter input').val();

                    // do nothing if the string is null.
                    // I've not tested this, it is just
                    // in case.
                    if (toSearch == null) {
                        return;
                    }

                    // initiate search programatically.
                    $(idSelector).DataTable().search(toSearch).draw();
                }

                // this variable holds the timer
                var timeout;

                // register a keypress on the search box
                $(idSelector + '_filter input').keypress(function () {
                    if (timeout != null) {
                        clearTimeout(timeout);
                        timeout = null;
                    }

                    // timeout set to 1 second.
                    timeout = setTimeout(customDataTableSearch, 1000);
                });

            }

            setSearchDelayOnDataTable(identifier);
        }

        $("#btn-excel-download").click(function (e) {

            //if ($('#date_from').val() == "") {
            //    alert("Please select 'From Date'");
            //    $('#date_from').focus();
            //    return false;
            //}

            //if ($('#date_to').val() == "") {
            //    alert("Please select 'To Date'");
            //    $('#date_to').focus();
            //    return false;
            //}

            //alert($('#export_wait').html());

            if ($('#export_wait').html() == "No Data Found.") {
                $('#export_wait').html("<img src='/images/loader.gif' style='width: 110px ; margin-left: 34%;' alt='processing'>");
            }

            $('#export_wait').show();

            var post_data = {
                //"from_date": $('#date_from').val(),
                //"to_date": $('#date_to').val()
                "from_date" : $('#report-form').find('[name*="from_date"]').val(),
            "to_date" : $('#report-form').find('[name*="to_date"]').val()

            };

            $("#btn-excel-download").attr("disabled", "disabled");

            $.ajax({
                cache: false,
                type: 'post',
                url: '/HR/Reports/AttendanceSummaryExcelDownload',
                data: post_data,
                //contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {

                    if (data.FileGuid != "" & data.FileName != "") {

                        $('#export_wait').hide();
                        $("#btn-excel-download").removeAttr("disabled");

                        //console.log('export done successfully InShaAllah!!!');
                        //var response = JSON.stringify(data);
                        //alert(data.FileGuid + ' >> ' + data.FileName);

                        window.location = '/HR/Reports/Download?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
                    }
                    else {
                        $('#export_wait').html("No Data Found.");
                    }
                },
                error: function (jq) {
                    console.log('Error: ' + jq.responseText);
                }

            });
            //  serializeAndSend();
            e.preventDefault();
        });
        var url = '@Url.Action("AttendanceSummaryDataHandler", "Reports", null, Request.Url.Scheme)';
        var columns = [
            { "data": "employeeCode" },
            { "data": "first_name" },
            { "data": "last_name" },
            { "data": "dept_name" },
            { "data": "desg_name" },
            { "data":"camp_name"},
            { "data": "present" },
            { "data": "leave" },
            { "data": "absent" },
            { "data": "ontime" },
            { "data": "late" },
            { "data": "earlyGone" }
        ];

        initReportDataTable('#report_table', url, columns);

        $('#report-form').on("submit", function (e) {

            if (checkSubmit('#report-form')) {
                var toSearch = $("#report_table_filter input").val();

                //var fDate = $('#report-form').find('[name*="from_date"]').val();
                //var tDate = $('#report-form').find('[name*="to_date"]').val();
                $("#report_table").DataTable().search(toSearch).draw();

            }


            e.preventDefault();

        });
    </script>
}
