<h4 style="font-weight: bold;">Devices Status Report</h4>

<div class="row">
    <div class="form-group col-md-3">

        <form style="display:none">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Report Type</label>

                    <select id="type-of-report" class="form-control" required>
                        <option value="none" disabled="disabled" selected="selected">Select an option</option>
                        <option value="monthly-time-sheet">Time Sheet By Month</option>
                        <option value="summary-report">Employee Summary</option>
                        <option value="monthly-attendance-register">Monthly Attendance Register</option>
                    </select>

                </div>
            </div>
        </form>

    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">

        <style>
            .dataTables_wrapper .dataTables_paginate {
                width: 315px !important;
            }

            .dataTables_filter {
                display: none;
            }

            /*.dataTables_filter, .dataTables_info { display: none; }*/
        </style>

        <table id="device_status_table" class="display cell-border" style="width: 100%;">
            <thead>

                <tr style="line-height: 20px;">
                    <th>ID</th>
                    <th>Date Time</th>
                    <th>Device Name</th>
                    <th>Branch</th>
                    <th>Location</th>
                    <th>Device Status</th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
        <button type="submit" id="btnExport" style="margin-top:5px">Export Excel</button>
    </div>
</div>
<br><br><br><br><br><br><br><br>

@section JS {

    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
    @*<script type="text/javascript" src="@Href("~/Scripts/GenerateReports.js")"></script>*@
    @*<script type="text/javascript" src="@Href("~/Scripts/monthpicker.js")"></script>*@


    <script>

        function redirectToPage() {
            //window.location = '/HR/Reports/ReturnBack?returnURL=' + window.location;
            window.location.reload();
        }

        // -------------------- added by IR ---------------------

        function validateFormInfo() {

            if ($('#device-status-number').val() == null || $('#device-status-number').val() == "") {
                alert('Please select a Device Number');
                //$('#monthly-time-sheet-employees').focus();
                return false;
            }
        }

        function submitcheck() {

            fDate = $('#devicesstatus-form').find('[name*="from_date"]').val().split("-").reverse();
            tDate = $('#devicesstatus-form').find('[name*="to_date"]').val().split("-").reverse();

            //console.log('1>> ' + fDate + ' - ' + tDate);

            fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
            tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

            //console.log('2>> ' + fDate + ' - ' + tDate);

            if (tDate < fDate) {
                alert("To Date should be greater than From Date.");
                return false;
            }

            searchReport();
            return true;

        }

        function GetLastDayOfMonth(m, y) {

            var lastDay = 28;

            if (m == "04" || m == "06" || m == "09" || m == "11") {
                lastDay = 30;
            }
            else if (m == "02") {
                if ((y % 4) == 0) {
                    lastDay = 29;
                }
                else {
                    lastDay = 28;
                }
            }
            else {
                lastDay = 31;
            }

            return lastDay;
        }

        function searchReport() {
            // get the entered string
            var toSearch = $('device_status_table_filter input').val();

            $('#device_status_table').DataTable().search(toSearch);
            $('#device_status_table').DataTable().draw();
        }

        function initReportDataTable(identifier, url, columns) {
            var oTable = $(identifier).DataTable({
                "searchDelay": 2000,
                //"searching" : false,
                "scrollY": "300px",
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": url,
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {

                        return data = JSON.stringify(data);
                    }
                },
                "scrollX": true,
                "scrollCollapse": true,
                "processing": true,
                "paging": true,
                "bInfo": false,
                "bPaginate": false,
                //"sDom": "lfrti",
                "bLengthChange": false,
                "deferRender": true,
                "columns": columns

            });

            oTable.on("draw", function () {
                var keyword = $(identifier + '_filter > label:eq(0) > input').val();
                $(identifier).unmark();
                $(identifier).mark(keyword, {});

                $(identifier + ' tbody tr').click(function (e) {
                    $('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                });
            });


            // set the z-index of the 'processing...' overlay
            // to a great number, so that it may always display
            // on top of the table. Also set the text color
            // to black as it is white by default.
            $(identifier + '_processing').css({
                "z-index": "1000",
                "color": "rgb(0, 0, 0)"
            });


            // initiate search one second after the user
            // stops typing.
            function setSearchDelayOnDataTable(idSelector) {
                // remove all events from the search box
                $(idSelector + '_filter input').off();


                function customDataTableSearch() {

                    // get the entered string
                    var toSearch = $(idSelector + '_filter input').val();

                    // do nothing if the string is null.
                    // I've not tested this, it is just
                    // in case.
                    if (toSearch == null) {
                        return;
                    }

                    // initiate search programatically.
                    $(idSelector).DataTable().search(toSearch).draw();
                }

                // this variable holds the timer
                var timeout;

                // register a keypress on the search box
                $(idSelector + '_filter input').keypress(function () {
                    if (timeout != null) {
                        clearTimeout(timeout);
                        timeout = null;
                    }

                    // timeout set to 1 second.
                    timeout = setTimeout(customDataTableSearch, 1000);
                });

            }

            setSearchDelayOnDataTable(identifier);
        }

        function setTypeOfReportDropDown() {
            $('#type-of-report').chosen();
            $('#type-of-report').on("change", function () {
                switch ($('#type-of-report').val()) {

                    case "monthly-time-sheet":
                        $('#monthly-time-sheet').show();
                        $('#summary-report').hide();
                        $('#monthly-attendance-register').hide();
                        break;

                    case "summary-report":
                        $('#monthly-time-sheet').hide();
                        $('#summary-report').show();
                        $('#monthly-attendance-register').hide();
                        break;

                    case "monthly-attendance-register":
                        $('#monthly-time-sheet').hide();
                        $('#summary-report').hide();
                        $('#monthly-attendance-register').show();
                        break;
                }
            });
        }


        function setEmployeeDropDowns() {
            $('#device-status-number').ajaxChosen({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("ChangeDeviceStatusNumberDataHandler", "Reports", null, Request.Url.Scheme)'
            }, {
                loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
            });
        }


        $(document).ready(function () {
            $('#accordion').accordion("option", "active", 5);
            $("input[type=submit], button").button();
            $(".chzn-select").chosen();
            $(".datepicker").datepicker();
            setActiveLink("Device Status Report");

            setEmployeeDropDowns();

            setTypeOfReportDropDown();


            //DataTables.NET
            //search-devicestatus-report
            //



            //var fewSeconds = 5;
            //$('#search-devicestatus-report').click(function () {
            //    // Ajax request
            //    var btn = $(this);
            //    btn.prop('disabled', true); //btn.hide();
            //    setTimeout(function () {
            //        btn.prop('disabled', false); //btn.show();
            //    }, fewSeconds * 1000);

            //});

            $("#btnExport").click(function (e) {

                setupTableExportButton('#device_status_table', 'DevicesStatusReport');
                e.preventDefault();
            });

            $('#search-devicestatus-report').button();
            $("#search-devicestatus-report").click(function (e) {

                //alert('values >> ' + $('#monthly-time-sheet-employees').val() + ' >> ' + $('#monthly-time-sheet-month').val());



                //<select id="monthly-time-sheet-employees"

                //        <input id="monthly-time-sheet-month" type="text" name="month" class="form-control monthPicker" required />



                //if ($('#device-status-number').val() == "") {
                //    alert('Please select a Device Number.');
                //    return false;
                //}

                if ($('#date_from').val() == "") {
                    alert("Please select 'From Date'");
                    $('#date_from').focus();
                    return false;
                }

                if ($('#date_to').val() == "") {
                    alert("Please select 'To Date'");
                    $('#date_to').focus();
                    return false;
                }

                submitcheck();
                //  serializeAndSend();
                e.preventDefault();
            });

            //download excel
            $("#btn-excel-download").click(function (e) {

                if ($('#date_from').val() == "") {
                    alert("Please select 'From Date'");
                    $('#date_from').focus();
                    return false;
                }

                if ($('#date_to').val() == "") {
                    alert("Please select 'To Date'");
                    $('#date_to').focus();
                    return false;
                }

                //alert($('#export_wait').html());

                if ($('#export_wait').html() == "No Data Found.") {
                    $('#export_wait').html("<img src='/images/loader.gif' style='width: 110px' alt='processing'>");
                }

                $('#export_wait').show();

                var post_data = {
                    "device_number": $('#device-status-number').val(),
                    "from_date": $('#date_from').val(),
                    "to_date": $('#date_to').val(),
                    "device_status_type": $('#device_status_type').val()
                };

                $("#btn-excel-download").attr("disabled", "disabled");

                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/HR/Reports/DevicesStatusReportExcelDownload',
                    data: post_data,
                    //contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (data) {

                        if (data.FileGuid != "" & data.FileName != "") {

                            $('#export_wait').hide();
                            $("#btn-excel-download").removeAttr("disabled");

                            //console.log('export done successfully InShaAllah!!!');
                            //var response = JSON.stringify(data);
                            //alert(data.FileGuid + ' >> ' + data.FileName);

                            window.location = '/HR/Reports/Download?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
                        }
                        else {
                            $('#export_wait').html("No Data Found.");
                        }
                    },
                    error: function (jq) {
                        console.log('Error: ' + jq.responseText);
                    }

                });
                //  serializeAndSend();
                e.preventDefault();
            });

            var url = '@Url.Action("DevicesStatusReportDataHandler", "Reports", null, Request.Url.Scheme)';

            var columns = [
                    { "data": "L_ID", "width": "10%" },
                    { "data": "C_EventTime", "width": "12%" },
                    { "data": "C_Name", "width": "20%" },
                    { "data": "C_Office", "width": "22%" },
                    { "data": "C_Place", "width": "10%" },
                    {
                        "data": "L_Detail",
                        "width": "20%",
                        render: function (status_id) {

                            if (status_id == "Connected") {
                                return '<div style="padding-left: 100px; color: white;"><img src="/images/connected.png" width="24" alt="active" />Active</div>';
                            }
                            else {
                                return '<div style="padding-left: 100px; color: white;"><img src="/images/disconnected.png" width="24" alt="inactive" />Inactive</div>';
                            }
                        },
                        defaultContent: "No image"
                    }
            ];

            initReportDataTable('#device_status_table', url, columns);

        });

    </script>
}