@{
    ViewBag.Title = "TRMS - Employee Calendar";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_LayoutCalendar.cshtml";
}

@model List<ViewModels.Employee>

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Welcome SuperAdmin! Username: @User.Identity.Name</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/SuperAdmin">Super Admin</a></li>
                    <li class="breadcrumb-item active">Employee Calendar</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i> Employee Calendar </h3>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <strong>@DateTime.Now.ToString("f")</strong>
                            </h6>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <form id="calendar_edit_form">
                                <div class="row">
                                    <div class="col-4">
                                        <input type="text" name="group" id="group" value="@Model.FirstOrDefault().group_id" hidden />
                                        <label class="control-label">Select Employee</label>
                                        <!-- <select id="consolidated-employees" class="form-control" name="employee_id" required></select>-->
                                        <select class="form-control" id="select-employee">

                                            <option value="-2" selected="selected" disabled="disabled">Select Employee</option>

                                            @foreach (ViewModels.Employee emp in Model)
                                            {
                                                <option value="@emp.id">@emp.employee_code - @emp.first_name @emp.last_name</option>
                                            }

                                        </select>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-4">
                                        <button id="save_calendar_button" type="submit" value="Submit" class="btn btn-primary waves-effect waves-light m-t-10">Save Calendar</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h5 id="calendar_title"></h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End content -->


@section JS {
    <script src="@Url.Content("/Scripts/SUemployeeCalendar.js")"></script>
    <script>

        $(document).ready(function () {
            //$('#accordion').accordion("option", "active", 1);
            //$("#save_calendar_button").button();
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy"
            });
            //setActiveLink("Get Group Calendar");

            $('#select-employee').chosen().change(function () {
                // set a global flag to true.
                SELECTED_EMPLOYEE = $(this).val();

                loadEmployeeCalendar();

            });

        });


    </script>

}
