@{
    ViewBag.Title = "TRMS - Change User's Password";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Employee Portal</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.changeuserpass") </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-4">

                            @using (Html.BeginForm("ChangeEmployeePassword", "EmployeeManagement", FormMethod.Post, new { id = "change-password-form" }))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.escode") <span class="text-danger font-14">*</span></label>
                                        <select id="employees" class="form-control" name="change_password_employee" required></select>
                                    </div>
                                </div>


                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.newpass") <span class="text-danger font-14">*</span></label>
                                        <input id="emp_psswd" type="password" class="form-control" name="employee_password" value="" autocomplete="off" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.changepass")</button>
                                        <button type="reset" value="Reset" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.reset")</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.manusinguf")</h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a id="btnDownloada" href="/Uploads/ChangePasswordSample.csv" class="btn btn-light waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.downloadsf")</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("UploadPasswordFile", "EmployeeManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="row m-t-10">
                                    <div class="col-12 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <label class="btn btn-primary" for="my-file-selector">
                                            <input id="my-file-selector" onchange="alertFilename()" type="file" name="file" value="alert" accept=".csv" style="display:none;" />
                                            @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.click")
                                        </label>
                                        <h5 class="label" id="file-name"></h5>
                                    </div>

                                    <div class="col-4">
                                        <button id="btnUpload" type="submit" value="Submit" class="btn btn-danger waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.uploadfile")</button>
                                        <label class="label">@ViewBag.Message</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>




</div>
<!-- End content -->

@section JS {

    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>

    <script>

        function alertFilename() {
            var thefile = document.getElementById('my-file-selector');
            document.getElementById('file-name').innerHTML = thefile.value;
        };

        $(document).ready(function () {
            //$('#accordion').accordion("option", "active", 1);
            //setActiveLink('Change Employee Password');
            //$("input[type=submit], button").button();

            $('#employees').ajaxChosen({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("ChangeEmployeePasswordExceptSuperHRsDataHandler", "EmployeeManagement", null, Request.Url.Scheme)'
            }, {
                loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
            });

            $('#change-password-form').on("submit", function () {
                var password = $("#emp_psswd").val();

                if (!followsPasswordPolicy(password)) {
                    alert("The password must be at least 6 characters long and must contain at least, 1 small letter, 1 capital letter, 1 number, and 1 of the following special characters. ! @@ # $ % ^ & * ( ) _ -");
                    return false;
                }
                return true;

            });
        });
    </script>
}


