@{
    ViewBag.Title = "TRMS - Departments Management";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

@model List<ViewModels.Department>

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Employee Portal</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.empdepman") </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-4">

                            @using (Html.BeginForm("AddDepartment", "EmployeeManagement"))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.depname") <span class="text-danger font-14">*</span></label>
                                        <input type="text" pattern=".{2,}" title="2 characters minimum" class="form-control" id="fname" name="name"
                                               oninput="setCustomValidity('');" oninvalid="setCustomValidity('@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.nameerr")');" required />
                                    </div>
                                </div>


                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.description") <span class="text-danger font-14">*</span></label>
                                        <textarea class="form-control" name="description"></textarea>
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("portal.adddep")</button>
                                        <button type="reset" value="Reset" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.reset")</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12 m-b-10">
                            <h3>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.currentdeplist")</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <table id="department_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.id")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.depname")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.description")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportgrid")</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- End content -->

@section JS {
    <script>
        $(document).ready(function () {
            var empCode2= @Html.Raw(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId);

            $.ajax({
                url: '/HR/HR/VerfiyDataHandler',
                type: "POST",
                data: { empId: empCode2 },
                dataType: "json",

                success: function (data) {
                    if (data.HRExportGridData == false) {
                        $("#btnExport").hide();
                    }
                   
                   
                 
                },
                error: function () {
                    alert("error");
                }
            });
            $("#btnExport").click(function (e) {
                setupTableExportButton('#department_table', 'Departments');
                e.preventDefault();
            });


            /*
            $('#btnExport').button();
            $("#btnExport").click(function (e) {
                $('#department_table').tableExport({ type: 'excel', escape: 'false' });
                e.preventDefault();
            });
            */


            var url = '@Url.Action("DepartmentDataHandler", "EmployeeManagement", null, Request.Url.Scheme)';

            var columns = [
                  { "data": "id" },
                  { "data": "name" },
                  { "data": "description" },
                  { "data": "actions" }

            ];

            initServerSideTable('#department_table', url, columns, 1000);//10, 25, 50, 100, 500, 1000, 1500
            editDepartment = initEditModal("#modals", '@Url.Action("UpdateDepartment", "EmployeeManagement", null, Request.Url.Scheme)', "Department");
            deleteDepartment = initDeleteModal("#modals", '@Url.Action("RemoveDepartment", "EmployeeManagement", null, Request.Url.Scheme)', "Department");
        });
    </script>
}
