@{
    ViewBag.Title = "TRMS - Change Password";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

@model BLL.ViewModels.LocalPasswordModel

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="mdi mdi-account-box"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.changepass") </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    @if (Request.QueryString["Message"] != null && Request.QueryString["Message"].ToString() == "ChangePasswordSuccess")
                    {
                        <div class="form-group row">
                            <div class="col-10 text-success">
                                @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.passsuccess")
                            </div>
                        </div>
                    }

                    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { id = "chg_pass" }))
                    {
                        <div class="row">
                            <div class="col-4">
                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.oldpass") <span class="text-danger font-14">*</span></label>
                                <input type="password" class="form-control" id="OldPassword" name="OldPassword" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 m-t-10">
                                <label class="control-label" for="example-email">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.newpass") <span class="text-danger font-14">*</span></label>
                                <input type="password" class="form-control" id="NewPassword" name="NewPassword" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 m-t-10">
                                <label class="control-label" for="example-email">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.confirmpass") <span class="text-danger font-14">*</span></label>
                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12 text-danger">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.changepass")</button>
                            </div>
                        </div>
                    }


                    <br />
                    <hr />
                    @using (Html.BeginForm("Languagechange", "Account", FormMethod.Post, new { id = "chg_pass" }))
                    {

                        <div class="row m-t-10">
                            <div class="col-4">
                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("languagechange")<span class="text-danger font-14"></span></label>
                                <select id="ddl_language" name="ddl_language" class="form-control">
                                    <option value="En">English</option>
                                    <option value="Ar">Arabic</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("hr.changelang")</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->

@section JS {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>


        $(document).ready(function () {
            //$('#accordion').accordion("option", "active", 0);
            //setActiveLink("Change Password");
            var data = '@Session["GV_Langauge"]';
            $("#ddl_language").val(data);
            //$("input[type=submit], button").button();

            $('#chg_pass').on("submit", function () {
                var password = $("#NewPassword").val();
                var confirmPassword = $("#ConfirmPassword").val();
                if (password != confirmPassword) {
                    alert("Passwords do not match. Re-enter passwords");
                    return false;
                } else if (!followsPasswordPolicy(password)) {
                    alert("Your password must be at least 6 characters long and must contain at least, 1 small letter, 1 capital letter, 1 number, and 1 of the following special characters. ! @@ # $ % ^ & * ( ) _ - ");
                    return false;
                }
                return true;

            });

        });



    </script>





}


