<h4 style="font-weight: bold;">Consolidated Attendance - Archive</h4>
<div class="row">
    <div id="monthly-time-sheet" class="form-group col-md-4">
        <form id="consolidate-form">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Employee Code</label>

                    <select id="consolidated-employees" class="form-control" name="employee_id" required></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Date From</label>
                    <input id="date_from" type="text" class="form-control datepicker" name="from_date" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Date To</label>
                    <input id="date_to" type="text" class="form-control datepicker" name="to_date" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" id="search-consolidated-report" onclick="clearr();" style="margin-top:5px">Search</button>&nbsp;
                    @*<button type="submit" id="btn-excel-download" onclick="ExcleHide();" style="margin-top:5px; margin-left: 40px;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onmouseover="this.className = 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover';" onmouseout="this.className = 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only';" role="button" aria-disabled="false">
                        <span class="ui-button-text">Download Excel</span>
                    </button>&nbsp;<span id="export_wait" style="display: none;  MARGIN-RIGHT: -2%;font-size: 119%; color: red;"><img src='/images/loader.gif' style='width: 110px; margin-left: 34%;' alt='processing' /></span>*@
                </div>
            </div>
        </form>

    </div>
    <div id="legends-monthly-time-sheet" class="form-group col-md-4">
    </div>
    <div id="legends-monthly-time-sheet" class="form-group col-md-4" style="font-style: italic;">
        <h4>Legends:</h4>
        <table style="line-height: 16px; width: 70%;">
            <tr><td style="width: 20%"></td><td style="width: 10%"></td><td style="width: 70%"></td></tr>
            <tr><td>AB</td><td>:</td><td>Absent</td></tr>
            <tr><td>PLO</td><td>:</td><td>Present Late</td></tr>
            <tr><td>PO</td><td>:</td><td>Present On Time</td></tr>
            <tr><td>PLE</td><td>:</td><td>Present Late Early Out</td></tr>
            <tr><td>POE</td><td>:</td><td>Present On Time Early Out</td></tr>
            <tr><td>PLM</td><td>:</td><td>Present Late and Miss Punch</td></tr>
            <tr><td>OV</td><td>:</td><td>Official Visit</td></tr>
            <tr><td>OT</td><td>:</td><td>Official Travel</td></tr>
            <tr><td>OD</td><td>:</td><td>On Duty</td></tr>
            <tr><td>ME</td><td>:</td><td>Meeting</td></tr>
            <tr><td>TR</td><td>:</td><td>Traning</td></tr>
            <tr><td>*</td><td>:</td><td>Manually Updated</td></tr>
        </table>
    </div>

    @*<section>
            <div id='myChart'><a class="zc-ref"></a></div>
        </section>*@

</div>
<div class="row">
    <div class="col-md-12">

        <style>
            .dataTables_wrapper .dataTables_paginate {
                width: 315px !important;
            }
        </style>

        <table id="attendance_table" class="display cell-border" style="width: 100%;">
            <thead>

                <tr>
                    <th style="width: 8%;">Date</th>
                    <th style="width: 10%;">Employee Code</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Time In</th>
                    <th>Remarks</th>
                    <th>Time Out</th>
                    <th>Remarks</th>
                    <th style="width: 8%;">Final Remarks</th>
                    <th>Device In</th>
                    <th>Device Out</th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
        <button type="submit" id="btnExport" onclick="ExortExcleBar();" style="margin-top:5px">Export Grid Data</button>
        <span id="export_wait2" style="display: none; color: red;"><img src='/images/loader.gif' style='width: 110px;margin-bottom: -4%;margin-left: -10%;' alt='processing' /></span>
        <p id="demo" style=" margin-left: 11%; margin-top: -21px; font-size: 119%; color: red;"></p>
    </div>
</div>
<br><br><br><br><br><br><br><br>

@section JS {
    @*<script src="~/Scripts/zingchart.min.js"></script>*@
    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
    @*<script type="text/javascript" src="@Href("~/Scripts/monthpicker.js")"></script>*@

    <script type="text/javascript">
        function ExcleHide()
        {
            HideMessage();
        }
        function ExortExcleBar() {
            $('#export_wait2').show();
            document.getElementById("btnExport").disabled = true;
            HideBarExcle();
            var ss = $("#attendance_table tr").children("td:first").text();
            if (ss == "No data available in table" || ss == "" || ss == " ") { document.getElementById("demo").innerHTML = "No Data Found."; }
            else { DownloadExcleCsv(); }
        }
        function DownloadExcleCsv() { setupTableExportButton('#attendance_table', 'ConsolidatedAttendance'); }

        function HideBarExcle() {
            setTimeout(function () { $('#export_wait2').hide(); document.getElementById("btnExport").disabled = false; document.getElementById("demo").innerHTML = ""; }, 1500);
        }

        function ValidateDate(dtValue) {
            var dtRegex = new RegExp(/\b\d{1,2}[\/-]\d{1,2}[\/-]\d{4}\b/);
            return dtRegex.test(dtValue);
        }
        function searchReport() {
            // get the entered string
            var toSearch = $('attendance_table_filter input').val();

            $('#attendance_table').DataTable().search(toSearch);
            $('#attendance_table').DataTable().draw();
        }

        function initReportDataTable(identifier, url, columns) {
            var oTable = $(identifier).DataTable({
                "searchDelay": 2000,
                "scrollY": "300px",
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": url,
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {
                        if ($('#date_from').val() != "" && $('#date_to').val() != "") {
                            var dtVal = $('#date_from').val();
                            var dtVal2 = $('#date_to').val();
                            if (ValidateDate(dtVal) && ValidateDate(dtVal2)) {
                                data.employee_id = $('#consolidated-employees').val();
                                data.from_date = $('#date_from').val();
                                data.to_date = $('#date_to').val();
                            }
                        }
                        return data = JSON.stringify(data);
                    }
                },
                "scrollX": true,
                "scrollCollapse": true,
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": columns,
                "order": [0, "desc"],
                "iDisplayLength": 500,
                "aLengthMenu": [[10, 25, 50, 100, 500, 1000, 1500, 3000, 5000], [10, 25, 50, 100, 500, 1000, 1500, 3000, 5000]]

            });

            oTable.on("draw", function () {
                var keyword = $(identifier + '_filter > label:eq(0) > input').val();
                $(identifier).unmark();
                $(identifier).mark(keyword, {});



                $(identifier + ' tbody tr').click(function (e) {
                    $('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                });
            });


            // set the z-index of the 'processing...' overlay
            // to a great number, so that it may always display
            // on top of the table. Also set the text color
            // to black as it is white by default.
            $(identifier + '_processing').css({
                "z-index": "1000",
                "color": "rgb(0, 0, 0)"
            });


            // initiate search one second after the user
            // stops typing.
            function setSearchDelayOnDataTable(idSelector) {
                // remove all events from the search box
                $(idSelector + '_filter input').off();


                function customDataTableSearch() {

                    // get the entered string
                    var toSearch = $(idSelector + '_filter input').val();

                    // do nothing if the string is null.
                    // I've not tested this, it is just
                    // in case.
                    if (toSearch == null) {
                        return;
                    }

                    // initiate search programatically.
                    $(idSelector).DataTable().search(toSearch).draw();
                }

                // this variable holds the timer
                var timeout;

                // register a keypress on the search box
                $(idSelector + '_filter input').keypress(function () {
                    if (timeout != null) {
                        clearTimeout(timeout);
                        timeout = null;
                    }

                    // timeout set to 1 second.
                    timeout = setTimeout(customDataTableSearch, 1000);
                });

            }

            setSearchDelayOnDataTable(identifier);
        }


        function clearr() {

            $('input[type="search"]').focus();
            $('input[type="search"]').val("");
            $('#attendance_table').DataTable().search("");
            $('#attendance_table').DataTable().draw();
            $('input[type="search"]').blur();
            document.getElementById("btn-excel-download").disabled = false;
            $('#export_wait').hide();
        }


        function HideMessage() { setTimeout(function () { $('#export_wait').hide(); document.getElementById("btn-excel-download").disabled = false; }, 5000); }



        function submitcheck() {

            fDate = $('#consolidate-form').find('[name*="from_date"]').val().split("-").reverse();
            tDate = $('#consolidate-form').find('[name*="to_date"]').val().split("-").reverse();

            fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
            tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

            if (tDate < fDate) {
                alert("To Date should be greater than From Date.");
                return false;
            }

            searchReport();
            return true;

        }

        $(document).ready(function () {
            $('#accordion').accordion("option", "active", 5);

            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode != 13 && unicode != 8 && unicode != 9) { e.preventDefault(); }
            });

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode == 8) { e.preventDefault(); e.stopPropagation(); }
            });
            setActiveLink("View Consolidated Report");
            var present = 0;
            var absent = 0;
            var late = 0;
            var onTime = 0;
            var earlyGone = 0;
   
        
            var check = false;
           
            $('#btnExport').button();

         
            $('#search-consolidated-report').button();
            $("#search-consolidated-report").click(function (e) {

                if ($('#date_from').val() == "") {
                    alert("Please select 'From Date'");
                    $('#date_from').focus();
                    return false;
                }

                if ($('#date_to').val() == "") {
                    alert("Please select 'To Date'");
                    $('#date_to').focus();
                    return false;
                }

                submitcheck();
                //  serializeAndSend();
                e.preventDefault();
            });


            //download excel
            $("#btn-excel-download").click(function (e) {

                if ($('#date_from').val() == "") {
                    alert("Please select 'From Date'");
                    $('#date_from').focus();
                    return false;
                }

                if ($('#date_to').val() == "") {
                    alert("Please select 'To Date'");
                    $('#date_to').focus();
                    return false;
                }

                //alert($('#export_wait').html());

                if ($('#export_wait').html() == "No Data Found.") {
                    $('#export_wait').html("<img src='/images/loader.gif' style='width: 110px ; margin-left: 34%;' alt='processing'>");
                }

                $('#export_wait').show();

                var post_data = {
                    "employee_id": $('#consolidated-employees').val(),
                    "from_date": $('#date_from').val(),
                    "to_date": $('#date_to').val()
                };

                $("#btn-excel-download").attr("disabled", "disabled");

                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/HR/Reports/ConsolidatedReportExcelDownload',
                    data: post_data,
                    //contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (data) {

                        if (data.FileGuid != "" & data.FileName != "") {

                            $('#export_wait').hide();
                            $("#btn-excel-download").removeAttr("disabled");

                            //console.log('export done successfully InShaAllah!!!');
                            //var response = JSON.stringify(data);
                            //alert(data.FileGuid + ' >> ' + data.FileName);

                            window.location = '/HR/Reports/Download?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
                        }
                        else {
                            $('#export_wait').html("No Data Found.");
                        }
                    },
                    error: function (jq) {
                        console.log('Error: ' + jq.responseText);
                    }

                });
                //  serializeAndSend();
                e.preventDefault();
            });

            var url = '@Url.Action("ConsolidatedAtDataHandler", "SU", null, Request.Url.Scheme)';

            var columns = [
                  { "data": "date" },
                   { "data": "employee_code" },
                   { "data": "employee_first_name" },
                   { "data": "employee_last_name" },
                   { "data": "time_in" },
                   { "data": "status_in" },
                   { "data": "time_out" },
                   { "data": "status_out" },
                   { "data": "final_remarks" },
                   { "data": "terminal_in" },
                   { "data": "terminal_out" }
            ];

            @*
                   I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@
            initReportDataTable('#attendance_table', url, columns);
            $('#consolidated-employees').ajaxChosen({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("ChangeEmployeePasswordDataHandler", "SU", null, Request.Url.Scheme)'
            }, {
                loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
            });
        });
    </script>
}