@{
    ViewBag.Title = "TRMS - Department Wise Report";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Reports</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dwr") </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                            @using (Html.BeginForm("DepartmentReport", "Reports", FormMethod.Post, new { id = "monthly-time-sheet-form" }))
                            {

                                <div class="row">
                                    <div class="col-4" id="consolidate-form">
                                        <div class="row m-t-10">
                                            <div class="col-12">
                                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.depname") <span class="text-danger font-14">*</span></label>
                                                <select id="consolidated-department" class="form-control" name="department_id"></select>
                                            </div>
                                        </div>

                                        <div class="row m-t-10">
                                            <div class="col-12">
                                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.desname")</label>
                                                <select id="consolidated-designation" class="form-control" name="designation_id"></select>
                                            </div>
                                        </div>
                                        <div class="row m-t-10">
                                            <div class="col-12">
                                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.datefrom") <span class="text-danger font-14">*</span></label>
                                                <input id="date_from" type="text" class="form-control datepicker" autocomplete="off" name="from_date" required>
                                            </div>
                                        </div>

                                        <div class="row m-t-10">
                                            <div class="col-12">
                                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dateto") <span class="text-danger font-14">*</span></label>
                                                <input id="date_to" type="text" class="form-control datepicker" autocomplete="off" name="to_date" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                    </div>
                                    <div class="col-4">
                                        <div class="row m-t-10">
                                            <div class="col-12">
                                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.function") <span class="text-danger font-14">*</span></label>
                                                <select id="consolidated-function" class="form-control" name="function_id"></select>
                                            </div>
                                        </div>

                                        <div class="row m-t-10">
                                            <div class="col-12">
                                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.stdgrp") @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.ab") <span class="text-danger font-14">*</span></label>
                                                <select id="consolidated-region" class="form-control" name="region_id"></select>
                                            </div>
                                        </div>



                                        <div class="row m-t-10">
                                            <div class="col-12">
                                                <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.locationkhi")</label>
                                                <select id="consolidated-location" class="form-control" name="location_id"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="col-12 text-danger">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" id="search-consolidated-report" onclick="clearr();" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.search")</button>&nbsp;
                                    <button type="button" id="refresh-consolidated-report" class="btn btn-primary waves-effect waves-light m-t-10" onclick="redirectToPage();">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.reset")</button>
                                     @*<button type="submit" id="btn-excel-download" onclick="ExcleHide();" class="btn btn-primary waves-effect waves-light m-t-10">Download Excel</button>
                                    <span id="export_wait" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></span>*@
                                </div>
                              
                            </div>

                            
                            }


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-12">
                            <table id="attendance_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.date")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.empcode")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.fname")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.lname")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.timein")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.remarks")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.timeout")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.remarks")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.fremarks")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.devicein")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.deviceout")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.func")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.region")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dep")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.des")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.loc")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" onclick="ExortExcleBar();" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportgrid")</button>
                            <button id="btn-excel-download" class="btn btn-primary waves-effect waves-light" onclick="ExportExcelBar()">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.downloadexcel")</button>
                            <button type="submit" id="btn-pdf-download" onclick="ExportPDFBar()" form="monthly-time-sheet-form" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportpdf")</button>
                            <span id="export_wait_pdf" style="display: none;"><img src='/images/loader.gif' style='width: 110px' alt='processing' /></span>
                            <br /><span id="pdf-no-data-found">@ViewData["PDFNoDataFoundDept"]</span>
                            <span id="export_wait_excel" style="display: none;"><img src='/images/loader.gif' style='width: 110px' alt='processing' /></span>
                            <span id="demo" class="text-danger"></span>
                            <p id="export_wait2" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- End content -->
@section JS {
@*<script src="~/Scripts/zingchart.min.js"></script>*@
<script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
    @*<script type="text/javascript" src="@Href("~/Scripts/monthpicker.js")"></script>*@

<script type="text/javascript">


    function ExortExcleBar() {
        $('#export_wait2').show();
        document.getElementById("btnExport").disabled = true;
        HideBarExcle();
        var ss = $("#attendance_table tr").children("td:first").text();
        if (ss == "No data available in table" || ss == "" || ss == " ") { document.getElementById("demo").innerHTML = "No Data Found."; }
        else { DownloadExcleCsv(); }
    }

    function DownloadExcleCsv() { setupTableExportButton('#attendance_table', 'ConsolidatedAttendance'); }

    function HideBarExcle() {
        setTimeout(function () { $('#export_wait2').hide(); document.getElementById("btnExport").disabled = false; document.getElementById("demo").innerHTML = ""; }, 1500);
    }
    function redirectToPage() {
        //window.location = '/HR/Reports/ReturnBack?returnURL=' + window.location;
        window.location.reload();
    }

    function searchReport() {


        // get the entered string
        var toSearch = $('attendance_table_filter input').val();

        $('#attendance_table').DataTable().search(toSearch);
        $('#attendance_table').DataTable().draw();


    }
    $("#monthly-time-sheet-form").submit(function (e) {

        document.getElementById("btn-pdf-download").disabled = true;
        document.getElementById("btn-excel-download").disabled = true;
        return true;
    });

    function ExportExcelBar() {

        var FromDate = $('#date_from').val();
        var ToDate = $('#date_to').val();

        if (ToDate == "" || ToDate == null || FromDate == "" || FromDate == null) {

            validate_data();
        }
        else {
            $('#export_wait_excel').show(); //$('#export_wait_pdf').hide();

            document.getElementById("btn-pdf-download").disabled = true;
            HideBarPDF();
            HideMessage();
            //$('#export_wait_pdf').hide();
        }
    }

    function ExportPDFBar() {

        var FromDate = $('#date_from').val();
        var ToDate = $('#date_to').val();

        if (ToDate == "" || ToDate == null || FromDate == "" || FromDate == null) {

            validate_data();
        }
        else {
            $('#export_wait_pdf').show(); //$('#export_wait_excel').hide();
            document.getElementById("btnExport").disabled = true;
            document.getElementById("btn-excel-download").disabled = true;
            HideBarExcel();

            //$('#export_wait_excel').hide();
        }
    }

    function clearr() {
        $('input[type="search"]').focus();
        $('input[type="search"]').val("");
        $('#attendance_table').DataTable().search("");
        $('#attendance_table').DataTable().draw();
        $('input[type="search"]').blur();

        document.getElementById("btn-excel-download").disabled = false;


    }
    function HideMessage() { setTimeout(function () { $('#export_wait_excel').hide(); $('#pdf-no-data-found').hide(); }, 9000); }


    function HideBarExcel() {
        //alert('hExcel');
        setTimeout(function () { $('#export_wait_pdf').hide(); document.getElementById("btn-pdf-download").disabled = false; document.getElementById("btn-excel-download").disabled = false; document.getElementById("btnExport").disabled = false; }, 22000);
    }

    function HideBarPDF() {
        //alert('hPDF');
        setTimeout(function () { $('#export_wait_excel').hide(); document.getElementById("btn-pdf-download").disabled = false; document.getElementById("btn-excel-download").disabled = false; document.getElementById("btnExport").disabled = false; }, 22000);
    }

    function initReportDataTable(identifier, url, columns) {
        var oTable = $(identifier).DataTable({
            "searchDelay": 2000,
            "scrollY": "300px",
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": url,
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) {

                    data.department_id = $('#consolidated-department').val();
                    data.from_date = $('#date_from').val();
                    data.to_date = $('#date_to').val();
                    data.designation_id = $('#consolidated-designation').val();
                    data.function_id = $('#consolidated-function').val();
                    data.region_id = $('#consolidated-region').val();
                    data.location_id = $('#consolidated-location').val();
                    return data = JSON.stringify(data);
                }
            },
            "scrollX": true,
            "scrollCollapse": true,
            "processing": true,
            "paging": true,
            "deferRender": true,
            "columns": columns,
            "order": [0, "desc"],
            "iDisplayLength": 500,
            "aLengthMenu": [[10, 25, 50, 100, 500, 1000, 1500], [10, 25, 50, 100, 500, 1000, 1500]]

        });

        oTable.on("draw", function () {
            var keyword = $(identifier + '_filter > label:eq(0) > input').val();
            $(identifier).unmark();
            $(identifier).mark(keyword, {});



            $(identifier + ' tbody tr').click(function (e) {
                $('tr.row_selected').removeClass('row_selected');
                $(this).addClass('row_selected');
            });
        });


        // set the z-index of the 'processing...' overlay
        // to a great number, so that it may always display
        // on top of the table. Also set the text color
        // to black as it is white by default.
        $(identifier + '_processing').css({
            "z-index": "1000",
            "color": "rgb(0, 0, 0)"
        });


        // initiate search one second after the user
        // stops typing.
        function setSearchDelayOnDataTable(idSelector) {
            // remove all events from the search box
            $(idSelector + '_filter input').off();


            function customDataTableSearch() {

                // get the entered string
                var toSearch = $(idSelector + '_filter input').val();

                // do nothing if the string is null.
                // I've not tested this, it is just
                // in case.
                if (toSearch == null) {
                    return;
                }

                // initiate search programatically.
                $(idSelector).DataTable().search(toSearch).draw();
            }

            // this variable holds the timer
            var timeout;

            // register a keypress on the search box
            $(idSelector + '_filter input').keypress(function () {
                if (timeout != null) {
                    clearTimeout(timeout);
                    timeout = null;
                }

                // timeout set to 1 second.
                timeout = setTimeout(customDataTableSearch, 1000);
            });

        }

        setSearchDelayOnDataTable(identifier);
    }

    function submitcheck() {

        fDate = $('#consolidate-form').find('[name*="from_date"]').val().split("-").reverse();
        tDate = $('#consolidate-form').find('[name*="to_date"]').val().split("-").reverse();

        fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
        tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);


        if (tDate < fDate) {
            alert("To Date should be greater than From Date.");
            return false;
        }
        searchReport();
        return true;

    }

    function validate_data() {

        fDate1 = $('#consolidate-form').find('[name*="from_date"]').val();
        tDate1 = $('#consolidate-form').find('[name*="to_date"]').val();

        if (fDate1 == "") {
            alert("Please select 'From Date'" + fDate1);
            $('#date_from').focus();
            return false;
        }

        if (tDate1 == "") {
            alert("Please select 'To Date'" + tDate1);
            $('#date_to').focus();
            return false;
        }

        fDate = $('#consolidate-form').find('[name*="from_date"]').val().split("-").reverse();
        tDate = $('#consolidate-form').find('[name*="to_date"]').val().split("-").reverse();

        fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
        tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

        if (tDate < fDate) {
            alert("To Date should be greater than From Date.");
            return false;
        }

        return true;
    }

    $(document).ready(function () {

        var empCode= @Html.Raw(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId);

        $.ajax({
            url: '/HR/HR/VerfiyDataHandler',
            type: "POST",
            data: { empId: empCode },
            dataType: "json",

            success: function (data) {


                if (data.HRDownloadExcel == false) {
                    $("#btn-excel-download").hide();
                }
                if (data.HRExportGridData == false) {
                    $("#btnExport").hide();
                }
                if (data.HRExportPDF == false) {
                    $("#btn-pdf-download").hide();
                }

            },
            error: function () {
                alert("error");
            }
        });

        //$('#accordion').accordion("option", "active", 5);

        $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });

        $('.hasDatepicker').keydown(function (e) {
            var unicode = e.keyCode ? e.keyCode : e.charCode;
            if (unicode != 13 && unicode != 8 && unicode != 9) { e.preventDefault(); }
        });

        $('.hasDatepicker').keydown(function (e) {
            var unicode = e.keyCode ? e.keyCode : e.charCode;
            if (unicode == 8) { e.preventDefault(); e.stopPropagation(); }
        });

        HideMessage();
        //setActiveLink("Department Wise Report");
        var present = 0;
        var absent = 0;
        var late = 0;
        var onTime = 0;
        var earlyGone = 0;



        function serializeAndSend() {
            var obj = {
                dept: $('#consolidated-department').val(),
                des: $('#consolidated-designation').val(),
                loc: $('#consolidated-location').val(),
                fun: $('#consolidated-function').val(),
                reg: $('#consolidated-region').val(),
                from: $('#date_from').val(),
                to: $('#date_to').val()
            };
            $.ajax({
                url: "graph",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success: function (data) {
                    present = data.dashboardElement.present;
                    absent = data.dashboardElement.absent;
                    late = data.dashboardElement.late;
                    onTime = data.dashboardElement.onTime;
                    earlyGone = data.dashboardElement.earlyGone;
                    console.log(present + " " + absent + " " + late + " " + earlyGone + " " + onTime);
                    loadGraph(present, absent, late, earlyGone, onTime);
                }
            });

        };

        // ------------------------------------------------

        //download excel
        $("#btn-excel-download").click(function (e) {

            if ($('#date_from').val() == "") {
                alert("Please select 'From Date'");
                $('#date_from').focus();
                return false;
            }

            if ($('#date_to').val() == "") {
                alert("Please select 'To Date'");
                $('#date_to').focus();
                return false;
            }

            //var result = validate_data();
            //if (result == false) {
            //    return false;
            //}

            //alert($('#export_wait').html());

            if ($('#export_wait_excel').html() == "No Data Found.") {
                $('#export_wait_excel').html("<img src='/images/loader.gif' style='width: 110px ;' alt='processing'>");
            }

            var post_data = {
                "department_id": $('#consolidated-department').val(),
                "designation_id": $('#consolidated-designation').val(),
                "location_id": $('#consolidated-location').val(),
                "function_id": $('#consolidated-function').val(),
                "region_id": $('#consolidated-region').val(),
                "from_date": $('#date_from').val(),
                "to_date": $('#date_to').val()
            };

            //$("#btn-excel-download").attr("disabled", "disabled");
            //$('#export_wait_excel').show();

            $.ajax({
                cache: false,
                type: 'post',
                url: '/HR/Reports/DepartmentWiseReportExcelDownload',
                data: post_data,
                //contentType: 'application/json;charset=utf-8',
                //dataType: 'json',
                success: function (data) {

                    if (data.FileGuid != "" & data.FileName != "") {

                        $('#export_wait_excel').hide();
                        $("#btn-excel-download").removeAttr("disabled");

                        //console.log('export done successfully InShaAllah!!!');
                        //var response = JSON.stringify(data);
                        //alert(data.FileGuid + ' >> ' + data.FileName);

                        window.location = '/HR/Reports/Download?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;

                        ////setTimeout(function () { console.log("please wait..."); }, 5000);
                    }
                    else {
                        $('#export_wait_excel').html("No Data Found.");
                    }
                },
                error: function (jq) {
                    console.log('Error: ' + jq.responseText);
                }

            });
            //  serializeAndSend();
            e.preventDefault();
        });

        // ------------------------------------------------

        var check = false;
        function loadGraph(pre, ab, la, eg, ot) {
            console.log(pre + " " + ab + " " + la + " " + eg + " " + ot);
            var originalConfig = {
                "type": "ring",
                "backgroundColor": "#c8c8c8",
                "title": {
                    "text": "My Attendance"
                },
                "plot": {
                    "detach": false,
                    "cursor": "hande",
                    "shadow": 8,
                    "value-box": {
                        "placement": "out"
                    }
                },
                "tooltip": {
                    "text": "%t: %v (%npv%)",
                    "border-radius": 10,
                    "font-size": "20px"
                },

                "series": [
                    {
                        "values": [pre],
                        "background-color": "#009688",
                        "text": "Present",
                        "data-id": "vt",
                        "font-size": "20px"
                    },
                    {
                        "values": [ab],
                        "background-color": "red",
                        "text": "Absent",
                        "data-id": "sp"
                    }

                ],
                "shapes": [
                   {
                       'x': 25,
                       'y': 20,
                       'size': 10,
                       'angle': -90,
                       'type': 'triangle',
                       'background-color': '#077B65',
                       'padding': 5,
                       'cursor': 'hand',
                       'id': 'backwards',
                       'hover-state': {
                           'border-width': 1,
                           'border-color': '#000'
                       }
                   }
                ]
            }

            zingchart.render({
                id: 'myChart',
                data: originalConfig,
                height: '100%',
                width: '100%'
            });



            /**
             * Create associative array to manage drilldown config
             */
            var drilldownDataStructure = [];
            drilldownDataStructure["vt"] = {
                "series": [
                  {
                      "values": [ot],
                      "text": "On Time",
                      "background-color": "blue"
                  },
                  {
                      "values": [la],
                      "text": "Late",
                      "background-color": "#F79E53"
                  }
                ]
            };
            drilldownDataStructure["ss"] = {
                "series": [
                  {
                      "values": [15],
                      "background-color": "#26A69A"
                  },
                  {
                      "values": [5],
                      "background-color": "#80CBC4"
                  },
                  {
                      "values": [35],
                      "background-color": "#00695C"
                  },
                  {
                      "values": [20],
                      "background-color": "#00897B"
                  }
                ]
            };



            /*
            * Built in zingchart API event used to capture node click events.
            * Starting from this scope you will handle drilldown functionality.
            */
            zingchart.bind("myChart", "node_click", function (p) {
                var plotIndex = p.plotindex;
                var scaleText = p.scaletext;

                // You could use this data to help construct drilldown graphs check it out...
                console.log(p);
                if (drilldownDataStructure[p['data-id']]) {
                    zingchart.exec('myChart', 'setseriesdata', {
                        data: drilldownDataStructure[p['data-id']]['series']
                    });
                }
            });

            /*
            * Handle history buttons. You can assign
            * shapes id's and based on id you can go
            * 'forward' or 'backwards'. You could
            * also handle this with HTML and register
            * click events to those DOM elements.
            */
            zingchart.bind("myChart", "shape_click", function (p) {
                var shapeId = p.shapeid;
                console.log(p);

                switch (shapeId) {
                    case 'forwards':
                    case 'backwards':
                    case 'default':
                        zingchart.exec('myChart', 'destroy');
                        loadGraph(pre, ab, la, eg, ot);
                        /* zingchart.render({
                             id : 'myChart',
                             data : originalConfig,
                             height: '100%',
                             width: '100%'
                         });*/
                        break;
                }
            });
            // Shows label and sets it to the plotindex and nodeindex
            // of the clicked node
            zingchart.bind("myChart", "node_click", function (p) {
                check = !check;
                if (p.plotindex == 0 && check == true) {
                    $('#attendance_table').DataTable().search("PO");
                    $('#attendance_table').DataTable().draw();
                }
                else if (p.plotindex == 1 && check == true) {
                    $('#attendance_table').DataTable().search("PL");
                    $('#attendance_table').DataTable().draw();
                }
                else if (p.plotindex == 2 && check == true) {
                    $('#attendance_table').DataTable().search("AB");
                    $('#attendance_table').DataTable().draw();
                }
                else if (p.plotindex == 3 && check == true) {
                    $('#attendance_table').DataTable().search("E");
                    $('#attendance_table').DataTable().draw();
                }
                else {
                    $('#attendance_table').DataTable().search("");
                    $('#attendance_table').DataTable().draw();
                }

            });
        };

        $('#btnExport').show();

        //
        //$('#search-consolidated-report').button();
        $("#search-consolidated-report").click(function (e) {

            //$('input[type="search"]').focus();
            //$('input[type="search"]').val("");

            if ($('#date_from').val() == "") {
                alert("Please select 'From Date'");
                $('#date_from').focus();
                return false;
            }

            if ($('#date_to').val() == "") {
                alert("Please select 'To Date'");
                $('#date_to').focus();
                return false;
            }

            submitcheck();
            //serializeAndSend();
            e.preventDefault();

            //$('input[type="search"]').blur();

        });



        $("#aa").click(function (e) {
            //alert("click");
            $.post("@Url.Action("ConsolidatedFilteredReports", "Reports", null, Request.Url.Scheme)",
                  {

                      department_id: $('#consolidated-department').val(),
                      designation_id: $('#consolidated-designation').val(),
                      location_id: $('#consolidated-location').val(),
                      function_id: $('#consolidated-function').val(),
                      region_id: $('#consolidated-region').val(),
                      from_date: $('#date_from').val(),
                      to_date: $('#date_to').val()
                  },
           function (data, status) {
               //alert("Data: " + data + "\nStatus: " + status);

           });
        });





        var url = '@Url.Action("DepartmentReportHandler", "Reports", null, Request.Url.Scheme)';

        var columns = [
              { "data": "date" },
               { "data": "employee_code" },
               { "data": "employee_first_name" },
               { "data": "employee_last_name" },
               { "data": "time_in" },
               { "data": "status_in" },
               { "data": "time_out" },
               { "data": "status_out" },
               { "data": "final_remarks" },
               { "data": "terminal_in" },
               { "data": "terminal_out" },
               { "data": "function" },
               { "data": "region" },
               { "data": "department" },
               { "data": "designation" },
               { "data": "location" }
        ];

        @*
                   I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@

        initReportDataTable('#attendance_table', url, columns);

        //$("input[type=submit], button").button();


        $('#consolidated-department').ajaxChosen({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("DepartmentdDataHandler", "Reports", null, Request.Url.Scheme)'
        }, {
            loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
        });

        $('#consolidated-designation').ajaxChosen({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("DesignationDataHandler", "Reports", null, Request.Url.Scheme)'
        }, {
            loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
        });

        $('#consolidated-function').ajaxChosen({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("FunctionDataHandler", "Reports", null, Request.Url.Scheme)'
        }, {
            loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
        });

        $('#consolidated-region').ajaxChosen({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("RegionDataHandler", "Reports", null, Request.Url.Scheme)'
        }, {
            loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
        });

        $('#consolidated-location').ajaxChosen({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("LocationDataHandler", "Reports", null, Request.Url.Scheme)'
        }, {
            loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
        });

    });
</script>
}