@{
    ViewBag.Title = "TRMS - Leaves Validity Status";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

<style>
    .monthPicker {
        z-index: 1000;
    }
</style>


@{
    //Titles - Leave Types
    string TitleLeaves = "", TitleLeave01 = "", TitleLeave02 = "", TitleLeave03 = "", TitleLeave04 = "", TitleLeave05 = "", TitleLeave06 = "", TitleLeave07 = "", TitleLeave08 = "";
    string LTCS = "", TitleLeave09 = "", TitleLeave10 = "", TitleLeave11 = "", TitleLeave12 = "", TitleLeave13 = "", TitleLeave14 = "", TitleLeave15 = "";
    BLL.PdfReports.LeavesTypesTitles leavesTitles = new BLL.PdfReports.LeavesTypesTitles();
    TitleLeaves = leavesTitles.getLeavesTypesTitles();
    if (TitleLeaves != null && TitleLeaves.Contains(','))
    {
        string[] strSplit = TitleLeaves.Split(',');
        if (strSplit != null && strSplit.Length > 0)
        {
            TitleLeave01 = strSplit[0].ToString(); TitleLeave02 = strSplit[1].ToString(); TitleLeave03 = strSplit[2].ToString(); TitleLeave04 = strSplit[3].ToString();
            TitleLeave05 = strSplit[4].ToString(); TitleLeave06 = strSplit[5].ToString(); TitleLeave07 = strSplit[6].ToString(); TitleLeave08 = strSplit[7].ToString();
            TitleLeave09 = strSplit[8].ToString(); TitleLeave10 = strSplit[9].ToString(); TitleLeave11 = strSplit[10].ToString(); TitleLeave12 = strSplit[11].ToString();
            TitleLeave13 = strSplit[12].ToString(); TitleLeave14 = strSplit[13].ToString(); TitleLeave15 = strSplit[14].ToString();
        }
    }
    else
    {
        TitleLeave01 = @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.sick"); TitleLeave02 = @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.casual"); TitleLeave03 = @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.annual"); TitleLeave04 = @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.other");
        TitleLeave05 = @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.tour"); TitleLeave06 = @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.visit"); TitleLeave07 = @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.meeting"); TitleLeave08 = @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.maternity");
        TitleLeave09 = "A"; TitleLeave10 = "B"; TitleLeave11 = "C"; TitleLeave12 = "D";
        TitleLeave13 = "E"; TitleLeave14 = "F"; TitleLeave15 = "G";
    }

    bool LT01IsActive = false, LT02IsActive = false, LT03IsActive = false, LT04IsActive = false, LT05IsActive = false, LT06IsActive = false, LT07IsActive = false, LT08IsActive = false;
    bool LT09IsActive = false, LT10IsActive = false, LT11IsActive = false, LT12IsActive = false, LT13IsActive = false, LT14IsActive = false, LT15IsActive = false;

    int LT01DCount = 0, LT02DCount = 0, LT03DCount = 0, LT04DCount = 0, LT05DCount = 0, LT06DCount = 0, LT07DCount = 0, LT08DCount = 0;
    int LT09DCount = 0, LT10DCount = 0, LT11DCount = 0, LT12DCount = 0, LT13DCount = 0, LT14DCount = 0, LT15DCount = 0;

    int LT01MCount = 0, LT02MCount = 0, LT03MCount = 0, LT04MCount = 0, LT05MCount = 0, LT06MCount = 0, LT07MCount = 0, LT08MCount = 0;
    int LT09MCount = 0, LT10MCount = 0, LT11MCount = 0, LT12MCount = 0, LT13MCount = 0, LT14MCount = 0, LT15MCount = 0;

    //BLL.PdfReports.LeavesTypesTitles leavesTitles = new BLL.PdfReports.LeavesTypesTitles();
    LTCS = leavesTitles.getLeavesTypesCountsStatus();
    if (LTCS != null && LTCS.Contains(','))
    {
        string[] strSplit = LTCS.Split(',');
        if (strSplit != null && strSplit.Length > 0)
        {
            //LT01DCount = int.Parse(strSplit[0].Split('-')[0].ToString()); LT02DCount = int.Parse(strSplit[1].Split('-')[0].ToString()); LT03DCount = int.Parse(strSplit[0].Split('-')[0].ToString()); LT04DCount = int.Parse(strSplit[3].Split('-')[0].ToString());
            //LT05DCount = int.Parse(strSplit[4].Split('-')[0].ToString()); LT06DCount = int.Parse(strSplit[5].Split('-')[0].ToString()); LT07DCount = int.Parse(strSplit[6].Split('-')[0].ToString()); LT08DCount = int.Parse(strSplit[7].Split('-')[0].ToString());
            //LT09DCount = int.Parse(strSplit[8].Split('-')[0].ToString()); LT10DCount = int.Parse(strSplit[9].Split('-')[0].ToString()); LT11DCount = int.Parse(strSplit[10].Split('-')[0].ToString()); LT12DCount = int.Parse(strSplit[11].Split('-')[0].ToString());
            //LT13DCount = int.Parse(strSplit[12].Split('-')[0].ToString()); LT14DCount = int.Parse(strSplit[13].Split('-')[0].ToString()); LT15DCount = int.Parse(strSplit[14].Split('-')[0].ToString());

            LT01MCount = int.Parse(strSplit[0].Split('-')[1].ToString()); LT02MCount = int.Parse(strSplit[1].Split('-')[1].ToString()); LT03MCount = int.Parse(strSplit[1].Split('-')[1].ToString()); LT04MCount = int.Parse(strSplit[3].Split('-')[1].ToString());
            LT05MCount = int.Parse(strSplit[4].Split('-')[1].ToString()); LT06MCount = int.Parse(strSplit[5].Split('-')[1].ToString()); LT07MCount = int.Parse(strSplit[6].Split('-')[1].ToString()); LT08MCount = int.Parse(strSplit[7].Split('-')[1].ToString());
            LT09MCount = int.Parse(strSplit[8].Split('-')[1].ToString()); LT10MCount = int.Parse(strSplit[9].Split('-')[1].ToString()); LT11MCount = int.Parse(strSplit[10].Split('-')[1].ToString()); LT12MCount = int.Parse(strSplit[11].Split('-')[1].ToString());
            LT13MCount = int.Parse(strSplit[12].Split('-')[1].ToString()); LT14MCount = int.Parse(strSplit[13].Split('-')[1].ToString()); LT15MCount = int.Parse(strSplit[14].Split('-')[1].ToString());

            LT01IsActive = strSplit[0].Split('-')[2].ToString() == "True" ? true : false; LT02IsActive = strSplit[1].Split('-')[2].ToString() == "True" ? true : false; LT03IsActive = strSplit[2].Split('-')[2].ToString() == "True" ? true : false; LT04IsActive = strSplit[3].Split('-')[2].ToString() == "True" ? true : false;
            LT05IsActive = strSplit[4].Split('-')[2].ToString() == "True" ? true : false; LT06IsActive = strSplit[5].Split('-')[2].ToString() == "True" ? true : false; LT07IsActive = strSplit[6].Split('-')[2].ToString() == "True" ? true : false; LT08IsActive = strSplit[7].Split('-')[2].ToString() == "True" ? true : false;
            LT09IsActive = strSplit[8].Split('-')[2].ToString() == "True" ? true : false; LT10IsActive = strSplit[9].Split('-')[2].ToString() == "True" ? true : false; LT11IsActive = strSplit[10].Split('-')[2].ToString() == "True" ? true : false; LT12IsActive = strSplit[11].Split('-')[2].ToString() == "True" ? true : false;
            LT13IsActive = strSplit[12].Split('-')[2].ToString() == "True" ? true : false; LT14IsActive = strSplit[13].Split('-')[2].ToString() == "True" ? true : false; LT15IsActive = strSplit[14].Split('-')[2].ToString() == "True" ? true : false;
        }
    }
}

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Reports</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i> @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.validitystatusheading") </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    <input id="LT01IsActive" type="hidden" value="@LT01IsActive.ToString().ToLower()" /><input id="LT02IsActive" type="hidden" value="@LT02IsActive.ToString().ToLower()" /><input id="LT03IsActive" type="hidden" value="@LT03IsActive.ToString().ToLower()" /><input id="LT04IsActive" type="hidden" value="@LT04IsActive.ToString().ToLower()" />
                    <input id="LT05IsActive" type="hidden" value="@LT05IsActive.ToString().ToLower()" /><input id="LT06IsActive" type="hidden" value="@LT06IsActive.ToString().ToLower()" /><input id="LT07IsActive" type="hidden" value="@LT07IsActive.ToString().ToLower()" /><input id="LT08IsActive" type="hidden" value="@LT08IsActive.ToString().ToLower()" />
                    <input id="LT09IsActive" type="hidden" value="@LT09IsActive.ToString().ToLower()" /><input id="LT10IsActive" type="hidden" value="@LT10IsActive.ToString().ToLower()" /><input id="LT11IsActive" type="hidden" value="@LT11IsActive.ToString().ToLower()" /><input id="LT12IsActive" type="hidden" value="@LT12IsActive.ToString().ToLower()" />
                    <input id="LT13IsActive" type="hidden" value="@LT13IsActive.ToString().ToLower()" /><input id="LT14IsActive" type="hidden" value="@LT14IsActive.ToString().ToLower()" /><input id="LT15IsActive" type="hidden" value="@LT15IsActive.ToString().ToLower()" />

                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("LeavesValidityStatusReport", "Reports", FormMethod.Post, new { id = "monthly-time-sheet-form" }))
                            {

                                <div class="row">
                                    <div class="col-4 m-t-10">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.datefrom") <span class="text-danger font-14">*</span></label>
                                        <input id="from_date" name="from_date" type="text" class="form-control datepicker" autocomplete="off" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-4">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dateto") <span class="text-danger font-14">*</span></label>
                                        <input id="to_date" name="to_date" type="text" class="form-control datepicker" autocomplete="off" required />
                                    </div>
                                </div>





                                <div class="row">
                                    <div class="col-12 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" id="search-consolidated-report" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.search")</button>
                                        <button type="button" class="btn btn-primary waves-effect waves-light m-t-10" onclick="redirectToPage();">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.reset")</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12">
                            <table id="attendance_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.empcode")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.fname")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.lname")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.datefrom")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dateto")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.applydate")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.action")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.valstatus")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("leave.valrem")</th>
                                        @*    <th>Leave Status</th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" onclick="ExortExcleBar();" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportgrid")</button>
                            <button type="submit" id="generate-monthly-time-sheet" form="monthly-time-sheet-form" class="btn btn-primary waves-effect waves-light" style="display: @ViewData["PDFDownloadEnabled"];" onclick="return validateFormInfo();">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportpdf")</button>
                            <span id="export_wait" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></span><span id="pdf-no-data-found" class="text-danger">@ViewData["PDFNoDataFound"]</span>
                            <span id="demo" class="text-danger"></span>
                            <p id="export_wait2" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->
<!-- Custom Modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.msgalert")</h4>
            </div>
            <div class="modal-body">
                <span id="alert_message"></span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





@section JS {

    @*<script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
        <script type="text/javascript" src="@Href("~/Scripts/monthpicker.js")"></script>*@
    @*<script type="text/javascript" src="@Href("~/Scripts/GenerateReports.js")"></script>*@

    <script type="text/javascript" src="@Href(" ~/Scripts/leavesValidityCRUD.js")"></script>

    <script>

        function redirectToPage() {
            window.location.reload();
        }

        // -------------------- added by IR ---------------------

        //$("#btnShow").click(function () {
        //    if ($("#from").val().length == 0 || $("#to").val().length == 0) {
        //        alert('All fields are required');
        //    }
        //    else {
        //        alert('Selected Month Range :' + $("#from").val() + ' to ' + $("#to").val());
        //    }
        //});


        function validateFormInfo() {

            if ($('#from_date').val() == null || $('#from_date').val() == "") {

                //$('#alert_message').text("Please select an Employee Id");
                //$('.bs-example-modal-sm').modal('show');

                //alert('Please select an Employee Id');
                //$('#year_id').focus();

                return false;
            }
            //if ($('#monthly-time-sheet-month').val() == "" || $('#monthly-time-sheet-month').val() == null) {

            //    $('#alert_message').text("Please select a Month");
            //    $('.bs-example-modal-sm').modal('show');

            //    //alert('Please select a Month.');
            //    return false;
            //}

            $('#pdf-no-data-found').val("");
            $('#pdf-no-data-found').text("");

            $('#export_wait').show();
            myFunction();

        }

        $("#monthly-time-sheet-form").submit(function (e) {
            document.getElementById("generate-monthly-time-sheet").disabled = true;
            return true;
        });

        function clearr() {
            $('input[type="search"]').focus();
            $('input[type="search"]').val("");

            if ($('#year_id').val() != null) {
                $('#attendance_table').DataTable().search("");
                $('#attendance_table').DataTable().draw();
            }

            $('input[type="search"]').blur();

        }

        function HideMessage() { setTimeout(function () { $('#pdf-no-data-found').hide(); }, 5000); }


        function myFunction() {
            setTimeout(function () { $('#export_wait').hide(); document.getElementById("generate-monthly-time-sheet").disabled = false; }, 1500);
        }

        function ExortExcleBar() {
            $('#export_wait2').show();
            document.getElementById("btnExport").disabled = true;
            HideBarExcle();
            var ss = $("tr").children("td:first").text();
            if (ss == "No data available in table" || ss == "" || ss == " ") { document.getElementById("demo").innerHTML = "No Data Found."; }
            else { DownloadExcleCsv(); }
        }

        function DownloadExcleCsv() { setupTableExportButton('#attendance_table', 'MonthlyTimesheetReport'); }

        function HideBarExcle() {
            setTimeout(function () { $('#export_wait2').hide(); document.getElementById("btnExport").disabled = false; document.getElementById("demo").innerHTML = ""; }, 1500);
        }

        function submitcheck() {

            var fDate = $('[name="from_date"]').val();
            var tDate = $('[name="to_date"]').val();

            var lastDay = GetLastDayOfMonth(fDate.split("-")[1], fDate.split("-")[0]);

            fDate = fDate.replace("-", "-01-");
            tDate = tDate.replace("-", "-" + lastDay + "-");

            //console.log('1>> ' + fDate + ' - ' + tDate);

            fDate = fDate.split("-").reverse()
            tDate = tDate.split("-").reverse();

            //console.log('2>> ' + fDate + ' - ' + tDate);

            fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
            tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

            //console.log('3>> ' + fDate + ' - ' + tDate);

            //return false;

            if (tDate < fDate) {

                $('#alert_message').text("The 'To Date' should be greater than 'From Date'.");
                $('.bs-example-modal-sm').modal('show');

                //alert("The 'To Date' should be greater than 'From Date'.");
                return false;
            }

            searchReport();
            return true;

        }

        function GetLastDayOfMonth(m, y) {

            var lastDay = 28;

            if (m == "04" || m == "06" || m == "09" || m == "11") {
                lastDay = 30;
            }
            else if (m == "02") {
                if ((y % 4) == 0) {
                    lastDay = 29;
                }
                else {
                    lastDay = 28;
                }
            }
            else {
                lastDay = 31;
            }

            return lastDay;
        }

        function searchReport() {
            // get the entered string
            var toSearch = $('attendance_table_filter input').val();

            $('#attendance_table').DataTable().search(toSearch);
            $('#attendance_table').DataTable().draw();
        }

        function initReportDataTable(identifier, url, columns) {
            var oTable = $(identifier).DataTable({
                "searchDelay": 2000,
                "scrollY": "1020px",
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": url,
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {

                        // ---------------------------------------------

                        //var fDate = $('[name="month"]').val();
                        //var tDate = $('[name="month"]').val();

                        //var lastDay = GetLastDayOfMonth(fDate.split("-")[1], fDate.split("-")[0]);

                        //fDate = fDate.replace("-", "-01-");
                        //tDate = tDate.replace("-", "-" + lastDay + "-");

                        ////console.log('1>> ' + fDate + ' - ' + tDate);

                        //fDate = fDate.split("-").reverse()
                        //tDate = tDate.split("-").reverse();

                        ////console.log('2>> ' + fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
                        ////console.log('3>> ' + tDate[0] + "-" + tDate[1] + "-" + tDate[2]);

                        //fDate = fDate[1] + "-" + fDate[0] + "-" + fDate[2];
                        //tDate = tDate[1] + "-" + tDate[0] + "-" + tDate[2];
                        ////console.log('4>> ' + fDate + ' - ' + tDate);

                        //// ---------------------------------------------

                        var dtFromVal = $('#from_date').val();
                        var dtToVal = $('#to_date').val();

                        //alert(dtFromVal);

                        if (dtFromVal != "" && dtToVal != "") {
                            data.from_date = dtFromVal;
                            data.to_date = dtToVal;
                        }

                        return data = JSON.stringify(data);

                    }
                },
                "scrollX": true,
                "scrollCollapse": true,
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": columns,
                "order": [0, "desc"],
                "iDisplayLength": 1000,
                "aLengthMenu": [[10, 500, 1000], [10, 500, 1000]],
                "responsive": true

            });

            oTable.on("draw", function () {
                var keyword = $(identifier + '_filter > label:eq(0) > input').val();
                $(identifier).unmark();
                $(identifier).mark(keyword, {});

                $(identifier + ' tbody tr').click(function (e) {
                    $('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                });
            });


            // set the z-index of the 'processing...' overlay
            // to a great number, so that it may always display
            // on top of the table. Also set the text color
            // to black as it is white by default.
            $(identifier + '_processing').css({
                "z-index": "1000",
                "color": "rgb(0, 0, 0)"
            });


            // initiate search one second after the user
            // stops typing.
            function setSearchDelayOnDataTable(idSelector) {
                // remove all events from the search box
                $(idSelector + '_filter input').off();


                function customDataTableSearch() {

                    // get the entered string
                    var toSearch = $(idSelector + '_filter input').val();

                    // do nothing if the string is null.
                    // I've not tested this, it is just
                    // in case.
                    if (toSearch == null) {
                        return;
                    }

                    // initiate search programatically.
                    $(idSelector).DataTable().search(toSearch).draw();
                }

                // this variable holds the timer
                var timeout;

                // register a keypress on the search box
                $(idSelector + '_filter input').keypress(function () {
                    if (timeout != null) {
                        clearTimeout(timeout);
                        timeout = null;
                    }

                    // timeout set to 1 second.
                    timeout = setTimeout(customDataTableSearch, 1000);
                });

            }

            setSearchDelayOnDataTable(identifier);
        }

        function setTypeOfReportDropDown() {
            $('#type-of-report').chosen();
            $('#type-of-report').on("change", function () {
                switch ($('#type-of-report').val()) {
                    case "monthly-time-sheet":

                        $('#monthly-time-sheet').show();
                        $('#summary-report').hide();
                        $('#monthly-attendance-register').hide();

                        break;
                    case "summary-report":

                        $('#monthly-time-sheet').hide();
                        $('#summary-report').show();
                        $('#monthly-attendance-register').hide();

                        break;
                    case "monthly-attendance-register":

                        $('#monthly-time-sheet').hide();
                        $('#summary-report').hide();
                        $('#monthly-attendance-register').show();

                        break;
                }
            });
        }


        function setEmployeeDropDowns() {
            $('#year_id').ajaxChosen({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("ChangeEmployeePasswordDataHandler", "EmployeeManagement", null, Request.Url.Scheme)'
            }, {
                loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
            });
        }

        $(document).ready(function () {

            var dateToday = new Date();
            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' }); //minDate: dateToday, beforeShowDay: $.datepicker.noWeekends

            var empCode = @Html.Raw(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId);

            $.ajax({
                url: '/HR/HR/VerfiyDataHandler',
                type: "POST",
                data: { empId: empCode },
                dataType: "json",

                success: function (data) {

                    if (data.HRExportGridData == false) {
                        $("#btnExport").hide();
                    }
                    if (data.HRExportPDF == false) {
                        $("#generate-monthly-time-sheet").hide();
                    }

                },
                error: function () {
                    alert("error");
                }
            });


            //$('#accordion').accordion("option", "active", 5);
            //$("input[type=submit], button").button();
            //$(".chzn-select").chosen();
            //$(".datepicker").datepicker();
            //setActiveLink("Monthly Time Sheet");
            HideMessage();
            //setEmployeeDropDowns();

            //$('.hasDatepicker').keydown(function (e) {
            //    var unicode = e.keyCode ? e.keyCode : e.charCode;
            //    if (unicode != 13 && unicode != 8 && unicode != 9) { e.preventDefault(); }
            //});

            //$('.hasDatepicker').keydown(function (e) {
            //    var unicode = e.keyCode ? e.keyCode : e.charCode;
            //    if (unicode == 8) { e.preventDefault(); e.stopPropagation(); }
            //});

            //setTypeOfReportDropDown();

            //DataTables.NET
            //search-consolidated-report
            //generate-monthly-time-sheet

            //var fewSeconds = 5;
            //$('#search-consolidated-report').click(function () {
            //    // Ajax request
            //    var btn = $(this);
            //    btn.prop('disabled', true); //btn.hide();
            //    setTimeout(function () {
            //        btn.prop('disabled', false); //btn.show();
            //    }, fewSeconds * 1000);

            //});


            //$('#search-consolidated-report').button();
            $("#search-consolidated-report").click(function (e) {

                //$('input[type="search"]').focus();
                //$('input[type="search"]').val("");

                //alert('values >> ' + $('#year_id').val() + ' >> ' + $('#monthly-time-sheet-month').val());



                //<select id="year_id"

                //        <input id="monthly-time-sheet-month" type="text" name="month" class="form-control monthPicker" required />




                //if ($('#monthly-time-sheet-month').val() == "" || $('#monthly-time-sheet-month').val() == null) {

                //    $('#alert_message').text("Please select a Month");
                //    $('.bs-example-modal-sm').modal('show');

                //    //alert('Please select a Month.');
                //    return false;
                //}

                if ($('#from_date').val() == "" || $('#from_date').val() == null) {

                    $('#alert_message').text("Please select 'From Date'");
                    $('.bs-example-modal-sm').modal('show');

                    //alert('Please select an Employee Id.');
                    return false;
                }

                if ($('#to_date').val() == "" || $('#to_date').val() == null) {

                    $('#alert_message').text("Please select 'To Date'");
                    $('.bs-example-modal-sm').modal('show');

                    //alert('Please select an Employee Id.');
                    return false;
                }

                $('#pdf-no-data-found').val("");
                $('#pdf-no-data-found').text("");

                submitcheck();
                //  serializeAndSend();
                e.preventDefault();

                //$('input[type="search"]').blur();

            });


            var url = '@Url.Action("LeavesValidityStatusReportDataHandler", "Reports", null, Request.Url.Scheme)';

            var columns = [
                { "data": "Employee_Code" },
                { "data": "First_Name" },
                { "data": "Last_Name" },
                { "data": "From_Date" },
                { "data": "To_Date" },
                { "data": "Create_Date" },
                { "data": "action" },
                { "data": "ValidityText" },
                { "data": "ValidityRemarks" }
            ];

            editLeaveApplication = initEditModal("#attendance_table", '@Url.Action("UpdateLeaveValidityApplication", "Reports", null, Request.Url.Scheme)', "Leave_Status");
            //deleteLeaveApplication = initDeleteModal("#leave_applicaiton_dialog", '@Url.Action("RemoveLeaveApplication", "LeavesManagement", null, Request.Url.Scheme)', "Leave_Application");


            initReportDataTable('#attendance_table', url, columns);

            $('#btnExport').focus();
            //$('#year_id').focus();

        });

    </script>
}