<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured biometric attendance managment system having various modules to manage like users, departments, designations, functions, regions, locations, grups and grades. View reports include Monthly timesheet, Consolidated Attendance and Department wise reports.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="/images/favicon.png">

    <title>
        @{
            if (ViewBag.Title == null)
            {
                <text>TRMS - Biometric Attendance Management System</text>;
            }
            else
            {
                @ViewBag.Title;
            }
        }
    </title>

    <link href="@Href("~/Content/ui-darkness/jquery-ui-1.9.2.custom.css")" rel="stylesheet"> <!-- JQuery UI theme -->

    <link href="@Href("~/plugins/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Href("~/plugins/datatables/buttons.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="@Href("~/plugins/datatables/responsive.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
    <!-- Multi Item Selection examples -->
    <link href="@Href("~/plugins/datatables/select.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Href("~/plugins/switchery/switchery.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Href("~/plugins/morris/morris.css")">

    <link href="@Href("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Href("~/Content/bootstrap-year-calendar.min.css")" rel="stylesheet" type="text/css">
    <link href="@Href("~/css/icons.css")" rel="stylesheet" type="text/css">
    <link href="@Href("~/css/style_dark.css")" rel="stylesheet" type="text/css">

    @*<link href="@Href("~/Content/timepicki.css")" rel="stylesheet" />  CSS for TimePicker*@
    <link href="@Href("~/Content/chosen.css")" rel="stylesheet" /> <!-- CSS for Chosen -->

    <script src="@Url.Content("/js/modernizr.min.js")"></script>

</head>


<body class="fixed-left">

    @{
        var userRole = (User.IsInRole(BLL.TimeTuneRoles.ROLE_HR)) ? "HR: " + User.Identity.Name :
            (User.IsInRole(BLL.TimeTuneRoles.ROLE_EMP)) ? "EMPLOYEE: " + User.Identity.Name :
            (User.IsInRole(BLL.TimeTuneRoles.ROLE_LM)) ? "LINE MANAGER: " + User.Identity.Name : "unauthorized";
    }

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="/Account/Login" class="logo"><i class="mdi mdi-radar"></i> <span>TRMS</span></a>
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">

                    <li class="list-inline-item notification-list hide-phone">
                        <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-crop-free noti-icon"></i>
                        </a>
                    </li>

                    <li class="list-inline-item notification-list">
                        <a class="nav-link right-bar-toggle waves-light waves-effect" href="#">
                            <i class="mdi mdi-dots-horizontal noti-icon"></i>
                        </a>
                    </li>

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false" id="test">
                            <i class="mdi mdi-bell noti-icon"></i>
                            <span class="badge badge-pink noti-icon-badge">@( MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_BadgeSumForHR))</span>
                            @*<span class="badge badge-pink noti-icon-badge">0</span>*@
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="font-16"><span class="badge badge-danger float-right"></span>Notifications</h5>
                            </div>
                            <!-- item-->
                            <a href="/HR/LeavesManagement/ApproveApplication" class="dropdown-item notify-item">
                                <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                <p class="notify-details" style="overflow: visible;">Leaves Notifications (@( MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_PendingLeavesCountHR)))<small class="text-muted">View Details</small></p>
                            </a>
                            <a href="/HR/EmployeeManagement/EmployeeMissingInfo" class="dropdown-item notify-item">
                                <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                <p class="notify-details" style="overflow: visible;">Missing Info Notifications (@( MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeesMissingInfoCountHR)))<small class="text-muted">View Details</small></p>
                            </a>
                            <!-- item-->
                            <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                            </a>-->
                            <!-- item-->
                            <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                            </a>-->
                            <!-- All-->
                            <a href="/HR/LeavesManagement/ApproveApplication" class="dropdown-item notify-item notify-all">
                                @*View All*@
                            </a>

                        </div>
                    </li>
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="/Content/UserDocs/@MvcApplication1.ViewModel.GlobalVariables.GV_EmployeePhoto.ToString()" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">

                            <!-- item-->
                            @Html.ActionLink("Change Password", "Manage", "Account", null, new { @class = "dropdown-item notify-item" })


                            <!-- item-->
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item notify-item">Log off</a>
                                }
                            }

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                    <li class="hide-phone app-search">
                        <form role="search" class="d-none">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <!--<li class="menu-title">Main</li> -->

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-account-box"></i> <span> HR: @User.Identity.Name </span><span class="menu-arrow"></span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("My Dashboard", "Dashboard", "HR")</li>
                                <li>@Html.ActionLink("Org. Statistics", "MyTeam", "HR")</li>
                                @*<li>@Html.ActionLink("Configuration Manager", "ConfigurationManager", "HR")</li>*@
                                <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>
                            </ul>
                        </li>

                        <li class="has_sub" id="HREmpManagementMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-file-document"></i><span> Employee Portal </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Manage Employees", "ManageEmployee", "EmployeeManagement")</li>
                                <li>&nbsp;</li>
                                @*<li>@Html.ActionLink("Employee Profile", "EmployeeProfile", "EmployeeManagement")</li>*@
                                <li>@Html.ActionLink("Employee Status", "EmployeeStatus", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("UNIS Users Add", "UNISUserAdd", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Functions", "Function", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("P-Shifts", "ProgramShift", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("P-Groups", "Region", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Departments", "Department", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Designations", "Designation", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Locations", "Location", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Grades", "Grade", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Types of Employment", "TypeOfEmployment", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Change Employee Password", "ChangeEmployeePassword", "EmployeeManagement")</li>
                                <!--     <li>@Html.ActionLink("Employee Hierarchy", "EmployeeHierarchy", "EmployeeManagement")</li>
    <li>@Html.ActionLink("Hierarchy Transfer", "HierarchyTransfer", "EmployeeManagement")</li>
    <li>@Html.ActionLink("Manual Uploads", "ManualUploads", "EmployeeManagement")</li>  -->
                                <li>@Html.ActionLink("Skill Set", "SkillsSet", "EmployeeManagement")</li>
                            </ul>
                        </li>
                        <li class="has_sub" id="MenuHR">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-files"></i><span> HR </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Performance Evaluation", "EmployeeEvaluation", "EmployeeManagement")</li>
                                @*<li>@Html.ActionLink("Evaluation", "MonthlyTimeSheetOvertime", "Reports")</li>*@
                                @*<li>@Html.ActionLink("Letters", "Letters", "EmployeeManagement")</li>*@
                                <li>@Html.ActionLink("Birthdays", "EmpBirthdays", "EmployeeManagement")</li>
                                <li></li>
                                <li>@Html.ActionLink("Performance Report", "PerformanceReport", "Reports")</li>
                            </ul>
                        </li>

                        <li class="has_sub" id="HRManualMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-account-box"></i> <span> Organization </span><span class="menu-arrow"></span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Manage Org.", "ManageOrganization", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("Manage Campus", "ManageOrganizationCampus", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("Manage Building", "ManageOrganizationBuilding", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("Manage Rooms", "ManageOrganizationRoom", "OrganizationsManagement")</li>
                            </ul>
                        </li>

                        <li class="has_sub" id="HRManualMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-account-box"></i> <span> Student Portal </span><span class="menu-arrow"></span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("D/L Student", "GenerateStudentsReport", "OrganizationsManagement")</li>
                                <li>&nbsp;</li>
                                <li>@Html.ActionLink("Manage Schedule", "ManageOrganizationSchedule", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("D/L Schedule", "GenerateScheduleReport", "OrganizationsManagement")</li>
                                <li>&nbsp;</li>
                                <li>@Html.ActionLink("Manage Programs", "ManageOrganizationProgram", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("Manage Campus-Prog", "ManageOrganizationCampusProgram", "OrganizationsManagement")</li>
                                <li>&nbsp;</li>
                                <li>@Html.ActionLink("Manage Courses", "ManageOrganizationCourse", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("D/L Courses", "GenerateCoursesReport", "OrganizationsManagement")</li>
                                <li>&nbsp;</li>
                                <li>@Html.ActionLink("Manage Enrollment", "ManageOrganizationEnrollment", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("D/L Enrollment", "GenerateEnrollmentReport", "OrganizationsManagement")</li>
                                <li>&nbsp;</li>
                                <li>@Html.ActionLink("Manage Attendance", "ManageCourseAttendanceStudent", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("D/L Student", "GenerateCourseAttendanceStudentReport", "OrganizationsManagement")</li>
                                <li>@Html.ActionLink("D/L Campus", "GenerateCourseAttendanceCampusReport", "OrganizationsManagement")</li>
                            </ul>
                        </li>

                        <li class="has_sub" id="HRLeavesMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-file-document"></i><span> Leaves </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Apply Now", "LeaveApplication", "LeavesManagement")</li>
                                <li>@Html.ActionLink("Approval", "ApproveApplication", "LeavesManagement")</li>
                                <li>&nbsp;</li>
                                <li>@Html.ActionLink("Leaves Type", "LeaveType", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Leaves Session", "LeaveSession", "EmployeeManagement")</li>
                                <li>@Html.ActionLink("Leave Reasons", "LeaveReason", "EmployeeManagement")</li>
                                <li>&nbsp;</li>
                                <li>@Html.ActionLink("Employee Leaves", "LeavesListReport", "Reports")</li>
                                <li>@Html.ActionLink("Leaves Summary", "LeavesReportByUser", "Reports")</li>
                                <li>@Html.ActionLink("Leaves Statistics", "LeavesStatistics", "Reports")</li>
                            </ul>
                        </li>

                        <li class="has_sub d-none" id="HRPayrollLoanMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-desktop-classic"></i><span> Payroll & Loan </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Set Payroll", "SetsPayroll", "PayrollsManagement")</li>
                                <li>@Html.ActionLink("Set Amounts", "PayrollAmount", "PayrollsManagement")</li>
                                <li>@Html.ActionLink("Payroll Management", "PayrollGenerate", "Reports")</li>
                                <li>@Html.ActionLink("Payroll By Month", "PayrollReportByMonth", "Reports")</li>
                                <li>@Html.ActionLink("Bank Names", "BankNames", "PayrollsManagement")</li>
                                <li>&nbsp;</li>
                                <li>@Html.ActionLink("Loan Management", "LoanApplication", "LoansManagement")</li>
                                <li>@Html.ActionLink("Report By Date", "LoanReportByDate", "Reports")</li>
                                @*<li>@Html.ActionLink("Report By Month", "LoanReportByMonth", "Reports")</li>*@
                                <li>@Html.ActionLink("Report By Employee", "LoanReportByEmployee", "Reports")</li>
                            </ul>
                        </li>

                        <li class="has_sub" id="HROvertimeMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-dna"></i><span> Overtime </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Monthly Overtime", "MonthlyTimeSheetOvertime", "Reports")</li>
                                <li>@Html.ActionLink("Consolidated Overtime", "ConsolidatedAttendanceOvertime", "Reports")</li>
                            </ul>
                        </li>

                        <li class="has_sub" id="HRShiftManagementMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-files"></i><span> Shift Management </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <!--   <li>@Html.ActionLink("Add Group", "AddGroup", "ShiftManagement")</li>
                                <li>@Html.ActionLink("Authorize Shift", "ShiftAuthorization", "ShiftManagement")</li> -->
                                <li>@Html.ActionLink("Manage Shift", "ManageShift", "ShiftManagement")</li>
                                <li>@Html.ActionLink("Group Calendar", "CalendarInfo", "ShiftManagement")</li>
                            </ul>
                        </li>

                        <li class="has_sub" id="HRRoasterManagementMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-format-rotate-90"></i><span> Roaster Management </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Manage Groups", "ManageGroup", "RosterManagement")</li>
                                <li>@Html.ActionLink("Manage Super Line Managers", "Manage", "SuperLineManagers")</li>

                                <li>@Html.ActionLink("Get/Set Line Managers", "Manage", "UploadDownloadLineManagers")</li>
                                <li>@Html.ActionLink("Get/Set Super Line Managers", "Manage", "UploadDownloadSuperLineManagers")</li>

                                <!--    <li>@Html.ActionLink("Manage Roster", "ManageRoster", "RosterManagement")</li>
                                <li>@Html.ActionLink("Employee WO Shift", "EmployeeWOShift", "RosterManagement")</li>
                                <li>@Html.ActionLink("View Self Roster", "ViewSelfRoster", "RosterManagement")</li> -->

                            </ul>
                        </li>

                        <li class="has_sub" id="HRAttendanceManagementMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-chart-bar"></i><span> Attendance Management </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("Today's Attendance", "ViewAttendance", "AttendanceManagement")</li>
                                <li>@Html.ActionLink("Post Adjustment", "ManualAttendance", "AttendanceManagement")</li>
                                <li>@Html.ActionLink("Pre Adjustment", "FutureManualAttendance", "AttendanceManagement")</li>
                                <li>@Html.ActionLink("Reprocess Attendance", "MarkAttendance", "Admin")</li>
                                <!--     <li>@Html.ActionLink("Upload Raw Attendance", "UploadRawAttendance", "AttendanceManagement")</li> -->
                                <!--   <li>@Html.ActionLink("View Raw Attendance", "ViewRawAttendance", "AttendanceManagement")</li>-->
                                <!--  <li>@Html.ActionLink("Change Session Time Out", "ChangeSessionTimeOut", "Admin")</li>-->
                            </ul>
                        </li>

                        <li class="has_sub" id="HRReportMenu">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-files"></i><span> Reports </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                @*<li>@Html.ActionLink("Working Hours TS", "WorkHoursTimeSheet", "Reports")</li>*@
                                <li>@Html.ActionLink("Working Hours Report", "WorkHourReport", "Reports")</li>
                                <li>@Html.ActionLink("Hourly Report", "HourlyReport", "Reports")</li>
                                <li>@Html.ActionLink("Prs-Abs Report", "PresentAbsentReport", "Reports")</li>
                                <!--     <li>@Html.ActionLink("View Attendance Report", "ConsolidateAttendance", "Reports")</li> -->
                                <li>@Html.ActionLink("Attendance Summary", "AttendanceSummary", "Reports")</li>
                                <li>@Html.ActionLink("Monthly Time Sheet", "MonthlyTimeSheet", "Reports")</li>
                                <li>@Html.ActionLink("Bulk Time Sheet", "MonthlyDepartmentalTimeSheet", "Reports")</li>
                                <li>@Html.ActionLink("Miss Punch Report", "MissPunchReport", "Reports")</li>
                                <li>@Html.ActionLink("Manual Punch Report", "ManualPunchReport", "Reports")</li>
                                <li>@Html.ActionLink("Consolidated Attn", "ConsolidatedAttendance", "Reports")</li>
                                @*<li>@Html.ActionLink("Present and Absent Report", "PaReport", "Reports")</li>*@
                                <li>@Html.ActionLink("Dept. Wise Report", "DepartmentReport", "Reports")</li>
                                <li>@Html.ActionLink("Org. Attendance", "DepartmentAttendanceReport", "Reports")</li>
                                <li>@Html.ActionLink("Org. Performance", "DepartmentPerformanceReport", "Reports")</li>
                                <li>@Html.ActionLink("User Tracking Report", "UserTrackingReport", "Reports")</li>
                                <li>@Html.ActionLink("Devices Status Report", "DevicesStatusReportHR", "Reports")</li>
                                @*<li>@Html.ActionLink("Devices Status", "DevicesStatusReport", "Reports")</li>*@
                                @*<li>@Html.ActionLink("Devices Unregistered", "DevicesUnregistered", "Reports")</li>*@

                            </ul>
                        </li>

                        <li class="has_sub" id="HRManualMenu0">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="mdi mdi-book-open"></i><span> Training Manuals </span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Href("~/Content/TrainingManuals/TRMSUserManual.pdf")" target="_blank">User Manual</a></li>
                            </ul>
                        </li>

                        <li>
                            <a onclick="javascript:document.getElementById('logoutForm').submit()" class="waves-effect waves-primary">
                                <i class="mdi mdi-logout"></i><span> Log Off </span>
                            </a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                @RenderBody()
                <div id="toast2" class="toast-message" style='display:none'>Message!</div>
            </div>

            <!--<footer class="footer">
        @DateTime.Now.Year © TRMS by IOT Systems All rights reserved <span class="hide-phone">- <a href="http://www.iotsystems.com">http://www.iotsystems.com</a></span>
    </footer>-->

            <footer class="footer">
                @DateTime.Now.Year © TRMS. All rights reserved
            </footer>

            <div style="display:none;height:0px;width:0px;">

                <form id="csvDownloadForm" method="POST" action="/CSV/getFile" enctype="multipart/form-data">
                    <input id="csvDownloadData" type="hidden" name="base64stream" value="" />
                    <input id="csvDownloadName" type="hidden" name="fileName" value="" />
                </form>

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>


    <!-- Plugins  -->
    @*<script src="@Url.Content("/js/jquery.min.js")"></script>*@
    <script src="@Url.Content("/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("/js/popper.min.js")"></script><!-- Popper for Bootstrap -->
    <script src="@Url.Content("/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("/js/detect.js")"></script>
    <script src="@Url.Content("/js/fastclick.js")"></script>
    <script src="@Url.Content("/js/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("/js/waves.js")"></script>
    <script src="@Url.Content("/js/wow.min.js")"></script>
    <script src="@Url.Content("/js/jquery.nicescroll.js")"></script>
    <script src="@Url.Content("/js/jquery.scrollTo.min.js")"></script>
    <script src="@Url.Content("/plugins/switchery/switchery.min.js")"></script>

    <!-- Required datatable js -->
    <script src="@Url.Content("/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("/plugins/datatables/dataTables.bootstrap4.min.js")"></script>
    <!-- Buttons examples -->
    <script src="@Url.Content("/plugins/datatables/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("/plugins/datatables/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("/plugins/datatables/jszip.min.js")"></script>
    <script src="@Url.Content("/plugins/datatables/pdfmake.min.js")"></script>
    <script src="@Url.Content("/plugins/datatables/vfs_fonts.js")"></script>
    <script src="@Url.Content("/plugins/datatables/buttons.html5.min.js")"></script>
    <script src="@Url.Content("/plugins/datatables/buttons.print.min.js")"></script>
    <!-- Key Tables -->
    <script src="@Url.Content("/plugins/datatables/dataTables.keyTable.min.js")"></script>
    <!-- Responsive examples -->
    <script src="@Url.Content("/plugins/datatables/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("/plugins/datatables/responsive.bootstrap4.min.js")"></script>
    <!-- Selection table -->
    <script src="@Url.Content("/plugins/datatables/dataTables.select.min.js")"></script>

    <!-- Custom main Js -->
    <script src="@Url.Content("/js/jquery.core.js")"></script>
    <script src="@Url.Content("/js/jquery.app.js")"></script>

    <script src="@Url.Content("/Scripts/bootstrap-year-calendar.min.js")" type="text/javascript"></script> <!-- Jquery for bootstrap calendar -->
    <script src="@Url.Content("/Scripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script> <!-- Jquery UI Theme -->
    <script src="@Url.Content("/Scripts/mark.min.js")" type="text/javascript"></script> <!-- JS for marking text -->
    <script src="@Url.Content("/Scripts/modal.js")" type="text/javascript"></script> <!-- JS for modal making -->
    <script src="@Url.Content("/Scripts/timepicki.js")" type="text/javascript"></script> <!-- TimePicker JavaScript -->
    <script src="@Url.Content("/Scripts/chosen.jquery.js")" type="text/javascript"></script> <!-- Chosen JavaScript -->
    <script type="text/javascript" src="@Url.Content("/Scripts/tableexport.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.base64.js")"></script>
    <script src="@Url.Content("/js/jspdf.umd.min.js")"></script>
    <script src="@Url.Content("/js/jspdf.plugin.autotable.min.js")"></script>
    <script src="@Url.Content("/js/Amiri-Regular-normal.js")"></script>
    <script src="@Url.Content("/js/export-t.js")"></script>
    <script src="@Url.Content("/Scripts/custom.js")" type="text/javascript"></script> <!-- custom JavaScript -->
    <script src="@Url.Content("/Scripts/idle_timer.js")" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function (e) {



            var empCode= @Html.Raw(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId);

            $.ajax({
                url: '/HR/HR/VerfiyDataHandler',
                type: "POST",
                data: { empId: empCode },
                dataType: "json",

                success: function (data) {


                    if (data.HREmployeeManagement == false) {
                        $("#HREmpManagementMenu").hide();
                    }
                    if (data.HRHR == false) {
                        $("#MenuHR").hide();
                    }
                    if (data.HRLeaves == false) {
                        $("#HRLeavesMenu").hide();
                    }
                    if (data.HRPayrollLoan == false) {
                        $("#HRPayrollLoanMenu").hide();
                    }
                    if (data.HROvertime == false) {
                        $("#HROvertimeMenu").hide();
                    }
                    if (data.HRShiftManagement == false) {
                        $("#HRShiftManagementMenu").hide();
                    }
                    if (data.HRRoasterManagement == false) {
                        $("#HRRoasterManagementMenu").hide();
                    }
                    if (data.HRAttendanceManagement == false) {
                        $("#HRAttendanceManagementMenu").hide();
                    }
                    if (data.HRReport == false) {
                        $("#HRReportMenu").hide();
                    }
                    if (data.HRManual == false) {
                        $("#HRManualMenu").hide();
                    }

                    console.log(data);
                },
                error: function () {
                    alert("error");
                }
            });





            var tt_exp = "20"; //set the exp time in min
            tt_exp = (parseInt(tt_exp) * 60000);
            jQuery(document).bind("idle.idleTimer", function () {
                //alert("Session Timeout"); //here you can attach any function for timeout action even ajax call too.
                location.reload();
            });

            jQuery.idleTimer(tt_exp);


        });
        function changeText() {
            $('#test span').text('0');
        };

    </script>

    @RenderSection("JS", required: false)

    <div id="modals">

    </div>

    <div id="toast" class="toast-message" style='display:none;'>Message!</div>

</body>
</html>
