@{
    ViewBag.Title = "TRMS - Future Attendance";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

@model ViewModels.CreateManualAttendance

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Attendance Adjustment</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.paff")</h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-4">
                            @using (Html.BeginForm("FutureManualAttendance", "AttendanceManagement", FormMethod.Post, new { id = "attendance-form" }))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.empcode") <span class="text-danger font-14">*</span></label>
                                        <select id="employees" class="form-control" name="employee_code" required></select>
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.datefrom") <span class="text-danger font-14">*</span></label>
                                        <input type="text" class="form-control datepicker" id="from_date" name="time_in_from" autocomplete="off" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dateto") <span class="text-danger font-14">*</span></label>
                                        <input type="text" class="form-control datepicker" id="to_date" name="time_in_to" autocomplete="off" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.reason") <span class="text-danger font-14">*</span></label>
                                        <select id="remarks" class="chzn-select" name="remarks" style="width:100%;">
                                            <option disabled="disabled" selected="selected">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.selectoption")</option>
                                            <option value="OV">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.OV")</option>
                                            <option value="OM">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.OM")</option>
                                            <option value="OT">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.OT")</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-12 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" id="update" onclick="return validateFormData();" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.updateatt")</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <table id="attendance_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.datefrom")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dateto")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.empcode")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.remarks")</th>
                                        <th>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.action")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" class="btn btn-primary waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.exportgrid")</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->

@section JS {

    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
    <script>

        $(document).ready(function () {
            //$('#accordion').accordion("option", "active", 4);
            //setActiveLink("Future Manual Attendance");
            $(".chzn-select").chosen();
            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
            //$("input[type=submit], button").button();



            //$('#btnExport').button();
            $("#btnExport").click(function (e) {
                setupTableExportButton('#attendance_table', 'FutureAttendance');
                e.preventDefault();
            });

            /*
            $('#btnExport').button();
            $("#btnExport").click(function (e) {
                $('#attendance_table').tableExport({ type: 'excel', escape: 'false' });
                e.preventDefault();
            });

            */


            //initDataTable("#leavebalance_table");


            $('#employees').ajaxChosen({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("ChangeEmployeePasswordExceptSuperHRsDataHandler", "EmployeeManagement", null, Request.Url.Scheme)'
            }, {
                loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
            });




            var url = '@Url.Action("FutureManualAttendanceDataHandler", "AttendanceManagement", null, Request.Url.Scheme)';

            var columns = [
                   { "data": "from_date" },
                   { "data": "to_date" },
                   { "data": "employee_code" },
                   { "data": "remarks" },
                    { "data": "actions" }
            ];

            @*
               I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@

            initServerSideTable('#attendance_table', url, columns);
        });

        function validateFormData() {

            var eCode = $('#employees').val();
            if (eCode == null || eCode == "") {
                alert("'Employee Code' is required");
                //$('[name*="employee_code"]').focus();
                return false;
            }

            var fDate = $('#attendance-form').find('[name*="time_in_from"]').val().split("-");
            var tDate = $('#attendance-form').find('[name*="time_in_to"]').val().split("-");

            if (fDate == '') {
                alert("'From Date' is required to select");
                $('[name*="time_in_from"]').focus();
                return false;
            }

            if (tDate == '') {
                alert("'To Date' is required to select");
                $('[name*="time_in_to"]').focus();
                return false;
            }

            //alert(fDate);
            //alert(tDate);

            var dtFDate = new Date(fDate[2], fDate[1] - 1, fDate[0]);
            var dtTDate = new Date(tDate[2], tDate[1] - 1, tDate[0]);

            //alert(dtfDate);
            //alert(dttDate);

            //var timeDiff = Math.abs(tDate.getTime() - fDate.getTime());
            //var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1;

            var today = new Date();
            if (dtFDate < today) {
                alert("ONLY Future date is allowed in 'To Date'");
                return false;
            }

            if (dtTDate < today) {
                alert("ONLY Future date is allowed in 'To Date'");
                return false;
            }

            if (dtTDate < dtFDate) {
                alert("'To Date' should be greater than 'From Date'");
                return false;
            }


            var eRem = $('#remarks').val();
            if (eRem == null || eRem == "") {
                alert("'Remarks' is required");
                //$('[name*="employee_code"]').focus();
                return false;
            }

            var r = confirm("Are you sure you want to Update?");
            if (r == false) {
                return false;
            }


            return true;

        }


        function deleteLeave(lid) {

            var r = confirm("Are you sure you want to DELETE this record?");
            if (r == false) {
                return false;
            }

            var leaveId = lid;

            if (leaveId > 0) {

                $.ajax({
                    type: "POST",
                    url: '/HR/AttendanceManagement/DeleteLeave',
                    data: JSON.stringify({ id: leaveId }), //use id here
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        //alert(data.data);

                        if (data.data == "1") {
                            alert("Leave DELETED Successfully!");
                            window.location.href = "/HR/AttendanceManagement/FutureManualAttendance";
                        }
                        else {
                            alert("Error while deleting data");
                        }

                    },
                    error: function () {
                        alert("Error while deleting data");
                    }
                });

                return true;
            }
        }

    </script>
}