@{
    ViewBag.Title = "TRMS - Attendance Management";
    Layout = "~/Areas/HR/Views/Shared/_Layout.cshtml";
}

@model ViewModels.CreateManualAttendance

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("dashboard.welcome")  <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span></h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/HR">HR</a></li>
                    <li class="breadcrumb-item active">Attendance Adjustment</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.pafp")</h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("AddManualAttendance", "AttendanceManagement", FormMethod.Post, new { id = "attendance-form" }))
                            {
                                <div class="row">
                                    <div class="col-4">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.empcode") <span class="text-danger font-14">*</span></label>
                                        <select id="employees" class="form-control" name="employee_code" required></select>
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-4">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.datefrom") <span class="text-danger font-14">*</span></label>
                                        <input type="text" class="form-control datepicker" id="from_date" autocomplete="off" name="time_in_from" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-4">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.dateto") <span class="text-danger font-14">*</span></label>
                                        <input type="text" class="form-control datepicker" id="to_date" autocomplete="off" name="time_in_to" required />
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-4">
                                        <label class="control-label">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("report.reason") <span class="text-danger font-14">*</span></label>
                                        <select id="remarks" class="chzn-select" name="remarks" style="width:100%;">
                                            <option disabled="disabled" selected="selected">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.selectoption")</option>
                                            <option value="AB">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.AB")</option>
                                            <option value="PLO">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.PLO")</option>
                                            <option value="PO">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.PO")</option>
                                            <option value="PLE">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.PLE")</option>
                                            <option value="POE">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.POE")</option>
                                            <option value="OFF">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.OFF")</option>
                                            <option value="OV">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.OV")</option>
                                            <option value="OM">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.OM")</option>
                                            <option value="OT">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.OT")</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <div class="col-4 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <button type="submit" value="Submit" id="update" onclick="return validateFormData();" class="btn btn-primary waves-effect waves-light m-t-10">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.updateatt")</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <hr />

                 


                    <div class="row">
                        <div class="col-12">
                            <h2>@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.updatebyuf")</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <a href="~/Uploads/SamplePostAdjustment.csv">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.downloadsample")</a>
                        </div>

                        <div class="col-6">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            &nbsp;
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("UploadFileManualAttendance", "AttendanceManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="row">
                                    <div class="col-12 text-danger">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <label class="btn btn-primary" for="my-file-selector">
                                            <input id="my-file-selector" onchange="alertFilename()" type="file" name="file" value="alert" accept=".csv" style="display:none; ">
                                            @MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.click")
                                        </label>
                                        <h3 class="label" id="file-name"></h3>
                                    </div>

                                    <div class="col-4">
                                        <button id="btnUpload" type="submit" value="Submit" class="btn btn-danger waves-effect waves-light">@MvcApplication1.ViewModel.GlobalVariables.GetStringResource("attendance.uploadfile")</button>
                                        <label class="label">@ViewBag.Message</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->

@section JS {

    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
    <script>

        function alertFilename() {
            var thefile = document.getElementById('my-file-selector');
            document.getElementById('file-name').innerHTML = thefile.value;
        }

        $(document).ready(function () {
            //$('#accordion').accordion("option", "active", 4);
            //setActiveLink("Manual Attendance");
            $(".chzn-select").chosen();
            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
            //$("input[type=submit], button").button();




            ////setupTableExportButton('#attendance_table', 'ManualAttendance');


            /*
            $('#btnExport').button();
            $("#btnExport").click(function (e) {
                $('#attendance_table').tableExport({ type: 'excel', escape: 'false' });
                e.preventDefault();
            });

            */


            //initDataTable("#leavebalance_table");


            $('#employees').ajaxChosen({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("ChangeEmployeePasswordExceptSuperHRsDataHandler", "EmployeeManagement", null, Request.Url.Scheme)'
            }, {
                loadingImg: '@Href("~/Content/ChosenAutoComplete/loading.gif")'
            });


        
            var url = '@Url.Action("DataHandler", "AttendanceManagement", null, Request.Url.Scheme)';

            var columns = [
                  { "data": "date" },
                   { "data": "employee_code" },
                   { "data": "employee_first_name" },
                   { "data": "employee_last_name" },
                   { "data": "time_in" },
                   { "data": "status_in" },
                   { "data": "time_out" },
                   { "data": "status_out" },
                   { "data": "final_remarks" },
                   { "data": "terminal_in" },
                   { "data": "terminal_out" }

            ];

            @*
               I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@

            //initServerSideTable('#attendance_table', url, columns);
        });

        function validateFormData() {

            var eCode = $('#employees').val();
            if (eCode == null || eCode == "") {
                alert("'Employee Code' is required");
                //$('[name*="employee_code"]').focus();
                return false;
            }

            var fDate = $('#attendance-form').find('[name*="time_in_from"]').val().split("-");
            var tDate = $('#attendance-form').find('[name*="time_in_to"]').val().split("-");


            if (fDate == '') {
                alert("'From Date' is required to select");
                $('[name*="time_in_from"]').focus();
                return false;
            }

            if (tDate == '') {
                alert("'To Date' is required to select");
                $('[name*="time_in_to"]').focus();
                return false;
            }

            //alert(fDate);
            //alert(tDate);

            var dtFDate = new Date(fDate[2], fDate[1] - 1, fDate[0]);
            var dtTDate = new Date(tDate[2], tDate[1] - 1, tDate[0]);

            //alert(dtfDate);
            //alert(dttDate);

            //var timeDiff = Math.abs(tDate.getTime() - fDate.getTime());
            //var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1;

            var today = new Date();
            if (dtFDate >= today) {
                alert("ONLY Past date is allowed in 'From Date'");
                return false;
            }

            if (dtTDate >= today) {
                alert("ONLY Past date is allowed in 'To Date'");
                return false;
            }

            if (dtTDate < dtFDate) {
                alert("'To Date' should be greater than 'From Date'");
                return false;
            }

            var eRem = $('#remarks').val();
            if (eRem == null || eRem == "") {
                alert("'Remarks' is required");
                //$('[name*="employee_code"]').focus();
                return false;
            }

            var r = confirm("Are you sure you want to Update?");
            if (r == false) {
                return false;
            }

            return true;

        }




    </script>
}