@{
    ViewBag.Title = "TRMS - Devices Tracking Report";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

<style>
    .monthPicker {
        z-index: 1000;
    }
</style>

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Welcome <span class="text-danger">'SuperAdmin'</span>! [Login ID: <span class="text-warning" title="@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId)">@User.Identity.Name</span> & Name: <span class="text-success">@User.Identity.Name</span>]</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/SU">SU</a></li>
                    <li class="breadcrumb-item active">Devices Tracking Report</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h3 class="text-right"><i class="ti-files"></i> Devices Tracking Report </h3>
                        </div>
                        <div class="pull-right small text-muted">
                            @DateTime.Now.ToString("f")
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div id="monthly-time-sheet" class="form-group col-md-4">
                            <form id="consolidate-form">

                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Month</label>
                                        <input id="date_from" type="text" class="form-control monthPicker" autocomplete="off" name="from_date" required>


                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" id="search-consolidated-report" onclick="clearr();" style="margin-top:5px">Search</button>&nbsp;
                                        <button type="submit" id="btn-excel-download" onclick="ExcleHide();" style="margin-top:5px; margin-left: 40px; display:none" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onmouseover="this.className = 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover';" onmouseout="this.className = 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only';" role="button" aria-disabled="false">
                                            <span class="ui-button-text">Download Excel</span>
                                        </button>&nbsp;<span id="export_wait" style="display: none;  MARGIN-RIGHT: -2%;font-size: 119%; color: red;"><img src='/images/loader.gif' style='width: 110px; margin-left: 34%;' alt='processing' /></span>
                                    </div>
                                </div>
                            </form>

                        </div>



                        @*<section>
                <div id='myChart'><a class="zc-ref"></a></div>
            </section>*@

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12">
                            <table id="attendance_table" class="table table-striped table-bordered dataTable dt-responsive nowrap no-footer small" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Employee Number</th>
                                        <th>Terminal ID</th>
                                        <th>Branch Code</th>
                                        <th>Branch Name</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-12">
                            <button type="submit" id="btnExport" onclick="ExortExcleBar();" class="btn btn-primary waves-effect waves-light">Export Grid Data</button>
                            <button type="submit" id="generate-monthly-time-sheet" form="monthly-time-sheet-form" class="btn btn-primary waves-effect waves-light" style="display:none" onclick="return validateFormInfo();">Export PDF</button>
                            <span id="export_wait" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></span><span id="pdf-no-data-found" class="text-danger">@ViewData["PDFNoDataFound"]</span>
                            <span id="demo" class="text-danger"></span>
                            <p id="export_wait2" style="display: none;" class="text-danger"><img src='/images/loader.gif' alt='processing' /></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->
<!-- Custom Modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Message Alert</h4>
            </div>
            <div class="modal-body">
                <span id="alert_message"></span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




@section JS {
    @*<script src="~/Scripts/zingchart.min.js"></script>*@
    <script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
    <script type="text/javascript" src="@Href("~/Scripts/monthpicker.js")"></script>
    @*<script type="text/javascript" src="@Href("~/Scripts/monthpicker.js")"></script>*@

    <script type="text/javascript">
        function ExcleHide() {
            HideMessage();
        }
        function ExortExcleBar() {
            $('#export_wait2').show();
            document.getElementById("btnExport").disabled = true;
            HideBarExcle();
            var ss = $("#attendance_table tr").children("td:first").text();
            if (ss == "No data available in table" || ss == "" || ss == " ") { document.getElementById("demo").innerHTML = "No Data Found."; }
            else { DownloadExcleCsv(); }
        }
        function DownloadExcleCsv() { setupTableExportButton('#attendance_table', 'DeviceTrackingReport'); }

        function HideBarExcle() {
            setTimeout(function () { $('#export_wait2').hide(); document.getElementById("btnExport").disabled = false; document.getElementById("demo").innerHTML = ""; }, 1500);
        }

        function ValidateDate(dtValue) {
            var dtRegex = new RegExp(/\b\d{1,2}[\/-]\d{1,2}[\/-]\d{4}\b/);
            return dtRegex.test(dtValue);
        }
        function searchReport() {
            // get the entered string
            var toSearch = $('attendance_table_filter input').val();

            $('#attendance_table').DataTable().search(toSearch);
            $('#attendance_table').DataTable().draw();
        }

        function initReportDataTable(identifier, url, columns) {
            var oTable = $(identifier).DataTable({
                "searchDelay": 2000,
                "scrollY": "300px",
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": url,
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {
                        //$('#consolidated-employees').val() != "" &&
                        if ($('#date_from').val() != "") {
                            var dtVal = $('#date_from').val();

                            data.from_date = $('#date_from').val();


                        }
                        return data = JSON.stringify(data);
                    }
                },
                "scrollX": true,
                "scrollCollapse": true,
                "processing": true,
                "paging": true,
                "deferRender": true,
                "columns": columns,
                "order": [0, "desc"],
                "iDisplayLength": 3000,
                "aLengthMenu": [[10, 25, 50, 100, 500, 1000, 1500, 3000, 5000], [10, 25, 50, 100, 500, 1000, 1500, 3000, 5000]]

            });

            oTable.on("draw", function () {
                var keyword = $(identifier + '_filter > label:eq(0) > input').val();
                $(identifier).unmark();
                $(identifier).mark(keyword, {});



                $(identifier + ' tbody tr').click(function (e) {
                    $('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                });
            });


            // set the z-index of the 'processing...' overlay
            // to a great number, so that it may always display
            // on top of the table. Also set the text color
            // to black as it is white by default.
            $(identifier + '_processing').css({
                "z-index": "1000",
                "color": "rgb(0, 0, 0)"
            });


            // initiate search one second after the user
            // stops typing.
            function setSearchDelayOnDataTable(idSelector) {
                // remove all events from the search box
                $(idSelector + '_filter input').off();


                function customDataTableSearch() {

                    // get the entered string
                    var toSearch = $(idSelector + '_filter input').val();

                    // do nothing if the string is null.
                    // I've not tested this, it is just
                    // in case.
                    if (toSearch == null) {
                        return;
                    }

                    // initiate search programatically.
                    $(idSelector).DataTable().search(toSearch).draw();
                }

                // this variable holds the timer
                var timeout;

                // register a keypress on the search box
                $(idSelector + '_filter input').keypress(function () {
                    if (timeout != null) {
                        clearTimeout(timeout);
                        timeout = null;
                    }

                    // timeout set to 1 second.
                    timeout = setTimeout(customDataTableSearch, 1000);
                });

            }

            setSearchDelayOnDataTable(identifier);
        }


        function clearr() {

            //var FromDate = $('#date_from').val();
            //var ToDate = $('#date_to').val();
            //if (ToDate == "" || ToDate == null || FromDate == "" || FromDate == null) {
            //    validate_data();
            //} else {
            //    $('input[type="search"]').focus();
            //    $('input[type="search"]').val("");
            //    $('#attendance_table').DataTable().search("");
            //    $('#attendance_table').DataTable().draw();
            //    $('input[type="search"]').blur();

            //    document.getElementById("btn-excel-download").disabled = false;
            //    $('#export_wait').html("");
            //}


            $('input[type="search"]').focus();
            $('input[type="search"]').val("");
            $('#attendance_table').DataTable().search("");
            $('#attendance_table').DataTable().draw();
            $('input[type="search"]').blur();

            document.getElementById("btn-excel-download").disabled = false;
            $('#export_wait').hide();
        }


        function HideMessage() { setTimeout(function () { $('#export_wait').hide(); document.getElementById("btn-excel-download").disabled = false; }, 5000); }



        function submitcheck() {


            searchReport();


            return true;

        }

        $(document).ready(function () {






            $('#accordion').accordion("option", "active", 5);

            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode != 13 && unicode != 8 && unicode != 9) { e.preventDefault(); }
            });

            $('.hasDatepicker').keydown(function (e) {
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                if (unicode == 8) { e.preventDefault(); e.stopPropagation(); }
            });
            setActiveLink("View Consolidated Report");
            var present = 0;
            var absent = 0;
            var late = 0;
            var onTime = 0;
            var earlyGone = 0;

            var check = false;

            $('#btnExport').button();

            //
            $('#search-consolidated-report').button();
            $("#search-consolidated-report").click(function (e) {

                if ($('#date_from').val() == "") {
                    alert("Please select 'From Date'");
                    $('#date_from').focus();
                    return false;
                }

                if ($('#date_to').val() == "") {
                    alert("Please select 'To Date'");
                    $('#date_to').focus();
                    return false;
                }

                submitcheck();
                //  serializeAndSend();
                e.preventDefault();
            });


            //download excel
            $("#btn-excel-download").click(function (e) {

                if ($('#date_from').val() == "") {
                    alert("Please select 'From Date'");
                    $('#date_from').focus();
                    return false;
                }

                if ($('#date_to').val() == "") {
                    alert("Please select 'To Date'");
                    $('#date_to').focus();
                    return false;
                }

                //alert($('#export_wait').html());

                if ($('#export_wait').html() == "No Data Found.") {
                    $('#export_wait').html("<img src='/images/loader.gif' style='width: 110px ; margin-left: 34%;' alt='processing'>");
                }

                $('#export_wait').show();

                var post_data = {
                    "employee_id": $('#consolidated-employees').val(),
                    "from_date": $('#date_from').val(),
                    "to_date": $('#date_to').val()
                };

                $("#btn-excel-download").attr("disabled", "disabled");

                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/HR/Reports/ConsolidatedReportExcelDownload',
                    data: post_data,
                    //contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (data) {

                        if (data.FileGuid != "" & data.FileName != "") {

                            $('#export_wait').hide();
                            $("#btn-excel-download").removeAttr("disabled");

                            //console.log('export done successfully InShaAllah!!!');
                            //var response = JSON.stringify(data);
                            //alert(data.FileGuid + ' >> ' + data.FileName);

                            window.location = '/HR/Reports/Download?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
                        }
                        else {
                            $('#export_wait').html("No Data Found.");
                        }
                    },
                    error: function (jq) {
                        console.log('Error: ' + jq.responseText);
                    }

                });
                //  serializeAndSend();
                e.preventDefault();
            });

            var url = '@Url.Action("DevicesTrackingReportHRDataHandler", "SU", null, Request.Url.Scheme)';

            var columns = [
                  { "data": "date" },
                   { "data": "Name" },
                   { "data": "C_Unique" },
                   { "data": "L_TID" },
                   { "data": "branchCode" },
                   { "data": "branchName" },
                   { "data": "Status" },

            ];

            @*
                   I did this so that like initDataTables the JS
            for serverside processing can be used for other tables.
                NOTE: The names of the columns correspond to the View Model.
            For example in this example the column names, first_name, last_name
            etc are taken from ViewModels.Employee
        *@

            initReportDataTable('#attendance_table', url, columns);

        });
    </script>
}