@{
    ViewBag.Title = "TRMS - My Profile";
    Layout = "~/Areas/SLM/Views/Shared/_Layout.cshtml";
}

@model ViewModels.Employee

<!-- Start content -->
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Welcome <span class="text-danger">'SLM'</span>! [Login ID: <span class="text-warning" title="@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeId)">@User.Identity.Name</span> & Name: <span class="text-success">@MvcApplication1.ViewModel.GlobalVariables.CheckNULLValidation(MvcApplication1.ViewModel.GlobalVariables.GV_EmployeeName)</span>]</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/SLM/SLM/Dashboard">SLM</a></li>
                    <li class="breadcrumb-item active">My Profile</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Page-Content -->
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="text-center card-box">
                <div class="member-card">
                    <div class="thumb-xl member-thumb m-b-10 center-block">
                        @if (Model.photograph != null && Model.photograph.ToString() != "")
                        {
                            <img src="/Content/UserDocs/@Model.photograph" class="rounded-circle img-thumbnail" alt="profile-image">
                        }
                        else
                        {
                            <img src="/images/users/user.png" class="rounded-circle img-thumbnail" alt="profile-image">
                        }

                    </div>

                    <div class="">
                        <h3 class="m-b-5">@Model.first_name @Model.last_name</h3>
                        @if (Model.access_group_id == 1)
                        {
                            <p class="text-muted h4">User Type: HR</p>
                        }
                        else if (Model.access_group_id == 2)
                        {
                            <p class="text-muted h4">User Type: LM</p>
                        }
                        else if (Model.access_group_id == 3)
                        {
                            <p class="text-muted h4">User Type: EMP</p>
                        }
                        else if (Model.access_group_id == 4)
                        {
                            <p class="text-muted h4">User Type: SLM</p>
                        }
                        else
                        {
                            <p class="text-muted h4">User Type: N/A</p>
                        }

                    </div>

                    <!--<button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Print Profile</button>
                    <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light" style="display: none;">Deactivate</button>-->


                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>First Name:</strong> <span class="m-l-15">@Model.first_name</span></p>

                        <p class="text-muted font-13"><strong>Last Name:</strong> <span class="m-l-15">@Model.last_name</span></p>

                        <p class="text-muted font-13"><strong>Mobile:</strong><span class="m-l-15">@Model.mobile_no</span></p>

                        <p class="text-muted font-13"><strong>Email:</strong> <span class="m-l-15">@Model.email</span></p>

                    </div>

                    <ul class="social-links list-inline m-t-30">
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>

                </div>

            </div> <!-- end card-box -->

            <div class="card-box d-none">
                <h4 class="m-t-0 m-b-20 header-title">Leaves Allocated</h4>

                <div class="p-b-10">
                    <p>Allocated Sick Leaves</p>
                    <div class="progress progress-sm">
                        @Model.sick_leaves
                    </div>
                    <p>Allocated Casual Leaves</p>
                    <div class="progress progress-sm">
                        @Model.casual_leaves
                    </div>
                    <p>Allocated Annual Leaves</p>
                    <div class="progress progress-sm mb-0">
                        @Model.annual_leaves
                    </div>
                </div>
            </div>

        </div> <!-- end col -->


        <div class="col-lg-8 col-xl-9">
            <div class="">
                <div class="card-box">
                    <ul class="nav nav-tabs tabs-bordered">
                        <li class="nav-item">
                            <a href="#settings" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                SETTINGS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#profile" data-toggle="tab" aria-expanded="false" class="nav-link">
                                DOCUMENTS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link">
                                ABOUT ME
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="home">
                            <p class="m-b-5">
                                @Model.description
                            </p>

                            <div class="m-t-30 d-none">
                                <h5>Experience</h5>

                                <div class="p-t-10">
                                    <h6 class="text-primary m-b-5">Lead designer / Developer</h6>
                                    <p class="">websitename.com</p>
                                    <p><b>2010-2015</b></p>

                                    <p class="text-muted font-13 m-b-0">
                                        Lorem Ipsum is simply dummy text
                                        of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book.
                                    </p>
                                </div>

                                <hr>

                                <div class="">
                                    <h6 class="text-primary m-b-5">Senior Graphic Designer</h6>
                                    <p class="">coderthemes.com</p>
                                    <p><b>2007-2009</b></p>

                                    <p class="text-muted font-13">
                                        Lorem Ipsum is simply dummy text
                                        of the printing and typesetting industry. Lorem Ipsum has
                                        been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile">
                            <div class="row">



                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        @if (Model.file_01 != null && Model.file_01.ToString() != "")
                                        {
                                            <a class='waves-effect waves-light text-danger text-center' href="javascript:void(popup('@Model.file_01'));"><img src="~/Content/UserDocs/@Model.file_01" class="thumb-img" alt="work-thumbnail" /></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="image-popup" title="Screenshot-2">
                                                <img src="/images/slip.png" class="thumb-img" alt="work-thumbnail">
                                            </a>
                                        }
                                        <h4 class="text-center">CNIC</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>image</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        @if (Model.file_02 != null && Model.file_02.ToString() != "")
                                        {
                                            <a class='waves-effect waves-light text-danger text-center' href="javascript:void(popup('@Model.file_02'));"><img src="~/Content/UserDocs/@Model.file_02" class="thumb-img" alt="work-thumbnail" /></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="image-popup" title="Screenshot-2">
                                                <img src="/images/slip.png" class="thumb-img" alt="work-thumbnail">
                                            </a>
                                        }
                                        <h4 class="text-center">Experience Certificate</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>image</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        @if (Model.file_03 != null && Model.file_03.ToString() != "")
                                        {
                                            <a class='waves-effect waves-light text-danger text-center' href="javascript:void(popup('@Model.file_03'));"><img src="~/Content/UserDocs/@Model.file_03" class="thumb-img" alt="work-thumbnail" /></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="image-popup" title="Screenshot-2">
                                                <img src="/images/slip.png" class="thumb-img" alt="work-thumbnail">
                                            </a>
                                        }
                                        <h4 class="text-center">Degree/Certificate</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>image</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        @if (Model.file_04 != null && Model.file_04.ToString() != "")
                                        {
                                            <a class='waves-effect waves-light text-danger text-center' href="javascript:void(popup('@Model.file_04'));"><img src="~/Content/UserDocs/@Model.file_04" class="thumb-img" alt="work-thumbnail" /></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="image-popup" title="Screenshot-2">
                                                <img src="/images/slip.png" class="thumb-img" alt="work-thumbnail">
                                            </a>
                                        }
                                        <h4 class="text-center">Other Upload</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>image</small></p>
                                    </div>
                                </div>

                                <!-- Fee SLips <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="/images/slip.png" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Fee Slip - Feb 2018</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="/images/slip.png" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Fee Slip - Jan 2018</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                        <div class="tab-pane active" id="settings">
                            <form role="form">
                                <div class="form-group">
                                    <label for="EmpCode">Employee Code: </label>
                                    <label class="text-primary">@Model.employee_code</label>
                                </div>

                                <div class="form-group">
                                    <label for="FirstName">First Name: </label>
                                    <label class="text-primary">@Model.first_name</label>
                                </div>

                                <div class="form-group">
                                    <label for="LastName">Last Name: </label>
                                    <label class="text-primary">@Model.last_name</label>
                                </div>

                                <div class="form-group">
                                    <label for="DateOfJoining">Date of Joining: </label>
                                    <label class="text-primary">@Model.date_of_joining</label>
                                </div>

                                <div class="form-group">
                                    <label for="MobileNumber">Mobile Number: </label>
                                    <label class="text-primary">@Model.mobile_no</label>
                                </div>

                                <div class="form-group">
                                    <label for="Email">Email: </label>
                                    <label class="text-primary">@Model.email</label>
                                </div>

                                <div class="form-group">
                                    <label for="EC-1">Emergency Contact 1: </label>
                                    <label class="text-primary">@Model.emergency_contact_01</label>
                                </div>

                                <div class="form-group">
                                    <label for="EC-2">Emergency Contact 2: </label>
                                    <label class="text-primary">@Model.emergency_contact_02</label>
                                </div>

                                <div class="form-group">
                                    <label for="SkL">Sick Leaves Allocated: </label>
                                    <label class="text-primary">@Model.sick_leaves</label>
                                </div>

                                <div class="form-group">
                                    <label for="ClL">Casual Leaves Allocated: </label>
                                    <label class="text-primary">@Model.casual_leaves</label>
                                </div>

                                <div class="form-group">
                                    <label for="AlL">Annual Leaves Allocated: </label>
                                    <label class="text-primary">@Model.annual_leaves</label>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- End content -->


<div id="MidTermModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MidTermModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="CenterModalLabel">View</h4>
            </div>
            <div class="modal-body text-center">
                <img id="image_source" src="~/Images/no-image.png" width="300" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- Custom Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Message Alert</h4>
            </div>
            <div class="modal-body">
                <span id="alert_message"></span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section JS {
    <script>
        $(document).ready(function () {



        });

        popup = function viewImage(image_name) {
            $('#image_source').attr("src", "/Content/UserDocs/" + image_name);
            $('#MidTermModal').modal('show');
        }
    </script>
}